<div class="main">
    <div id="top">
        <h4 id="heading">Filters</h4>
        <h6 id="clearAll" (click)="clearAll()">Clear All</h6>
    </div>
    <div id="categories">
        <div class="heads">
            <h4 id="catgHeading">Categories</h4>
            <i *ngIf="hideCatg" (click)="hideCatg=!hideCatg" class="fa fa-angle-down arrowIcon"></i>
            <i *ngIf="!hideCatg" (click)="hideCatg=!hideCatg" class="fa fa-angle-up arrowIcon"></i>
        </div>
        <div [hidden]="hideCatg" style="max-height: 150px; overflow: auto;">
            <div *ngFor="let catg of categories">
                <input type="checkbox" class="check" [(ngModel)]="catg.value" (change)="filterProd()"><label class="labels">{{catg.name}}</label>
            </div>
        </div>
    </div>
    <div id="priceRange">
        <h4 id="priceHeading">Price Range</h4>
        <div id="priceContainer">
            <div id="sliderContainer">
                <!-- <input type="range" id="pRangeMin" min="0" max={{maxPrice}} [(ngModel)]="minPrice"> -->
                <input type="range" id="pRangeMax" min={{minPrice}} max={{priceMax}} [(ngModel)]="maxPrice" (change)="filterProd()">
            </div>
           <div id="priceHead">
            <h6 id="min">0</h6> <h6 id="max">{{priceMax}}</h6>
           </div>
        </div>
        <div id="pricemaxminContainer">
            <h6 class="pricemaxmin" style="text-align: left;">Min: Rs. {{minPrice}}</h6> <h6 class="pricemaxmin" style="text-align: right;">Max: Rs. {{maxPrice}}</h6>
        </div>
    </div>
    <div id="colors">
        <div class="heads">
            <h4 id="colorHeading">Colors</h4>
            <i *ngIf="hideColor" (click)="hideColor=!hideColor" class="fa fa-angle-down arrowIcon"></i>
            <i *ngIf="!hideColor" (click)="hideColor=!hideColor" class="fa fa-angle-up arrowIcon"></i>
        </div>
        <div [hidden]="hideColor">
            <div *ngFor="let color of colors">
                <input type="checkbox" class="check" [(ngModel)]="color.value" (change)="filterProd()"><label class="labels">{{color.name}}</label>
            </div>
        </div>
    </div>
    <div id="brands">
        <div class="heads">
            <h4 id="brandHeading">Brands</h4>
            <i *ngIf="hideBrand" (click)="hideBrand=!hideBrand" class="fa fa-angle-down arrowIcon"></i>
            <i *ngIf="!hideBrand" (click)="hideBrand=!hideBrand" class="fa fa-angle-up arrowIcon"></i>
        </div>
        <div [hidden]="hideBrand">
            <div *ngFor="let brand of brands">
                <input type="checkbox" class="check" [(ngModel)]="brand.value" (change)="filterProd()"><label class="labels">{{brand.name}}</label>
            </div>
        </div>
    </div>
    <div id="availablity">
        <div class="heads">
            <h4 id="availablityHeading">Availability</h4>
            <i *ngIf="hideAvailability" (click)="hideAvailability=!hideAvailability" class="fa fa-angle-down arrowIcon"></i>
            <i *ngIf="!hideAvailability" (click)="hideAvailability=!hideAvailability" class="fa fa-angle-up arrowIcon"></i>
        </div>
        <div [hidden]="hideAvailability">
            <div>
                <input type="checkbox" class="check" [(ngModel)]="availabilityCheck" (change)="filterProd()"><label class="labels">Exclude Out of Stock</label>
            </div>
        </div>
    </div>
</div>