.main{
    background-color: white;
    width:250px;
    /* padding: 10px; */
    margin-right: 10px;
    margin-left: 25px;
    margin-top: 0px;
    box-shadow: 0px 0px 3px 1px rgb(214, 214, 214);
    /* border: 1px solid black; */
}
#heading{
    font-size: 22px;
    margin-left: 5px;
    margin-top: 2px;
    font-weight: 600;
}
#clearAll{
    font-size: 13px;
    margin-left: 100px;
    margin-top: 10px;
    color:#2874f0;
    cursor: pointer;
}
#top{
    padding: 10px;
    display: flex;
    border-bottom: 1px solid rgb(226, 226, 226);
}
#categories,#colors,#brands,#priceRange,#availablity{    
    padding: 10px;
    border-bottom: 1px solid rgb(231, 231, 231);
}
#catgHeading,#colorHeading,#brandHeading,#priceHeading,#availablityHeading{
    font-size: 15px;
    font-weight: 500;
    margin-left: 5px;
    margin-top: 2px;
    width:90%;
}
.labels{
    margin-left: 10px;
    font-size: 14px;
    margin-top: -3px;
}
.check{
    font-size: 10px;
    margin-left: 10px;
}
#pricemaxminContainer{
    margin-top: 10px;
    display: flex;
}
.pricemaxmin{
    padding:0 10px;
    font-size: 14px;
    width:50%;
}
#priceHead{
    display: flex;
}
#min{
    font-size: 13px;
    margin-left: 2px;
}
#max{
    font-size: 13px;
    margin-left: 160px;
}
#priceContainer{
    margin-left: 10px;
}
#sliderContainer{
    display: flex;
}
/* #pRangeMin{
    width:90px;
    margin-right: -3px;
} */
#pRangeMax{
    margin-left: 2px;
    width:190px;
}
.arrowIcon{
    font-size: 15px;
    margin:auto 0;
}

.heads{
    display: flex;
}