.star1{
    color:gold;
    font-size: 30px;
    margin-left: 2px;
    cursor: pointer;
}
.star2{
    color:rgb(201, 201, 201);
    font-size: 30px;
    margin-left: 2px;
    cursor: pointer;
}
.btnSubmit{
  /* margin:15px 0px; */
  padding:3px 10px;
  background-color: #fa955a;
  margin-right: 15px;
  color:white;
  border: none;
  width:100px;
  height:40px;
  outline: none;
}
.btnSubmitDisabled{
    /* margin:15px 0px; */
    padding:3px 10px;
    background-color: #ffb68c;
    margin-right: 15px;
    color:white;
    border: none;
    width:100px;
    height:40px;
    outline: none;
  }
.btnCancel{
    padding:3px 10px;
    background-color: #777777;
    margin-left: 15px;
    color:white;
    border: none;
    width:100px;
    height:40px;
    outline: none;
  }
.rateDiv{
    background-color: white;
    padding: 20px 30px;
    margin: auto;
    height:fit-content;
    width: fit-content;
    align-content: center;
    box-shadow: 0px 0px 3px 1px gray;
}
.cmnt{
    border-radius: 5px;
    border-color: silver;
    outline: none;
    margin-top: 3px;
}
.main{
    z-index: 99;
    position: fixed;
    top: 0%;
    background-color: rgba(255, 255, 255, 0.40);
    height:100%;
    padding: auto;
    width:100%;
    display:flex;
}