<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="main" (click)="cancel()">
  <div class="rateDiv" (click)="func($event)">
    <div style="display: flex; width:100%">
      <div style="margin-bottom: 20px;width:60%">
        <h4 style="font-weight: 700; display: inline;">{{prodName}}</h4>
      </div>
      <div style="text-align: left; width:40%; min-width: 170px; margin-top: 0px;">
        <i class="fa fa-star star1" *ngIf="rating>0" (click)="ratingFunc(1)"></i>
        <i class="fa fa-star star1" *ngIf="rating>1" (click)="ratingFunc(2)"></i>
        <i class="fa fa-star star1" *ngIf="rating>2" (click)="ratingFunc(3)"></i>
        <i class="fa fa-star star1" *ngIf="rating>3" (click)="ratingFunc(4)"></i>
        <i class="fa fa-star star1" *ngIf="rating>4" (click)="ratingFunc(5)"></i>
        <i class="fa fa-star star2" *ngIf="rating<1" (click)="ratingFunc(1)"></i>
        <i class="fa fa-star star2" *ngIf="rating<2" (click)="ratingFunc(2)"></i>
        <i class="fa fa-star star2" *ngIf="rating<3" (click)="ratingFunc(3)"></i>
        <i class="fa fa-star star2" *ngIf="rating<4" (click)="ratingFunc(4)"></i>
        <i class="fa fa-star star2" *ngIf="rating<5" (click)="ratingFunc(5)"></i>
      </div>
    </div>
    <div style="margin-bottom: 10px; width:100%">
      <input type="text" style="width:100%; font-weight: 600;" placeholder="Add review Heading" name="heading" [(ngModel)]="heading">
    </div>
    <div>
      <textarea type="textarea" rows="4" cols="50" placeholder="Add your Review" name="comment" [(ngModel)]="comment"></textarea>
    <br>
    </div>
    <div style="text-align: center; width:100%;margin-top: 10px;">
      <button [ngClass]="{'btnSubmit':rating>0,'btnSubmitDisabled':rating<1}" [disabled]="rating<1" (click)="submitRating()"><span style="font-weight: 600;">Rate</span></button>
      <button class="btnCancel" (click)="cancel()"><span style="font-weight: 600;">Cancel</span></button>
    </div>
  </div>
</div>