<div class="footer">
    <a href="#c" id="details"><i class="fa fa-copyright"></i>2020 Megamart. All rights Reserved.</a>
    <a href="#info" id="contact">Contact Us: Info@megamart.com</a>
    <a href="#social" id="twitter">Twitter</a>
    <a href="#social" id="facebook">Facebook</a>
    <a href="#social" id="social">Social</a>
</div>