.footer {
  background-color: rgb(126, 126, 126);
  height: 50px;
  color:white;
  position: fixed; 
  bottom: 0; 
  width: 100%; 
}
a{
  margin: 4px 2px;
  color:rgb(220, 220, 220);
  font-size: 14px;
  position: relative;
  margin-top: 15px;
}
#details{
  float: left;
  margin-left: 30px;
}
#contact{
  float: left;
  margin-left: 20%;

}
#social{
  float: right;
  margin-right: 15px;
}
#twitter{
  float: right;
  margin-right: 60px;
}
#facebook{
  float: right;
  margin-right: 15px;
}
i{
  font-size: 17px;
  margin-right: 10px;
  color:rgb(220, 220, 220);
}