

.icn {
    height: 25px;
    width: 25px;
    display: block;
}

* {
  box-sizing: border-box;
}
.badge {
  position: absolute;
  top: 10px;
  padding: 3px 5px;
  border-radius: 50%;
  background: red;
  color: white;
  outline: white;
  border: white;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.imgss:hover{
  cursor: pointer;
}


/* Float four columns side by side */
.column2 {
  float: left;
  width: 33%;
  height: 450px;
  padding: 0 10px;
  background-color: white;
}


.card2{
  box-shadow: 0px 0px 5px 3px rgb(226, 226, 226);
  /* transform: scale(1.01);
  z-index: 0; */
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column2 {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card2 { 
  z-index: 0;
  padding: 0px;
  text-align: center;
  /* background-color: white; */
  width:90%;
  height:90%;
  border: white;
  margin:5px auto;
  /* height:100%; */
  /* width:100%; */
  position:relative;
  /* border: 1px solid red; */
  overflow:hidden;
  /* transition: trasform 0.2s; */
  min-width: 230px;
}

.sold_out {
  top: 2em;
  left: -5em;
  color: #fff;
  display: block;
  position: absolute;
  
  text-align: center;
  text-decoration: none;
  letter-spacing: .06em;
  background-color: #A00;
  padding: 0.5em 5em 0.4em 5em;
  text-shadow: 0 0 0.75em #444;
  box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
  font: bold 16px/1.2em Arial, Sans-Serif;
  -webkit-text-shadow: 0 0 0.75em #444;
  -webkit-box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
  -webkit-transform: rotate(-45deg) scale(0.75,1);
  z-index:1;
}

.bsave{
  background-color:#fb641b;
  /* text-align: left; */
  color: white;
  border: none;
  padding-bottom: 4px;
  padding-top: 4px;
  padding-left: 20px;
  padding-right: 20px;   
  margin-top: -7px;
  border-radius: 2px;
  width: 60%;
  text-align: center;
}
.bsave:focus{
outline: #00a4d3;
}
.bsave1{
  background-color: white;
  color: blue;
  border: none;
  width: 10%;
  height: 10%;
}
/*h6{
  border-style: solid; 
  border-width: thin; 
  padding-left: 5px; 
  color:gray;
  text-align: left;
}*/
h6{
  padding-left: 2px;
  text-align: left;
}
.card > h6:hover{
  cursor: pointer;
}
/*SEARCH FORM*/
.search-form {
  border-radius: 30px 0px 0px 30px;
  /*border-radius:Top-left, Top-right, Bottom-right, Bottom-left;*/
}
/*to cange only one form and not all give unique class name like  class="search-form" */
.search-btn {
  border-radius: 0px 30px 30px 0px;
  cursor:pointer;
  color: black;
  background-color: white;
  border-color: gray;
}
.box{
	width: 500px;
	height: 10px;
	background-color: white;
	border-radius: 30px;
	display: flex;
	align-items: center;
  padding: 20px;
  border: 1px gray solid;
}

.box > i {
	font-size: 20px;
  color: #777;
}
.box > input{
	flex: 1;
	height: 20px;
	border: none;
	outline: none;
	font-size: 18px;
	padding-left: 10px;
}
#listing_pagination /deep/ .ngx-pagination .current {
  background:  00a4d;
  /*border-radius: 4px;
  padding-left: 9px;
  padding-right: 9px;
  border: 1px solid gray;*/
}
.pageNumBtn{
  border-radius: 1px; 
  border: none; 
  background-color:#2874f0;
  color: white;
  height:25px;
  width:30px;
  margin: 5px;
  margin-top: 0px;
  text-align: center;
}

.sortclass:hover{
  cursor: pointer;
}

.sortclass2{
  cursor: pointer;
  border-bottom: 3px solid #2874f0;
}
