<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type="text/css"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body style="background-color:  rgb(231, 231, 231); width:100%;">
  <app-navbar style="z-index: 5; position: relative;" [parentPage]="homepage" (searchRes)="searchProduct2($event)"></app-navbar>
  <br><br><br><br>
  <div style="display: flex; width:100%;justify-content: center;" >
    <!-- <div>
      <app-filter-product (result)="filterProdDisplay($event)"></app-filter-product>
    </div> -->
    <div style="width: 100%;  max-width: 1400px; ">
      <div style="width:100%;">
        <!-- <div class="box" style="margin:0 auto;">
          <i class="fa fa-search" aria-hidden="true" (click)="toggleDispSearch(searchId.value)"></i>
          <input type="text" placeholder="Search" style="color: gray;" #searchId name="Search" [(ngModel)]="searchId1">
        </div> -->
      </div>
      <!-- <br> -->
      <div id="subMain" style="width:100%; overflow: auto;">
        <div style="display: flex;width:100% ">
          <div>
            <app-filter-product (result)="filterProdDisplay($event)"></app-filter-product>
          </div>
          <div [hidden]="isShow" id="ll" class="row2" style="padding:10px 2%; margin: 0 2%; background-color: white; width:100%;">
            <div style="width:100%;border-bottom: 1px solid rgb(199, 199, 199); display:flex;">
              <h6  style="font-weight: 700; font-size: 20px; margin-right: 30px;">Sort By</h6>
              <h6 [ngClass]="{'sortclass':priceLH<1,'sortclass2':priceLH==1}" style="margin:5px 0px;" (click)="sortFunction('priceLowToHigh')">Price--Low to High</h6>
             <!-- <i class="sortclass" style="margin:5px 0px; margin-right:20px;" class="fa fa-sort-amount-down-alt"></i>-->
              <h6 [ngClass]="{'sortclass':priceLH>-1,'sortclass2':priceLH==-1}" style="margin:5px 10px;" (click)="sortFunction('priceHighToLow')">Price--High to Low</h6>
             <!-- <i class="sortclass" style="margin:5px 0px; margin-right:20px;" class="fa fa-sort-amount-down"></i> -->
            </div>
            
            <div>
              <div class="column2"
                *ngFor="let prod of products | searchprod:searchId1 | paginate: {id: 'listing_pagination', itemsPerPage:itemsPerPage, currentPage:page, totalItems: totalRecords }">
                <div class="card2">
                  <!-- mkhsgdfbksdgfsbdkjh -->
                  <img class="imgss" src={{prod.image[0].imageURL}} alt="Avatar" style="width:100%; height: 70%;"
                    (click)="goToProduct(prod)">
                    <div style="display: block;">
                      <a class="sold_out" *ngIf="ZeroQty(prod)">Out of Stock</a>
                    </div>
                  
                  <!-- <p>{{prod.image[0].imageURL}}</p> -->
                  <div style="height:15px">
                    <h6 class="h6" style="color:rgb(59, 59, 59);font-weight: 600; font-size: 14px; margin-bottom: 0;" >{{prod.brandName}}</h6>
                  </div>
                  <h6 class="h6" style="margin-top: 1px;" (click)="goToProduct(prod)"><b>{{prod.productName}}</b></h6>
                  <app-avg-rating [prodId]="prod.productId" [showOnlyNum]="true"></app-avg-rating>
                  <h6 class="h6" style="margin-top: -5px; width: 75%;">&#8377;{{prod.productPrice}}/-</h6>
                  <button class="bsave" [disabled]="ZeroQty(prod)" (click)="addToCart(prod)">Add To Cart</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div [hidden]="isShow" style="text-align: center; padding-top: 2%; margin-left: 300px;display: flex;">
          <div style="width:70%">
            <pagination-controls id="listing_pagination" maxsize="5" directionLinks="true"
              (pageChange)="page = $event" previousLabel="" nextLabel="">
            </pagination-controls>
          </div>
          <div style="display: flex;">
            <label for ="noofpages" style="margin-top: 3px; margin-right: 5px;">Items per Page:</label>
              <select name="noofpages" id="noofpages" [(ngModel)]="itemsPerPage" style="height:20px;margin-top:3px">
                <option value="9" [selected]="itemsPerPage==9">9</option>
                <option value="15" [selected]="itemsPerPage==15">15</option>
              </select>
            <!-- <input type="text" style="height: 25px; width:30px; margin-right: 30px; text-align: center;" disabled value={{itemsPerPage}}>
            <button (click)="itemsPerPage=9" class="pageNumBtn" >9</button>
            <button (click)="itemsPerPage=15" class="pageNumBtn" >15</button> -->
            <!-- {{itemsPerPage}} -->
          </div>

          <br>
        </div>
      </div>



      <div [hidden]="isSearch" id="ll1" class="row" style="padding-left: 7%;">
        <div class="column"
          *ngFor="let product1 of allSearcheddata| paginate: {id: 'llisting_pagination', itemsPerPage:8, currentPage:page, totalItems: totalRecord }">
          <div class="card" style="min-width: 230px;">
            <img src={{product1.image[0].imageURL}} class="imgss" alt="Avatar" style="width:100%; height: 85%;"
              (click)="goToProduct(product1)">
            <a class="sold_out" *ngIf="ZeroQty(product1)">Not Available</a>
            <h6 class="h6" style="margin-top: 1px;" (click)="goToProduct(product1)"><b>{{product1.productName}}</b></h6>
            <h6 class="h6" style="margin-top: -7px; width: 75%;">Rs. {{product1.productPrice}}/-</h6>
            <button class="bsave" [disabled]="ZeroQty(product1)" (click)="addToCart(product1)">Add To Cart</button>
          </div>
        </div>
      </div>
      <div [hidden]="isSearch" style="text-align: center; padding-top: 5%;">
        <pagination-controls id="llisting_pagination" maxsize="4" directionLinks="true" (pageChange)="page = $event"
          previousLabel="" nextLabel=""></pagination-controls>
      </div>
    </div>
  </div>

  <br><br>

  <app-msg-dialogue [msg]="msg"></app-msg-dialogue>

  <!-- <app-footer></app-footer> -->

</body>

</html>