.placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: red;
    opacity: 0; /* Firefox */
  }
  .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:rgb(139, 135, 135);
  /*opacity: 0.2;*/
  color: black;
  /*text-align: center;*/
  }
  body {
  margin: 0px 0px 0px 0px;
  min-width: 900px;
  }
  .icn {
  height: 30px;
  width: 30px;
  display: block;
  /* Other styles here */
  }
  .navbar {
  position: fixed; 
  bottom: 0; 
  left: 0;
  width: 100%;
  background-color: transparent;
  /* background-color:rgb(139, 135, 135); */
  width: 100%;
  text-emphasis-color: black;
  }
  .fa23{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
  }
  .bsave2{
    background-color:rgba(0, 92, 92, 0.568);
    border-color: rgb(255, 255, 255);
    border-radius: 5px;
    color:white;
  }
  .main3 {
    display: inline-block;
    border-radius: 5px;
    padding: 1%;
    margin: 2%;
    border-width: 1px;
    border-color: #918e8ea2;
    border-style: solid;
    width:88%; 
    /* height: 88%; */
    background-color:white;    
  }

  .Main33{
    /* display:inline-block; */
    margin:0 auto;
    /* border:1px solid red; */
    padding: 30px;
    border-radius: 5px;
    height:100%;
    padding-bottom: 10px;
  }

  .Main33Rev{
    /* display:inline-block; */
    margin:0 auto;
    /* border:1px solid red; */
    padding: 30px 0;
    border-radius: 5px;
    height:100%;
    padding-bottom: 10px;
  }


  .menuHead{
    font-size:26px; 
    color:rgb(51, 51, 51); 
    font-weight: 500;
    margin: 0 -30px; 
    padding:10px 30px;
  }

  .editUser:hover{
    cursor: pointer;
  }

  .radioLabel{
    height:50px;
  }

  .genderSub{
    height: 50px;
    padding-top: 25px;
    margin-bottom: 40px;
    font-size: 15px;
  }

  .Main331{
    /* display:inline-block; */
    left:0;
    top:0;
    width:20%;
    background-color:rgba(0, 117, 117, 0.644);
    border:1px solid gray;
    /* padding: 10px; */
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color:white;
    padding:20px;
  }

  .bsave{
    background-color:#00a4d3;
    text-align: center;
    color: white;
    border: none;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 10px;
    padding-right: 10px;  
    display: inline; 
    border-radius: 4px;
  }
  .bsave:focus{
  outline: none;
  }
  #labelfor.pointer{
  cursor: pointer;
  }
  #labelfor:hover{
  cursor: pointer;
  }
  
  #listing2:hover{
  cursor: pointer;
  }
  
  .delButton{
  background-color: grey;
  border-radius: 5px;
  color:white;
  border-color: grey;
  }
  
  input{
    border-radius: 1px;
    border-width:1px;
    margin-right: 11px;
    height: 45px;
    font-size: 15px;
  }
  .all1{
    min-height: 120%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-left: 0px;
    padding-right: 0px;
    height:100%;
  }   
  .required{
  color:red;
  }     
  .searchbar{
    background-color:#00a4d3; 
    border-color: white;
    border:none; 
    color:white;
    margin: 0;
    border-radius: 4px;
  }
  .div3{
    display:flex; 
    justify-content: left; 
    padding-left: 20px; 
    padding-top: 15px; 
    padding-bottom: 14px;
  }
  .btt{
    display:flex; 
    justify-content: left; 
    padding-left: 20px; 
    padding-top: 15px; 
    padding-bottom: 25px;
  }
  input ng-dirty,ng-invalid{
  border-color: red;
  }
  div.validation-error{
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: red;
  }
  .header {
  overflow: hidden;
  background-color: #00a4d3;
  /* margin: 0;
  top: 0;
  right: 0;
  left: 0; */
  width: 100%;
  height: 60px;
  font-family: Alata;
  }
  .header a{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  }
  .header li{
  margin: 20px;
  float: right;
  display: inline;
  line-height: 0em;
  }
  
  input[type=file]{
  color: blue;
  }
  .loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  position:fixed;
  top: 45%;
  left: 47%;
  }
  
  @keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
  }

  i {
  margin-right: 10px;
}
.form-group {
  margin-bottom: 0em;
  margin-top: 0em;
  padding-bottom: 0em;
  padding-top: 0em;
  padding-right: 0em;
}

body{
  width:100%;
  background-color:  rgb(231, 231, 231);
  height:100%;
}
.MainDiv{
  margin: 10px auto;
  width:100%;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  /* border: 1px solid blue; */
  
}

#sideNavbar{
  margin: 10px;
  width: 300px;
  margin-bottom: 50px;
}
#sideNavbar1{
  background-color: white;
  width:100%;
  display: flex;
  box-shadow: 0px 0px 5px 1px rgb(201, 201, 201);
  /* border:1px solid black; */
}
#sideNavbar2{
  margin-top: 15px;
  background-color: white;
  width:100%;
  box-shadow: 0px 0px 5px 1px rgb(201, 201, 201);
  /* border: 1px solid black; */
}

#usericon{
  height:50px;
  width:50px;
}

#imgDiv{
  padding: 10px;
}
#helloContainer{
  padding: 10px 0;
  /* border: 1px solid black; */
  height: 70px;
}

#hello{
  margin-top: 5px;
  margin-bottom:2px;
  /* border: 1px solid blue; */
  font-size: 14px;
}
.iconContainer{
  width: 70px;
  text-align: center;
}

.navIcons{
  font-size: 30px;
  color: #2874f0;
  margin: 12px auto;
}

#orderContainer,#logoutContainer{
  display: flex;
  padding-bottom: 7px;
  padding-top: 7px;
  border-bottom:1px solid rgb(228, 228, 228);
}
#accountContainer,#myStuffContainer{
  border-bottom:1px solid rgb(228, 228, 228);
}

#accountHeadContainer,#myStuffHeadContainer{
  display: flex;
}

#orderContainer:hover,#logoutContainer:hover{
  cursor: pointer;
}
.extraEdit{
  padding:auto;
  margin:auto; 
  font-size: 14px; 
  font-weight: 500;
  margin-bottom: 3px;
  margin-left: 6px;
  color: rgb(37, 37, 37); 
}

.extraEdit:hover{
  color:#2874f0;
  cursor: pointer;
}

.addressDets{
  border: 1px solid rgb(230, 230, 230);
  padding: 10px 30px;
  margin-top: -1px;
  padding-bottom: 20px;
  display:flex;
}

.accountSub{
  padding-left:  85px;
  padding-bottom: 15px;
  padding-top: 15px;
  margin: 0;
  color:rgb(100, 100, 100);
}

.lastSub{
  margin-bottom: 15px;
}

.accountSub:hover{
  background-color: rgba(202, 220, 255, 0.25);
  color:#2874f0;
  cursor: pointer;
}

#myOrder,#myAccount, #myStuff, #logout{
  margin: auto;
  margin-left:5px;
  font-size: 17px;
  color:rgb(100, 100, 100);
}
.arrowIcons{
  margin:auto;
  font-size: 25px;
  color:rgb(100, 100, 100);
  font-weight: 600;
}
#personalInfo,#addressInfo,#wishlistDiv,#myRatingDiv{
  margin: 10px 20px;
  width:60%;
  /* border:1px solid black; */
  box-shadow:  0px 0px 5px 1px rgb(201, 201, 201);
  background-color: white;
  margin-bottom: 50px;
  padding-bottom: 0px;
}

.btns{
  outline: none;
  width: 120px;
  height: 50px;
  border:none;
  color:white;
  background-color:#2874f0 ;
}
.btnsDisabled{
  outline: none;
  width: 120px;
  height: 50px;
  border:none;
  color:white;
  background-color: #88ace7;
}

.faqQues{
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 20px;
}

.colSm4{
  margin-left: 15px;
}
.colSm6{
  margin-left: 15px;
  width: 45%;
}
.colSm12{
  margin-left: 15px;
  margin-bottom: -10px;
  /* border:1px solid yellow; */
}
.showLabels{
  color:rgb(85, 85, 85);
  font-size: 15px; 
  font-weight: 700;
}
.hideLabels{
  color:White; 
}