<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

</head>

<body>

  <app-navbar></app-navbar>
  <br><br><br>
  <!--Nav bar ends-->
  <div class="MainDiv">
    <div id="sideNavbar">
      <div id="sideNavbar1">
        <div id="imgDiv">
          <img src="../../assets/userIcon2.png" id="usericon">
        </div>
        <div id="helloContainer">
          <h6 id="hello">Hello,</h6>
          <h5>{{userCopy.firstName}} {{userCopy.lastName}}</h5>
        </div>
      </div>
      <div id="sideNavbar2">
        <div (click)="goToMyOrders()" id="orderContainer">
          <div class="iconContainer">
            <i class="fa fa-archive navIcons" aria-hidden="true"></i>
          </div>
          <h5 id="myOrder">MY ORDERS</h5>
          <i class="fa fa-angle-right arrowIcons" aria-hidden="true"></i>
        </div>
        <div id="accountContainer">
          <div id="accountHeadContainer">
            <div class="iconContainer">
              <i class="fa fa-user navIcons" aria-hidden="true"></i>
            </div>
            <h5 id="myAccount">ACCOUNT SETTINGS</h5>
          </div>
          <div>
            <h6 (click)="toggleDisplay()" class="accountSub">Profile Information</h6>
            <h6 (click)="toggleAddressDisplay()" class="accountSub lastSub">Address Details</h6>
          </div>
        </div>
        <div id="myStuffContainer">
          <div id="myStuffHeadContainer">
            <div class="iconContainer">
              <i class="fa fa-folder navIcons" aria-hidden="true"></i>
            </div>
            <h5 id="myStuff">MY STUFF</h5>
          </div>
          <div>
            <h6 class="accountSub" (click)="goToMyRating()">My Reviews and Ratings</h6>
            <h6 class="accountSub lastSub" (click)="goToWishlist()">My Wishlist</h6>
          </div>
        </div>
        <div (click)="logout()" id="logoutContainer">
          <div class="iconContainer">
            <i class="fa fa-power-off navIcons" aria-hidden="true"></i>
          </div>
          <h5 id="logout">Logout</h5>
        </div>
      </div>
    </div>
    <div [hidden]="isShow" id="personalInfo">
      <div class="Main33">
        <!--Personal Information Starts-->
        <div style="display: flex; ">
          <p class="menuHead">Personal Information
          </p>
          <p class="editUser" (click)="editUserDetails()"
            style="color:#2874f0; margin-left:55px; margin-top: 23px; font-size: 15px; font-weight: 600;">Edit</p>
          <i class="fa fa-pencil editUser" (click)="editUserDetails()"
            style="color:#2874f0; margin-left:5px; margin-top: 17px; font-size: 25px;"></i>
        </div>
        <form #UserDetails="ngForm">
          <!--(ngSubmit)="showUserDetails(UserDetailsForm)"-->
          <div class="row">
            <!--Row for fn,mn,ln starts-->
            <div class="colSm4">
              <!--FIRST NAME STARTS-->
              <div class="form-group">
                <label class="control-label" for="fname"
                  [ngClass]="{'showLabels':!notEditUser, 'hideLabels':notEditUser}">First Name</label>
                <input type="text" [readonly]="notEditUser" class="form-control form-control-sm" id="fname"
                  placeholder="First Name" name="fname" [(ngModel)]="user.firstName" maxlength="20" style="width: 100%"
                  onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))'
                  required #fname="ngModel" [class.is.invalid]="fname.invalid && fname.touched">
                <div *ngIf="fname.errors && fname.invalid && fname.touched">
                  <small class="text-danger" [class.d.none]="fname.valid || fname.untouched">First Name is mandatory
                    field</small>
                  <!-- <small class="text-danger" *ngIf="fname.errors.required">First Name is mandatory field</small> -->
                  <small class="text-danger" *ngIf="fname.errors.pattern">Enter First Name in valid format</small>
                </div>
              </div>
            </div>
            <!--FIRST NAME ENDS-->
            <div class="colSm4">
              <!--MIDDLE NAME STARTS-->
              <div class="form-group">
                <label for="mname" [ngClass]="{'showLabels':!notEditUser, 'hideLabels':notEditUser}">Middle Name</label>
                <input type="name" [readonly]="notEditUser" class="form-control form-control-sm" id="mname"
                  placeholder="Middle name" name="mname" [(ngModel)]="user.middleName" maxlength="20"
                  onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))'
                  #mname="ngModel" [class.is.invalid]="mname.invalid">
              </div>
            </div>
            <!--MIDDLE NAME ENDS-->
            <div class="colSm4">
              <!--LLAST NAME STARTS-->
              <div class="form-group required">
                <label class="control-label" for="lname"
                  [ngClass]="{'showLabels':!notEditUser, 'hideLabels':notEditUser}">Last Name</label>
                <input type="name" [readonly]="notEditUser" class="form-control form-control-sm" id="lname"
                  placeholder="Last name" name="lname" [(ngModel)]="user.lastName" maxlength="20"
                  onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))'
                  required #lname="ngModel" [class.is.invalid]="lname.invalid && lname.touched">

                <div *ngIf="lname.errors && lname.invalid && lname.touched">
                  <small class="text-danger" [class.d.none]="lname.valid || lname.untouched">Last Name is mandatory
                    field</small>
                </div>
              </div>
            </div>
            <!--LLAST NAME ENDS-->
          </div>
          <!--Row for fn,mn,ln ends-->
          <div class="row" style="margin-bottom: 0em; padding-bottom: 0em; margin-top: 1em">
            <!--div for gender starts-->
            <div class="colSm12">
              <div class="form-group" style="margin-bottom: -10px; margin-top: 3px;">
                <label for="gender" class="radio-inline req genderSub"><span
                    style="font-size: 18px;font-weight: 600; padding-right: 20px;">Gender :</span>
                  <label class="radio-inline" style="margin-left: 15px">
                    <input type="radio" [readonly]="notEditUser" value="Male" name="gender" style="height: fit-content;"
                      [checked]="user.gender=='Male'" disabled>Male
                  </label>
                  <label class="radio-inline" style="margin-left: 15px">
                    <input type="radio" [readonly]="notEditUser" value="Female" name="gender"
                      style="height: fit-content;" [checked]="user.gender=='Female'" disabled>Female
                  </label>
                  <label class="radio-inline" style="margin-left: 15px">
                    <input type="radio" [readonly]="notEditUser" value="Other" name="gender"
                      style="height: fit-content;" [checked]="user.gender=='Other'" disabled>Other
                  </label>
                </label>
              </div>
            </div>
          </div>
          <!--div for gender ends-->
          <div class="row" style="margin-top: 0em; padding-top: 0em">
            <!--Div for email starts-->
            <div class="colSm6">
              <div class="form-group required">
                <label class="control-label" for="email"
                  [ngClass]="{'showLabels':!notEditUser, 'hideLabels':notEditUser}">Email Address</label>
                <!-- <span class="glyphicon glyphicon-envelope"></span> -->
                <div style="display: flex;">
                  <i class="fa fa-envelope-square"
                    style="color:rgb(92, 92, 92); font-size: 27px; padding: 9px 15px; background-color: rgb(221, 221, 221);"></i>
                  <input type="email" readonly class="form-control form-control-sm glyphicon glyphicon-envelope"
                    id="email" placeholder="Enter email" name="email" [(ngModel)]="user.email" maxlength="50" required
                    pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #email="ngModel"
                    [class.is.invalid]="email.invalid && email.touched" style="margin-left: -10px;">

                </div>
                <!-- <small class="text-danger" [class.d.none]="email.valid || email.untouched">Email Id is mandatory field</small> -->
                <div *ngIf="email.errors && email.invalid && email.touched">
                  <small class="text-danger" *ngIf="email.errors.required">Email Address is mandatory field</small>
                  <small class="text-danger" *ngIf="email.errors.pattern">Enter EmailId in valid format</small>
                </div>
              </div>
            </div>
            <div class="col-sm-6"></div>
          </div>
          <!--Div for email ends-->
          <br>
          <div class="form-row">
            <!--Div for pri contact starts-->
            <div class="colSm6" style="margin-left: 5px;">
              <div class="form-group required">
                <label class="control-label" for="primary_contact"
                  [ngClass]="{'showLabels':!notEditUser, 'hideLabels':notEditUser}">Contact No</label>
                <div style="display: flex;margin-left: -15px; ">
                  <div class="colSm4">
                    <div style="display:flex;">
                      <i class="fa fa-phone-square"
                        style="color:rgb(92, 92, 92); font-size: 27px; padding: 9px 15px; background-color: rgb(221, 221, 221);"></i>
                      <input class="form-control form-control-sm" readonly value="+91" style="margin:0em; width: 50px;">
                    </div>
                  </div>
                  <div class="colSm7" style="margin-right: 2px;">
                    <!-- ^[7-9\-\+]{10}$  [7-9]{1}-[0-9]{8}-->

                    <input type="text" [readonly]="notEditUser" class="form-control form-control-sm validate"
                      placeholder="Primary contact " name="primary_contact" required pattern="[7-9]{1}[0-9]{9}"
                      [(ngModel)]="user.primaryContact"
                      [class.is.invalid]="primary_contact.invalid && primary_contact.touched" #primary_contact="ngModel"
                      maxlength="10">
                    <div *ngIf="primary_contact.errors && primary_contact.invalid && primary_contact.touched">
                      <!-- <small class="text-danger" [class.d.none]="password.valid || password.untouched">Password is mandatory
                                             field</small> -->
                      <small class="text-danger" *ngIf="primary_contact.errors.required">Enter Contact number</small>
                      <small class="text-danger" *ngIf="primary_contact.errors.pattern">Contact no. should be of 10
                        digits
                        starting with 7/8/9</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Div for pri contact ends-->
          <br>
          <div class="form-row">
            <!--Div for alternate contact starts-->
            <div class="colSm6" style="margin-left: 5px;">
              <div class="form-group">
                <label for="alternateContact"
                  [ngClass]="{'showLabels':!notEditUser, 'hideLabels':notEditUser}">Alternate Contact No</label>
                <div style="display: flex;margin-left: -15px;">
                  <div class="colSm4">
                    <div style="display:flex;  ">
                      <i class="fa fa-phone-square"
                        style="color:rgb(92, 92, 92); font-size: 27px; padding: 9px 15px; background-color: rgb(221, 221, 221);"></i>
                      <input class="form-control form-control-sm" readonly value="+91" style="margin:0em; width: 50px;">
                    </div>
                  </div>
                  <div class="colSm7" style="margin-right: 2px;">
                    <input type="tel" [readonly]="notEditUser" class="form-control form-control-sm validate"
                      maxlength="10" placeholder="Secondary contact" required pattern="[7-9]{1}[0-9]{9}"
                      [class.is.invalid]="primary_contact.invalid" [(ngModel)]="user.alternateContact"
                      #alternateContact="ngModel" name="alternateContact">
                    <div *ngIf="alternateContact.errors && alternateContact.invalid && primary_contact.touched">
                      <small class="text-danger" *ngIf="alternateContact.errors.pattern">Contact no.should be of 10
                        digits
                        starting with 7/8/9
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Div for alternate contact ends-->
          <br>
          <div class="text-center" [hidden]="notEditUser" style="margin-top: 2.5em">
              <button   type="submit" [disabled]="UserDetails.form.invalid"(click)="noteditUserDetails()"
               [ngClass]="{'btns':!UserDetails.form.invalid, 'btnsDisabled':UserDetails.form.invalid}">Save</button>   
            <button  (click)="cancelEdit()" class="btns" style="background-color:gray ;">Cancel</button>       
          </div> 
        </form>
        <div style="margin-top: 20px;">
          <span>
            <h4>FAQs</h4>
            <p class="faqQues">Can I update my email address?</p>
            <p class="faqAns">No, You can't update your email address as it is your basic identity for this account.</p>
            <p class="faqQues">What happens to my account when I update my mobile number?</p>
            <p class="faqAns">Updating your mobile number doesn't invalidate your account. Your account remains fully
              functional. You'll continue seeing your Order history, saved information and personal details.</p>
            <p class="faqQues">Does my Seller account get affected when I update anythng here?</p>
            <p class="faqAns">Megamart has a 'single sign-on' policy. Any changes will reflect in your Seller account
              also.</p>
          </span>
        </div>
      </div>
    </div>
    <div [hidden]="isAddressDetailsShow" id="addressInfo">
      <div class="Main33" [hidden]="!hideEditingAddress" >
        <p class="menuHead">My Addresses</p>
        <div style="border:1px solid rgb(231, 231, 231); display: flex; margin: 10px 0; margin-bottom: 20px;">
          <i (click)="addNewAddress()" class="fa fa-plus" aria-hidden="true" style="color:#2874f0; font-size: 20px; margin:auto 30px; margin-right: 10px; cursor: pointer;"></i>
          <p (click)="addNewAddress()" style="color: #2874f0; font-size: 18px; font-weight: 500; margin:15px; cursor: pointer;">Add A New Address</p>
        </div>
        <div *ngFor="let address1 of allAddress;let i=index" class="addressDets">
          <div style="width:80%">
            <!-- <p *ngIf="address1.current" style="font-weight: 600; width:fit-content; margin: 5px 0px; color:gray; background-color: rgb(231, 231, 231); padding: 1px 5px;">Default</p> -->
            <div style="display: flex;">
              <p style="font-weight: 600; margin: 5px 0;">{{address1.firstName}} {{address1.lastName}}</p>
              <p style="font-weight: 600; margin: 5px 20px;">{{address1.contactNumber}}</p>
              <p *ngIf="address1.current" style="font-weight: 600; margin: 5px 20px; color:gray; background-color: rgb(231, 231, 231); padding: 1px 5px;">Default</p>
            </div>
            <div>
              <p style="margin:0;padding:0;">
                {{address1.address}}, 
              <!-- </p>
              <p style="margin:0;padding:0;"> -->
                {{address1.city}}, 
                {{address1.state}},
                {{address1.country}}
              </p>
              <p style="margin:0;padding:0;">
                <span style="font-weight: 600px;">Pin: </span>{{address1.zipCode}}
              </p>
            </div>
          </div>
          <div style="width:15%;">
            <div *ngIf="extraOptionMenu[i]" style="float:right; box-shadow: -1px 1px 3px 1px rgb(179, 179, 179); padding-left:5px; margin-right: 3px; padding-top: 5px; margin-top: 5px; width:75px;">
              <p class="extraEdit" (click)="editAddress(address1)">Edit</p>
              <p class="extraEdit" style=" padding-bottom: 3px;" (click)="deleteAddress(address1)">Delete</p>
            </div>
          </div>
          <div style="width:5%;">
              <i class="fa fa-ellipsis-v" style="color:gray;text-align: right; margin-top:10px; cursor: pointer;" (click)="toggleExtraOptionMenu(i)" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="Main33" [hidden]="hideEditingAddress">
        <!--Address details-->
        <!-- <div style="display: flex; ">
          <p class="menuHead">Address details
          </p>
          <p class="editUser" (click)="editAddressDetails()"
            style="color:#2874f0; margin-left:55px; margin-top: 23px; font-size: 15px; font-weight: 600;">Edit</p>
          <i class="fa fa-pencil editUser" (click)="editAddressDetails()"
            style="color:#2874f0; margin-left:5px; margin-top: 17px; font-size: 25px;"></i>
        </div> -->
        <p class="menuHead">Edit Address
        </p>
        <br>
        <form #AddressDetails="ngForm" >
          <!--(ngSubmit)="showUserDetails(UserDetailsForm)"-->

          <div class="row">
            <!--Row for fn,mn,ln starts-->
            <div class="colSm4" style="width:29%">
              <!--FIRST NAME STARTS-->
              <div class="form-group required">
                <label class="control-label" for="fname"
                  [ngClass]="{'showLabels':!notEditAddress, 'hideLabels':notEditAddress}">First Name</label>
                <input type="text" [readonly]="notEditAddress" class="form-control form-control-sm" id="fname"
                  placeholder="First Name" name="fname" [(ngModel)]="edit1Address.firstName" maxlength="20"
                  onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))'
                  required #fname="ngModel" [class.is.invalid]="fname.invalid && fname.touched">
                <div *ngIf="fname.errors && fname.invalid && fname.touched">
                  <small class="text-danger" [class.d.none]="fname.valid || fname.untouched">First Name is mandatory
                    field</small>
                  <!-- <small class="text-danger" *ngIf="fname.errors.required">First Name is mandatory field</small> -->
                  <small class="text-danger" *ngIf="fname.errors.pattern">Enter First Name in valid format</small>
                </div>
              </div>
            </div>
            <!--FIRST NAME ENDS-->
            <div class="colSm4" style="width:28%">
              <!--MIDDLE NAME STARTS-->
              <div class="form-group">
                <label for="mname" [ngClass]="{'showLabels':!notEditAddress, 'hideLabels':notEditAddress}">Middle
                  Name</label>
                <input type="name" [readonly]="notEditAddress" class="form-control form-control-sm" id="mname"
                  placeholder="Middle name" name="mname" [(ngModel)]="edit1Address.middleName" maxlength="20"
                  onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))'
                  #mname="ngModel" [class.is.invalid]="mname.invalid">
              </div>
            </div>
            <!--MIDDLE NAME STARTS-->
            <div class="colSm4" style="width:29%">
              <!--LLAST NAME STARTS-->
              <div class="form-group required">
                <label class="control-label" for="lname"
                  [ngClass]="{'showLabels':!notEditAddress, 'hideLabels':notEditAddress}">Last Name</label>
                <input type="name" [readonly]="notEditAddress" class="form-control form-control-sm" id="lname"
                  placeholder="Last name" name="lname" [(ngModel)]="edit1Address.lastName" maxlength="20"
                  onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))'
                  required #lname="ngModel" [class.is.invalid]="lname.invalid && lname.touched">

                <div *ngIf="lname.errors && lname.invalid && lname.touched">
                  <small class="text-danger" [class.d.none]="lname.valid || lname.untouched">Last Name is mandatory
                    field</small>
                </div>
              </div>
            </div>
            <!--LLAST NAME ENDS-->
          </div>
          <!--Row for fn,mn,ln ends-->
          <div class="form-row" style="display: flex;">
            <!--Div for pri contact starts-->
            <div class="colSm12" style="width:50%; margin-left: 5px; margin-top: 10px;">
              <div class="form-group required">
                <label class="control-label" for="address"
                  [ngClass]="{'showLabels':!notEditAddress, 'hideLabels':notEditAddress}">Contact Number</label>
                <div style="display: flex;margin-left: -15px; ">
                  <div class="colSm4">
                    <div style="display:flex;">
                      
                      <input class="form-control form-control-sm" readonly value="+91" style="margin:0em; width: 50px;">
                    </div>
                  </div>
                  <div class="colSm7" style="margin-right: 2px;">
                    <!-- ^[7-9\-\+]{10}$  [7-9]{1}-[0-9]{8}-->

                    <input type="text" [readonly]="notEditAddress" class="form-control form-control-sm validate"
                      placeholder="Primary contact " name="primary_contact_ad" required pattern="[7-9]{1}[0-9]{9}"
                      [(ngModel)]="edit1Address.contactNumber"
                      [class.is.invalid]="primary_contact_ad.invalid && primary_contact_ad.touched" #primary_contact_ad="ngModel"
                      maxlength="10">
                    <div *ngIf="primary_contact_ad.errors && primary_contact_ad.invalid && primary_contact_ad.touched">
                      <!-- <small class="text-danger" [class.d.none]="password.valid || password.untouched">Password is mandatory
                                             field</small> -->
                      <small class="text-danger" *ngIf="primary_contact_ad.errors.required">Enter Contact number</small>
                      <small class="text-danger" *ngIf="primary_contact_ad.errors.pattern">Contact no. should be of 10
                        digits
                        starting with 7/8/9</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="colSm12" style="width:35%; margin-left: 5px; margin-top: 15px;">
              <div class="form-group required">
                <label class="control-label" for="address" style="margin-bottom: 0px;"
                  [ngClass]="{'showLabels':!notEditAddress, 'hideLabels':notEditAddress}">Set Default</label>
                <div style="display: flex; margin-left:2px; ">
                  <div class="colSm7" style="margin-right: 2px; display:flex">
                    <input type="radio" id="yes" name="defaultAddr" value='true' (change)="edit1Address.current=true" [checked]="edit1Address.current" >
                    <p for="yes" style="color: black;  margin-top: 10px; margin-right: 20px;" >Yes</p>
                    <input type="radio" id="no" name="defaultAddr" value='false' (change)="edit1Address.current=false" [checked]="!edit1Address.current">
                    <p for="no" style="color: black; margin-top: 10px;">No</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top: 20px; padding-top: 0em">
            <!--Div for Address starts-->
            <div class="colSm12" style="width:89.7%">
              <div class="form-group required">
                <label class="control-label" for="address"
                  [ngClass]="{'showLabels':!notEditAddress, 'hideLabels':notEditAddress}">Address</label>
                <!-- <span class="glyphicon glyphicon-envelope"></span> -->
                <input type="address" [readonly]="notEditAddress"
                  class="form-control form-control-sm glyphicon glyphicon-envelope" id="address" placeholder="Address"
                  name="address" [(ngModel)]="edit1Address.address" maxlength="70" required #address="ngModel"
                  [class.is.invalid]="address.invalid && address.touched">
                <!-- <small class="text-danger" [class.d.none]="email.valid || email.untouched">Email Id is mandatory field</small> -->
                <div *ngIf="address.errors && address.invalid && address.touched">
                  <small class="text-danger" *ngIf="address.errors.required && !notEditAddress">Address is mandatory
                    field</small>
                  <!-- <small class="text-danger" *ngIf="address.errors.pattern">Enter EmailId in valid format</small> -->
                </div>
              </div>
            </div>
            <div class="colSm6"></div>
          </div>
          <!--Div for Address ends-->
          <div class="row form-row " style="margin-top: 20px;">
            <!--Div for City and state starts-->
            <div class="colSm6" style="margin-left:5px">
              <div class="form-group required">
                <label class="control-label" for="city"
                  [ngClass]="{'showLabels':!notEditAddress, 'hideLabels':notEditAddress}">City</label>
                <!-- <span class="glyphicon glyphicon-envelope"></span> -->
                <input type="city" [readonly]="notEditAddress" class="form-control form-control-sm " id="city"
                  placeholder="City" name="city" [(ngModel)]="edit1Address.city" maxlength="50" required #city="ngModel"
                  [class.is.invalid]="city.invalid && city.touched">
                <!-- <small class="text-danger" [class.d.none]="city.valid || city.untouched">Email Id is mandatory field</small> -->
                <div *ngIf="city.errors && city.invalid && city.touched">
                  <small class="text-danger" *ngIf="city.errors.required && !notEditAddress">City is mandatory
                    field</small>
                </div>
              </div>
            </div>
            <div class="colSm6">
              <div class="form-group required">
                <label class="control-label" for="state"
                  [ngClass]="{'showLabels':!notEditAddress, 'hideLabels':notEditAddress}">State</label>
                <!-- <span class="glyphicon glyphicon-envelope"></span> -->
                <input type="state" [readonly]="notEditAddress" class="form-control form-control-sm " id="state"
                  placeholder="State" name="state" [(ngModel)]="edit1Address.state" maxlength="50" required
                  #state="ngModel" [class.is.invalid]="state.invalid && state.touched">
                <!-- <small class="text-danger" [class.d.none]="city.valid || city.untouched">Email Id is mandatory field</small> -->
                <div *ngIf="state.errors && state.invalid && state.touched">
                  <small class="text-danger" *ngIf="state.errors.required && !notEditAddress">State is mandatory
                    field</small>
                </div>
              </div>
            </div>
          </div>
          <!--Div for City and state ends-->
          <div class="row form-row " style="margin-top: 20px;">
            <!--Div for Country and zipcode ends-->
            <div class="colSm6" style="margin-left: 5px;">
              <div class="form-group required">
                <label class="control-label" for="country"
                  [ngClass]="{'showLabels':!notEditAddress, 'hideLabels':notEditAddress}">Country</label>
                <!-- <span class="glyphicon glyphicon-envelope"></span> -->
                <input type="country" readonly class="form-control form-control-sm " id="country" placeholder="India"
                  value="India" name="country" [(ngModel)]="edit1Address.country" maxlength="50" required
                  #country="ngModel" [class.is.invalid]="city.invalid && city.touched">
                <!-- <small class="text-danger" [class.d.none]="country.valid || city.untouched">country Id is mandatory field</small> -->
                <div *ngIf="country.errors && country.invalid && country.touched">
                  <small class="text-danger" *ngIf="country.errors.required">Country is mandatory field</small>
                </div>
              </div>
            </div>
            <div class="colSm6">
              <div class="form-group required">
                <label class="control-label" for="zipCode"
                  [ngClass]="{'showLabels':!notEditAddress, 'hideLabels':notEditAddress}">ZipCode</label>
                <!-- <span class="glyphicon glyphicon-envelope"></span> -->
                <input type="zipCode" [readonly]="notEditAddress" class="form-control form-control-sm " id="zipCode"
                  placeholder="ZipCode" name="zipCode" [(ngModel)]="edit1Address.zipCode" maxlength="50" required
                  #zipCode="ngModel" [class.is.invalid]="zipCode.invalid && zipCode.touched">
                <!-- <small class="text-danger" [class.d.none]="zipCode.valid || zipCode.untouched">Email Id is mandatory field</small> -->
                <div *ngIf="zipCode.errors && zipCode.invalid && state.touched">
                  <small class="text-danger" *ngIf="zipCode.errors.required">ZipCode is mandatory field</small>
                </div>
              </div>
            </div>
          </div>
          <!--Div for Country and zipcode ends-->
          <div class="text-center" [hidden]="notEditAddress" style="margin-top: 2.5em">
              <button   type="submit" [disabled]="AddressDetails.form.invalid" (click)="noteditAddressDetails()"
               [ngClass]="{'btns':!AddressDetails.form.invalid, 'btnsDisabled':AddressDetails.form.invalid}">Save</button>
              
            <button  (click)="cancelEdit();" class="btns"
              style="background-color:gray ;">Cancel</button>       
          </div> 
        </form>
      </div>
    </div>
    <div [hidden]="hidewishlist" id="wishlistDiv">
      <div class="Main33" style="width:100%;">
        <app-wishlist (removeProd)="removeFromWishlist($event)" (diag)="showMsgFromChild($event)"></app-wishlist>
      </div>
    </div>
    <div [hidden]="hideMyRating" id="myRatingDiv">
      <div class="Main33Rev" style="width:100%;">
        <app-myratings (editReview)="editRating($event)"></app-myratings>
      </div>
    </div>
  </div>
  <!--Row which has 3 col ends here-->
  <!--Footer starts here-->
  <app-msg-dialogue [msg]="msg" (result)="msgResult($event)"></app-msg-dialogue>
  <app-rate-prroduct [prodId]="rateProdId" [prodName]="rateProdName" [rating]="rateProdRating" [comment]="rateProdReview"
      [heading]="rateProdHeading" *ngIf="showRatingDiv" (rateEvent)="ratingComplete($event)">
  </app-rate-prroduct>

  <app-footer></app-footer>
  <!-- </div>  container closes here -->
</body>

</html>