<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css"
        integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css"
        integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous">


</head>

<div style="background-color:white; width:100%; ">
    <div class="main">
        <!-- <div class="heading">
            <h3 style="text-align: center;"><b> My Orders </b></h3>
        </div> -->
        <p class="menuHead">My Wishlist ({{wish.length}})
        </p>
        <div class="orderContainer">
            <div *ngFor="let wishlist of wish | paginate: {id: 'listing_pagination', itemsPerPage:5, currentPage:page, totalItems: wish.length }; let i=index"
                class="orders1">
                <div>
                    <img src={{products[i].image[0].imageURL}} class="imgs">
                </div>
                <div class="orderDet">
                    <!-- <h5 style="color:gray;font-size: 12px;">Order ID: {{order.orderId}}</h5> -->
                    <div class="row1" style="margin-top: 1%; display: flex;">
                        <div style="width:45%">
                            <h5 style="font-size: 20px; color: #152336; font-weight: 500;">{{products[i].productName}}
                            </h5>
                        </div>
                        <div style="width:45%">
                            <h5 style="font-size:20px; color: #152336; font-weight: 500;">
                                &#8377;{{products[i].productPrice}}</h5>
                        </div>
                        <div style="width:10%;">
                            <button class="fa fa-trash trash" (click)="removeFromWishlist(wishlist,i)"></button>
                        </div>
                    </div>
                    <div style="margin-top: 0.7%;">
                        <div style="margin-bottom: 0.8%;">
                            <h6>{{products[i].brandName}}</h6>
                        </div>
                        <div style="display:flex">
                            <div style="width: 40%">
                                <app-avg-rating style="font-size: 10px;" [prodId]="products[i].productId" [showOnlyNum]="true"></app-avg-rating>
                            </div>
                            <div style="width:60%">
                                <h5
                                    style="font-size: 15px; margin-bottom: -5px; color: gray; font-weight: 500;">
                                    Seller : {{products[i].createdBy}}
                                </h5>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

            <pagination-controls id="listing_pagination" maxsize="5" directionLinks="true" (pageChange)="page = $event"
                previousLabel="" nextLabel=""></pagination-controls>
            <br>
        </div>
    </div>
    <div>
        <div class="loader" [hidden]="loader1">
        </div>
    </div>

    <app-msg-dialogue [msg]="msg"></app-msg-dialogue>


</div>