.placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: red;
    opacity: 0; /* Firefox */
  }
  .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:rgb(139, 135, 135);
  /*opacity: 0.2;*/
  color: black;
  /*text-align: center;*/
  }
  body {
  margin: 0px 0px 0px 0px;
  min-width: 900px;
  }
  .icn {
  height: 30px;
  width: 30px;
  display: block;
  /* Other styles here */
  }
  .navbar {
  position: fixed; 
  bottom: 0; 
  left: 0;
  width: 100%;
  background-color: transparent;
  /* background-color:rgb(139, 135, 135); */
  width: 100%;
  text-emphasis-color: black;
  }
  .fa23{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* cursor: pointer; */
  }
  .bsave2{
    background-color: rgb(241, 240, 240);
    border-color:  rgb(241, 240, 240);
    border-radius: 5px;
  }
  .main3 {
    display: inline-block;
    border-radius: 5px;
    padding: 1%;
    margin: 2%;
    border-width: 1px;
    border-color: #918e8ea2;
    border-style: solid;
    width:88%; 
    /* height: 88%; */
    background-color:white;    
  }
  .bsave{
    background-color:#00a4d3;
    text-align: center;
    color: white;
    border: none;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 10px;
    padding-right: 10px;  
    display: inline; 
    border-radius: 4px;
  }
  .bsave:focus{
  outline: none;
  }
  #labelfor.pointer{
  cursor: pointer;
  }
  #labelfor:hover{
  cursor: pointer;
  }
  
  #listing2:hover{
  cursor: pointer;
  }
  
  .delButton{
  background-color: grey;
  border-radius: 5px;
  color:white;
  border-color: grey;
  }
  
  input{
    border-radius: 4px;
    border-width:1px;
    margin-right: 11px;
  }
  .all1{
    min-height: 120%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-left: 0px;
    padding-right: 0px;
    height:100%;
  }   
  .required{
  color:red;
  }     
  .searchbar{
    background-color:#00a4d3; 
    border-color: white;
    border:none; 
    color:white;
    margin: 0;
    border-radius: 4px;
  }
  .div3{
    display:flex; 
    justify-content: left; 
    padding-left: 20px; 
    padding-top: 15px; 
    padding-bottom: 14px;
  }
  .btt{
    display:flex; 
    justify-content: left; 
    padding-left: 20px; 
    padding-top: 15px; 
    padding-bottom: 25px;
  }
  input ng-dirty,ng-invalid{
  border-color: red;
  }
  div.validation-error{
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: red;
  }
  .header {
  overflow: hidden;
  background-color: #00a4d3;
  /* margin: 0;
  top: 0;
  right: 0;
  left: 0; */
  width: 100%;
  height: 60px;
  font-family: Alata;
  }
  .header a{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  }
  .header li{
  margin: 20px;
  float: right;
  display: inline;
  line-height: 0em;
  }
  
  input[type=file]{
  color: blue;
  }
  .loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  position:fixed;
  top: 45%;
  left: 47%;
  }
  
  @keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
  }

  i {
  margin-right: 10px;
}
.form-group {
  margin-bottom: 0em;
  margin-top: 0em;
  padding-bottom: 0em;
  padding-top: 0em;
  padding-right: 0em;
}

.maininner{
  display: inline-block;
  border-radius: 5px;
  padding: 1%;
  margin: 2%;
  border-width: 1px;
  border-color: #c5c3c3a2;
  border-radius: 4px;
  border-style: solid;
  width:110%; 
  height: 40px;
  background-color:rgb(248, 246, 246); 
  text-align: left; 
  /* margin-left: 10px; */
  margin-top: 20px;
  font-family: 'Times New Roman', Times, serif;
    
}
.main1{
  display: inline-block;
  border-radius: 5px;
  padding: 1%;
  margin: 2%;
  border-width: 1px;
  border-color: #c5c3c3a2;
  border-style: solid;
  width:110%; 
  height: 400px; 
  background-color:rgb(248, 246, 246); 
  text-align: left; 
  font-family: 'Times New Roman', Times, serif;
    
}
.main{
  display: inline-block;
  border-radius: 5px;
  padding: 1%;
  margin: 2%;
  border-width: 1px;
  border-color: #c5c3c3a2;
  border-style: solid;
  width:110%; 
  height: 470px; 
  background-color:rgb(249, 250, 250); 
  text-align: left;
  margin-top: 20px;  
  margin-left: 70px;
  font-family: 'Times New Roman', Times, serif;
  
    
}

.form-group.required .control-label:after { 
  content:" *";
  color:red;
  font-family: 'Times New Roman', Times, serif;
}