<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

</head>
<body>

  <div class="header" style="width: 100%; height: 10%;">
    <a href="#" id="logo"><span style="font-size:30px;margin-left:50px;font-family: Alata;">Megamart</span></a>
    <!-- /* <h2 style="font-family: Alata;">Megamart</h2> */ -->

    <ul>
      <li><a href="" title="Logout"><img src="../../assets/logout_icon.jpg" class="icn"></a></li>
      <li><a href="/admin" title="DashBoard"><i class="fa fa-server" aria-hidden="true"
        style="font-size: 35px;"></i></a></li>
      <!-- <li><a href="#order_details" title="Order Details"><i class="fa fa-address-card" aria-hidden="true"
            style="font-size: 24px;"></i></a></li>
      <li><a href="#profile" title="My Account"><i class="fa fa-user-circle" aria-hidden="true"
            style="font-size: 24px;"></i></a></li>
      <li><a href="#cart" title="My Cart"><i class="fa fa-shopping-cart" aria-hidden="true" style="font-size: 26px;"
            (click)="goToCart()"></i></a></li>
      <li><a href="/homepage" title="Home"><i class="fa fa-home" aria-hidden="true" style="font-size: 28px;"
            (click)="toggle()"></i></a></li> -->
      <!-- <li style="padding-top: 9px;"><a href="#listing"><i class="fa fa-bars" style="display: none;" aria-hidden="true"></i>Listing</a></li> -->
    </ul>
  </div><br>
  <!--Nav bar ends-->
  <div class="row" style="margin-left: 1em; margin-right: 1em;">
    <div class="col-sm-2" >
      <div class="maininner">
      <div class="form-row">
        <i class="fa fa-user-circle" aria-hidden="true" style="font-size:22px;margin-left: 10px;margin-top: 4px;"><span class="fa23"> Hello, </span></i>
        <br>
        <h4 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin-top: 3px;font-size: 22px;">{{user.firstName}}</h4>
      </div>
    </div><br><br>
   
  </div>
    <div [hidden]="isShow" class="col-sm-5">
      <!--Personal Information Starts-->

      <form #AdminDetails="ngForm">
        <!--(ngSubmit)="showUserDetails(UserDetailsForm)"-->
        <div class="main">
          <h4  (click)="editUserDetails()" style="font-family: 'Times New Roman', Times, serif;font-size: 21px;margin-left: 10px;"><b>Personal Information <i class="fa fa-pencil"></i></b></h4>
          <!-- <p style="font-size:24px" (click)="editUserDetails()" style="font-family: 'Times New Roman', Times, serif;font-size: large;"><b>Personal Information <i class="fa fa-pencil"></i></b></p> -->
     <div class="row">
          <!--Row for fn,mn,ln starts-->
          <div class="col-sm-4" >
            <!--FIRST NAME STARTS-->
            <div class="form-group required" >
              <label class="control-label" for="fname" style="color:black;margin-left: 10px;">First Name</label>
              <input type="text" [readonly]="notEditUser" class="form-control form-control-sm" id="fname" placeholder="First Name" name="fname"
                [(ngModel)]="user.firstName" maxlength="20" style="width: 100%;margin-left: 10px;"
                onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))'
                required #fname="ngModel" [class.is.invalid]="fname.invalid && fname.touched">
              <div *ngIf="fname.errors && fname.invalid && fname.touched">
                <small class="text-danger" [class.d.none]="fname.valid || fname.untouched">First Name is mandatory
                  field</small>
                <!-- <small class="text-danger" *ngIf="fname.errors.required">First Name is mandatory field</small> -->
                <small class="text-danger" *ngIf="fname.errors.pattern">Enter First Name in valid format</small>
              </div>
            </div>
          </div>
          <!--FIRST NAME ENDS-->
          <div class="col-sm-4">
            <!--MIDDLE NAME STARTS-->
            <div class="form-group">
              <label for="mname" style="color:black">Middle Name</label>
              <input type="name" [readonly]="notEditUser" class="form-control form-control-sm" id="mname" placeholder="Middle name" name="mname"
                [(ngModel)]="user.middleName" maxlength="20"
                onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))'
                #mname="ngModel" [class.is.invalid]="mname.invalid">
            </div>
          </div>
          <!--MIDDLE NAME STARTS-->
          <div class="col-sm-4">
            <!--LLAST NAME STARTS-->
            <div class="form-group required">
              <label class="control-label" for="lname" style="color:black ">Last Name</label>
              <input type="name" [readonly]="notEditUser" class="form-control form-control-sm" id="lname" placeholder="Last name" name="lname"
                [(ngModel)]="user.lastName" maxlength="20"
                onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))'
                required #lname="ngModel" [class.is.invalid]="lname.invalid && lname.touched">

              <div *ngIf="lname.errors && lname.invalid && lname.touched">
                <small class="text-danger" [class.d.none]="lname.valid || lname.untouched">Last Name is mandatory
                  field</small>
              </div>
            </div>
          </div>
          <!--LLAST NAME ENDS-->
        </div>
        <!--Row for fn,mn,ln ends-->
        <div class="row" style="margin-bottom: 0em; padding-bottom: 0em; margin-top: 1em">
          <!--div for gender starts-->
          <div class="col-sm-12">
            <div class="form-group ">
              <label for="gender" class="radio-inline req" style="margin-left: 10px;">Gender
                <label class="radio-inline" style="margin-right: 5px;">
                  <input type="radio" [readonly]="notEditUser" value="Male" name="gender" ngModel="gender" [(ngModel)]="user.gender">Male
                </label>
                <label class="radio-inline" style="margin-right: 5px">
                  <input type="radio" [readonly]="notEditUser" value="Female" name="gender" ngModel="gender" [(ngModel)]="user.gender">Female
                </label>
                <label class="radio-inline"style="margin-right: 5px">
                  <input type="radio" [readonly]="notEditUser" value="Other" name="gender" ngModel="gender" [(ngModel)]="user.gender">Other
                </label>
              </label>
            </div>
          </div>
        </div>
        <!--div for gender ends-->
        <div class="row" style="margin-top: 0em; padding-top: 0em">
          <!--Div for email starts-->
          <div class="col-sm-6">
            <div class="form-group required">
              <label class="control-label " for="email" style="color:black;margin-left: 10px;">Email Address</label>
              <!-- <span class="glyphicon glyphicon-envelope"></span> -->
              <input type="email" readonly class="form-control form-control-sm glyphicon glyphicon-envelope" id="email"
                placeholder="Enter email" name="email" [(ngModel)]="user.email" maxlength="50" required
                pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #email="ngModel"
                [class.is.invalid]="email.invalid && email.touched" style="margin-left: 10px;">
              <!-- <small class="text-danger" [class.d.none]="email.valid || email.untouched">Email Id is mandatory field</small> -->
              <div *ngIf="email.errors && email.invalid && email.touched">
                <small class="text-danger" *ngIf="email.errors.required">Email Address is mandatory field</small>
                <small class="text-danger" *ngIf="email.errors.pattern">Enter EmailId in valid format</small>
              </div>
            </div>
          </div>
          <div class="col-sm-6"></div>
        </div>
        <!--Div for email ends-->
        <div class="form-row">
          <!--Div for pri contact starts-->
          <div class="col-sm-6">
            <div class="form-group required">
              <label class="control-label" for="primary_contact" style="color:black;margin-left: 10px;">Contact No</label>
              <div class="form-row">
                <div class="col-sm-4">
                  <input class="form-control form-control-sm" readonly value="+91" style="margin:0em;margin-left: 10px;width: 80%;">
                </div>
                <div class="col-sm-8">
                  <!-- ^[7-9\-\+]{10}$  [7-9]{1}-[0-9]{8}-->
                  <input type="text" [readonly]="notEditUser" class="form-control form-control-sm validate" placeholder="Primary contact "
                    name="primary_contact" required pattern="[7-9]{1}[0-9]{9}" [(ngModel)]="user.primaryContact"
                    [class.is.invalid]="primary_contact.invalid && primary_contact.touched" #primary_contact="ngModel"
                    maxlength="10">
                  <div *ngIf="primary_contact.errors && primary_contact.invalid && primary_contact.touched">
                    <!-- <small class="text-danger" [class.d.none]="password.valid || password.untouched">Password is mandatory
                                           field</small> -->
                    <small class="text-danger" *ngIf="primary_contact.errors.required">Enter Contact number</small>
                    <small class="text-danger" *ngIf="primary_contact.errors.pattern">Contact no. should be of 10 digits
                      starting with 7/8/9</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Div for pri contact ends-->
        <div class="form-row">
          <!--Div for alternate contact starts-->
          <div class="col-sm-6">
            <div class="form-group">
              <label for="alternateContact" style="color:black;margin-left: 10px;">Alternate Contact No</label>
              <div class="form-row">
                <div class="col-sm-4">
                  <input class="form-control form-control-sm" readonly value="+91" style="margin:0em;margin-left: 10px;width: 80%;">
                </div>
                <div class="col-sm-8">
                  <input type="tel" [readonly]="notEditUser" class="form-control form-control-sm validate" maxlength="10"
                    placeholder="Secondary contact" required pattern="[7-9]{1}[0-9]{9}"
                    [class.is.invalid]="primary_contact.invalid" [(ngModel)]="user.alternateContact"
                    #alternateContact="ngModel" name="alternateContact">
                  <div *ngIf="alternateContact.errors && alternateContact.invalid && primary_contact.touched" style="margin-left: 10px;">
                    <small class="text-danger" *ngIf="alternateContact.errors.pattern">Contact no.should be of 10 digits
                      starting with 7/8/9
                    </small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center" style="margin-top: 1em">
            <button  (click)="noteditUserDetails()" type="submit" class="btn btn-info btn-primary"
            style="border-radius: 15px;width:100px;">Save</button>         
        </div> 
      </div>
        <!--Div for alternate contact ends-->
        
      </form>
    </div>
    <!--Personal Information Ends-->


  </div>
  <!--Row which has 3 col ends here-->
  <!--Footer starts here-->
  <div class="footer">
    <div class="navbar" style="color:white; background-color: gray;">
      <a href="#c" style="color: white;">2020 Megamart. All rights Reserved.</a>
      <a href="#info" style="color: white;">Contact Us: Info@megamart.com</a>
      <a href="#social" style="color: white;">Social</a>
    </div>
  </div>
  <!-- </div>  container closes here -->
</body>

</html>