.navbar {
  overflow: hidden;
  background-color: #2874f0;
  position: fixed; 
  top: 0; 
  right: 0;
  left: 0;
  width: 100%;
  min-width: 600px; 
  height: 60px;
  font-family: Arial, Helvetica, sans-serif;

}
.main{
  width:100%;
  min-width: 600px;
  position: fixed;
}
.mainIcons {
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  margin-top: -10px;
}

.mainList{
  margin:20px;
  float: right;   
  display: inline-block;
  line-height:0em; 
}

.logoutImage{
  cursor: pointer;
  margin-left: 5px;
  margin-top: 4px;;
  height: 22px;
  width: 21px;
}
h6{
  cursor: pointer;
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 17px;
  font-weight: 600;
}

ul{
  margin-top: 20px;
  margin-right: 30px;
  position: absolute;
  /* float: right; */
  right:0;
}

h4{
  cursor: pointer;
  color: white;
  font-size: 32px;
  margin-top: 2px;
  font-weight: 550;
  margin-left: 40px;
  font-family: 'Hind Madurai', sans-serif;
}

.icns{
  cursor: pointer;
  color: rgb(250, 250, 250);
  font-size: 20px;
  margin-top: 4px;
}

#submenu{
  z-index: 15;
  width: 250px;
  position: relative;
  float: right;
  margin-right: -130px;
  margin-top: 60px;
  /* border: 1px solid black; */
  background-color: white;
  box-shadow: 0px 5px 8px 3px rgb(230, 230, 230);
  border-radius: 3px;
}

.submenuItems{
  border-bottom: 1px solid rgb(228, 228, 228);
  height: 50px;
  padding-left: 20px;
}

.submenuItems:hover{
  background-color: rgba(202, 220, 255, 0.25);
}

.subIcons{
  cursor: pointer;
  width: 36px;
  color: #2874f0;
  font-size: 20px;
  padding-top: 14px;
}

.subMenuName{
  color: #333333;
  padding-left: 5px;
  font-size: 14px;
  font-weight: 540;
}

#arrow{
  z-index: 16;
  position: relative;
  color:white; 
  float: right; 
  margin-right: 245px; 
  margin-top: 32px;
  font-size: 30px;
}
.badge {
  /* height: 5px;
  width:5px; */
  font-size: 12px;
  position: absolute;
  top: 2px;
  padding: 2px 4px;
  border-radius: 50%;
  background: red;
  color: white;
  outline: white;
  border: white;
  margin-left: -5px;
}