<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@600&display=swap" rel="stylesheet">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css"
    integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css"
    integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous">


<div class="main">
  <div class="navbar" (click)="hideSubmenu()">
    <div style="display: flex; width:75%">
      <h4 (click)="goToHome()">Megamart</h4>
      <input type="text" placeholder="Search for Products, Brands and more..." style="color: gray; outline: none; border:none; height:38px; margin-left: 20%; width:60%; margin-top: 2px; padding-left: 20px; font-weight: 500; border-radius: 2px;" #searchNam name="searchNam" [(ngModel)]="searchName" >
      <i class="fa fa-search" aria-hidden="true" style="background-color: white; font-size:20px; color:#2874f0; margin-left: -2px; margin-right: 7%; height:38px;  margin-top: 2px; padding-top:10px; padding-right: 10px; border-radius: 2px; cursor: pointer;" (click)="searchProd()"> </i>
    </div>
    
    <ul>
      <li class="mainList" (click)="logout()">
        <a class="mainIcons" title="Logout">
          <img src="../../assets/logout_icon2.png" class="logoutImage">
        </a>
      </li>
      <li class="mainList" (click)="goToCart()">
        <a class="mainIcons" title="My Cart">
          <i class="fa fa-shopping-cart icns" aria-hidden="true" ></i>
          <span *ngIf="cartCount!=0" class="badge">{{cartCount}}</span>
          <h6> Cart</h6>
        </a>
      </li>
      <li class="mainList" (click)="toggleSub($event)">
        <a class="mainIcons" style="margin-top: -5px;">
          <h6 style="margin-bottom: 0px;">{{userFName}} </h6>
          <i *ngIf="!showSub" class="fa fa-angle-down" style="font-size: 17px;"></i>
          <i *ngIf="showSub" class="fa fa-angle-up" style="font-size: 17px;"></i>
        </a>      
      </li>
    </ul>
    
  </div>
  <div id="arrow" [hidden]="!showSub">
    <i class="fa fa-caret-up"></i>
  </div>
  <div id="submenu" [hidden]="!showSub">
    <div class="submenuItems" (click)="goToMyProfile()">
      <i class="fa fa-user-circle subIcons" aria-hidden="true"></i>
      <h6 class="subMenuName">My Profile</h6>
    </div>
    <div class="submenuItems" (click)="goToMyOrders()">
      <i class="fa fa-archive subIcons" aria-hidden="true"></i>
      <h6 class="subMenuName">Orders</h6>
    </div>
    <div class="submenuItems"  (click)="goToMyWishlist()">
      <i class="fa fa-heart subIcons" aria-hidden="true" ></i>
      <h6 class="subMenuName">My Wishlist</h6>
    </div>
    <div *ngIf="userRole=='2'" class="submenuItems"  (click)="goToAddProduct()">
        <i class="fa fa-plus-circle subIcons" aria-hidden="true" ></i>
        <h6 class="subMenuName">Add Product</h6>
    </div>
    <div *ngIf="userRole=='2'" class="submenuItems"  (click)="goToMyProducts()">
      <i class="fa fa-cubes subIcons" aria-hidden="true" ></i>
      <h6 class="subMenuName">My Products</h6>
  </div>
    <div *ngIf="userRole=='3'" class="submenuItems"  (click)="goToAdminDashboard()">
        <i class="fa fa-server subIcons" aria-hidden="true" ></i>
        <h6 class="subMenuName">Admin Page</h6>
    </div>
  </div>
</div>