
.header {
	overflow: hidden;
	/* background-color:  */
  background-color: #2874f0;
	margin: 0;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 60px;
	font-family: Alata;
}

.header a{
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	text-decoration: none;
}

/* .header a:hover{
	background: white;
	color: #00a4d3;
} */

.header li{
	margin: 20px;
	float: right;
	display: inline-block;
  line-height: 0em;
    
}
i{
    height: 25px;
    width: 25px;
}


img{
    width: 25px;
    height: 25px;
}
/* Style the tab */
.tabcontainer{
  
  position:fixed; 
  width:100%; 
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgb(231, 231, 231); 
  padding: 10px 0;
  margin-top: -6px;
}
.tab {
  /* position:fixed; */
  /* width:97.5%; */
  /* left: 50%;
    transform: translate(-50%, 0); */
  overflow: hidden;
  margin: 10px auto;
  margin-top: 10px;
  
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 12px;
  /* border: 1px solid #fff; */
  border: none;
  background-color: #f1f1f1;
  z-index: 50px;
  box-shadow:  1px 2px 10px  gray;
  
}


/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  width: 20%;
  /* border: 0.25px solid #ccc; */
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  /* border-radius: 5px; */
}


/* Change background color of buttons on hover */
/* .tab button :hover {
 background-color: gray;
  
}
*/
.tablinks{
  font-size: 20px;
} 


/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  margin-top: 5px;
  margin-left: 25px;
  margin-right: 25px;
  padding: 6px 12px;
  /* border: 1px solid #ccc; */
  border: none;
  font-size: 12px;
}


table,  td {
  font-size: 15px;
  text-align: center;
  border-collapse: separate;
  font-family: Alata;
  padding-bottom: 5px;
  border-spacing: 0px 20px;
}


th{
  /* border: 2px solid rgb(0, 0, 0); */
  padding: 10px 12px;
	font-size: 19px;
  text-align: center;
  margin: 1px -15px;
  /* border-radius: 5px; */
  color: #2874f0;
  /* background-color: rgb(250,250,250); */
  background-color: white;  
  /* border-bottom: 5px solid rgb(231,231,231); */
  /* border-top: 5px solid rgb(231,231,231); */
}
tr{
  /* border-radius: 5px; */
}

td{
  padding: 5px;
  padding-left: 1%;
  height: 40px;
  /* border: 1px solid rgb(202, 202, 202); */
}
/*
.tbody{
  border: 1px solid rgb(202, 202, 202);
}

.tbody:hover{
  background-color: #c4c4c4;
}
*/
.tableHeads{
  font-size: 19px;
  font-weight: 700;
  color:#2874f0;
  padding: 10px 0;
  font-family: Alata;
  box-shadow: 0px 0px 3px 2px rgb(180,180,180); 
  margin:10px 23px;
  display: flex;
}
.blue{
  
  box-shadow: 0px 0px 2px 2px #dae3f3;
  background-color: white;
}
  
.green{
  /* box-shadow: 0px 0px 2px 2px #2874f0; */
  /* box-shadow: 0px 0px 2px 2px rgb(21, 134, 21); */
  box-shadow: 0px 0px 2px 2px #2874f0;
  background-color: white;
}
.red{
  /* box-shadow: 0px 0px 2px 2px #a12020; */
  /* box-shadow: 0px 0px 2px 2px rgb(155, 155, 155); */
  box-shadow: 0px 0px 2px 2px #ff6164;
  background-color: white;
}
.black{
  box-shadow: 0px 0px 2px 2px rgb(95, 95, 95);
  background-color: white;
}
.even{
  background-color: white;
  box-shadow: 0px 0px 3px 2px #9e9e9e;
  color:black;
}
.odd{
  background-color: white;
  box-shadow: 0px 0px 3px 2px #9e9e9e;
  color:black;
  background-color: rgb(240, 240, 240);
}

.newCat{
  
  background-color: white;
  box-shadow: 0px 0px 3px 2px rgb(122, 122, 122);
  color:black;
}

.addIcn{
  font-size: 20px;
  color:#2874f0;
  margin-top: 7px;
  margin-left: 7px;
}
.addIcn:hover{
  cursor: pointer;
}

.addLabels{
  color:#2874f0;
  font-weight: 600;
  margin-left: 5px;
  font-size: 17px;
}

.addInputs{
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  text-align: center;
}

.newCatBtn{
  background-color:  #00a4d3;
  margin: 10px 70px;
  /* border-radius: 5px; */
  outline: none;
  color: white;
}
/* .tr{
  border: 1px solid yellow;
} */
a{
  text-decoration: none;
}

.accept {
	width: 11.5%;
	margin-left: 3px;
  color: #FFF;
  background: #00a4d3;
  padding: 4px 10px;
  box-shadow: none;
}
.accept:hover {
  background: #4dcbf0;
  box-shadow: none;
}
.deny {
	width: 11.5%;
	margin-left: 3px;
  color: #FFF;
  background: #707070;
  padding: 4px 10px;
  box-shadow: none;
}
.deny:hover {
  background: #878787;
  box-shadow: none;
}

.pdsearch {
  border-radius: 3px;
  border-width: 1px;
  /* margin-left: 13%; */
  width: 70%;
}

/* .footer {
	display: inline-block;
	overflow: hidden;
	background-color: #5e5e5e;
	margin: 0;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 30px;
} */

.footer {

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(175, 175, 175);
  opacity: 1;
  text-align: center;
}

.inner_footer li{
	margin: 10px;
	display: inline-block;
}

.col-2, .col-3 {
	margin-bottom: 5px;

}

.footer a{
	float: left;
	display: block;
	color: #fafcfc;
	text-align: center;
	text-decoration: none;
}

/* Style the tab */
.tab2 {
  float: left;
  /* border: 1px solid #ccc; */
  /* background-color: #f1f1f1; */
  background-color: white;
  width: 10%;
  /* height: 300px; */

}

/* Style the buttons that are used to open the tab content */
.tab3 button {
  display: block;
  /* background-color: inherit; */
  background-color :#f1f1f1;
  /* background-color: #0086d3; */
  
  color: black;
  padding: 10px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 30px;
  margin-bottom: 30px;
}



/* Change background color of buttons on hover */
.tab3 button:hover {
  /* background-color: #ddd; */
  background-color: #4dcbf0;
}

/* Create an active/current "tab button" class */
.tab3 button:active {
  background-color :#0086d3;
  
}

/* Style the tab content */
.tabcontent2 {
  /* display: inline; */
  float: left;
  padding: 0px 12px;
  /* border: 1px solid #ccc; */
  width: 70%;
  border-left: none;
  height: 300px;
 
}

.tab3{
  display: inline-block;

}

.approvebtn{
  /* margin-left: 10%; */
  width: 90px;
  color: #FFF;
  background: #00a4d3;
  padding: 4px 10px;
  box-shadow: none;
  border: none;
  margin:5px;
}

.approveIcn{
  /* color: #2874f0; */
  color: #2874f0;
  font-size: 35px;
  margin-right: 15px;
  margin-top: 3px;
  cursor: pointer;
  /* background-color: red; */
}
.denyIcn{
  /* color:rgb(95, 95, 95); */
  color: #ff6164;
  font-size: 35px;
  margin-left: 15px;
  cursor: pointer;
}
.deletedIcn{
  margin-top: 8px;
  color:white;
  font-size: 25px;
}


.approvedbtn{
  /* margin-left: 10%; */
  width: 90px;
  color: #FFF;
  background: #72bb53;
  padding: 4px 10px;
  box-shadow: none;
  border: none;
}

.red2{
  /* background-color: rgb(155, 155, 155); */
  background-color: #ff6164;
}
.blue2{
  background-color: #f7faff;
  /* background-color: #f8e831; */
}
.green2{
  /* background-color: rgb(21, 134, 21); */
  background-color: #2874f0;

}
.black2{
  background-color:  rgb(95, 95, 95)
}

.denybtn {
  /* margin-right: 10%; */
  width: 90px;
  color: #FFF;
  background: #707070;
  padding: 4px 10px;
  box-shadow: none;
  border: none;
  /* float: right; */
  margin:5px;
}

.deniedbtn {
  /* margin-right: 10%; */
  width: 90px;
  color: #FFF;
  background: #bb3939;
  padding: 4px 10px;
  box-shadow: none;
  border: none;
  /* float: right; */
}
.deletedbtn {
  /* margin-right: 10%; */
  width: 90px;
  color: #FFF;
  background: #161616;
  padding: 4px 10px;
  box-shadow: none;
  border: none;
  /* float: right; */
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  position:fixed;
  top: 45%;
  left: 47%;
}
  
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#listing_pagination /deep/ .ngx-pagination .current {
  background:  00a4d;
  /*border-radius: 4px;
  padding-left: 9px;
  padding-right: 9px;
  border: 1px solid gray;*/
}