

<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">

<script src="admin-approval.component.ts"></script>
<div style="height:100%; background-color: rgb(231, 231, 231); padding-bottom: 50px;">
    <app-navbar style="z-index: 50; position: fixed;"></app-navbar>
    <br><br><br>
    <div class="tabcontainer">
    <div class="tab" >

        <button class="tablinks" style="color:'#2874f0';" [style.background-color]="dashclr"
            (click)="openTab('Dashboard')"><b [style.color]="dashtxtclr">Dashboard</b></button>
        <button class="tablinks" style="color:'#2874f0';" [style.background-color]="clientclr"
            (click)="openTab('Client')"><b [style.color]="clienttxtclr">Client List</b></button>
        <button class="tablinks" style="color:'#2874f0';" [style.background-color]="prodclr"
            (click)="openTab('Product')"><b [style.color]="prodtxtclr">Product List</b></button>
        <button class="tablinks" style="color:'#2874f0';" [style.background-color]="orderclr"
            (click)="openTab('Order')"><b [style.color]="ordertxtclr">Order List</b></button>
        <button class="tablinks" style="color:'#2874f0';" [style.background-color]="catclr"
            (click)="openTab('Category')"><b [style.color]="cattxtclr" >Categories & Brands</b></button>

    </div>
    </div>
    <br><br><br>
    <!-- Tab content -->
    <div class="mainDiv" style="padding:25px; background-color: white; margin:25px;">
        
        <div id="Client" [hidden]="hideClientList" class="tabs">

                <div style="position: fixed; width: 100%; left:0; margin-top: -27px;">
                    <div style="background-color: white;margin:0 25px; padding: 15px 0;">
                        <div class="tableHeads">
                            <div style="width: 29%;text-align: center;">Client Name</div>
                            <div style="width: 29%;text-align: center;">Contact</div>
                            <div style="width: 29%;text-align: center;">Email</div>
                            <div style="width: 13%;text-align: center;">Status</div>
                        </div>
                        <div class="tsearch" style=" margin:-5px,0;padding:0 20px; padding-top: 5px; display: flex; text-align: center;">
                            <div style="width: 29%"><input class="pdsearch" type="text" [(ngModel)]="searchUserName"
                                    placeholder="Search Name"></div>
                            <div style="width: 29%"><input class="pdsearch" type="text" [(ngModel)]="searchUserContact"
                                    placeholder="Search Contact"></div>
                            <div style="width: 29%"><input class="pdsearch" type="text" [(ngModel)]="searchUserEmail"
                                    placeholder="Search Email"></div>
                            <div style="width: 13%;">
                                <select size="1" class="pdsearch" name="status" style="height:26px" (change)="searchStatus2($event)">
                                    <option value=''>All</option>
                                    <option value='approved'>Approved</option>
                                    <option value='denied'>Denied</option>
                                    <option value='pending'>Pending</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- <div>
                        
                    </div> -->
                </div>            
                <div style="height:90px;"></div>
                <table style="width:100%; overflow-y: auto;">
                <!-- <div style="height:5px"></div> -->

                <!-- <div style="height:5px"></div> -->
                <tr *ngFor="let user of users | searchfilteruser : [searchUserName,searchUserContact,searchUserEmail,searchUserStatus] | 
            paginate: {id: 'listing_pagination', itemsPerPage:10, currentPage:page, totalItems: totalRecords }"
                    [ngClass]="{
                'red' : user.kycStatus=='Denied' || user.kycStatus=='denied',
                'green' : user.kycStatus=='Approved' || user.kycStatus=='approved',
                'blue' : user.kycStatus=='Pending' || user.kycStatus=='pending'
             }">
                    <td style="width: 29%;">{{user.firstName + " " + user.lastName}}</td>
                    <td style="width: 29%;">{{user.primaryContact}}</td>
                    <td style="width: 29%;">{{user.email}}</td>
                    <td style="padding:0px;width: 13%">
                        <div style="height:100%;" [ngClass]="{
                            'red2' : user.kycStatus=='Denied' || user.kycStatus=='denied',
                            'green2' : user.kycStatus=='Approved' || user.kycStatus=='approved',
                            'blue2' : user.kycStatus=='Pending' || user.kycStatus=='pending',
                            'black2' : user.kycStatus=='Deleted' || user.kycStatus=='deleted'}">
                        <!-- <div *ngIf="user.kycStatus=='Pending' || user.kycStatus=='pending' ; else notPending">
                        <button class="approvebtn" (click)="approveUser(user)">Approve</button>
                        <button class="denybtn" (click)="denyUser(user)">Deny</button>
                    </div> -->
                            <div *ngIf="user.kycStatus=='Pending' || user.kycStatus=='pending' ; else notPending">
                                <!-- <button class="approvebtn" (click)="approveUser(user)">Approve</button> -->
                                <!-- <button class="fa fa-check" style="font-size:16px;color:green"></button> -->
                                <!-- <button class="denybtn" (click)="denyUser(user)">Deny</button> -->
                                <!-- <button class="fa fa-close" style="font-size:16px;color:black"></button> -->
                                
                                <i class="fa fa-check-circle approveIcn" title="Approve" (click)="approveUser(user)"></i>
                                <!-- <button class="denybtn" (click)="denyProduct(product)">Deny</button> -->
                                <i class="fa fa-times-circle denyIcn" title="Deny" (click)="denyUser(user)"></i>
                            </div>
                            <ng-template #notPending>
                                <div *ngIf="user.kycStatus=='Approved' || user.kycStatus=='approved'">
                                    <!-- <button class="approvedbtn" disabled>Approved</button> -->
                                    <i class="fa fa-check deletedIcn" title="Approved"></i>
                                </div>
                                <div *ngIf="user.kycStatus=='Denied' || user.kycStatus=='denied'">
                                    <!-- <button class="deniedbtn" disabled>Denied</button> -->
                                    <i class="fa fa-times deletedIcn" title="Denied"></i>
                                </div>
                            </ng-template>
                        </div>
                    </td>
                </tr>

            </table>

        </div>
        <div [hidden]="hideClientList" style="text-align: center; padding-top: 1%; height:40px; ">
            <pagination-controls id="listing_pagination" maxsize="5" directionLinks="true" (pageChange)="page = $event"
                previousLabel="" nextLabel=""></pagination-controls>
            <br>
        </div>

        <div id="Dasboard" [hidden]="hideDashBoard" class="tabs" style="display: flex;">
            <!--         
        <div class="tab3">
            <button class="tablinks2" [style.background-color]="btn1color" [style.color]="txt1clr" (click)="openDashSub('salesPerformance')">Sales Performance</button><br>
            <button class="tablinks2" [style.background-color]="btn2color" [style.color]="txt2clr" (click)="openDashSub('topCategories')">Top Categories</button>
        </div>
        <div class="tab3" style="width: 60%;">
            <div [hidden]="hideSubtab" id="salesPerformance" class="tabcontent2"> -->
            <div style="margin-right: 5px; width:47%; color: '#152336';">
                <h3 style="text-align: center;">SALES PERFORMANCE</h3>

                <div class="chart-container" style="margin-top:40px">
                    <canvas id="canvas"></canvas>
                </div>
            </div>
            <!-- </div> -->

            <!-- <div [hidden]="!hideSubtab" id="topCategories" class="tabcontent2"> -->
            <div style="margin-left: 5px; width:47%;">
                <h3 style="text-align:center;">SALES PERCENTAGE<h5>(Category Wise)</h5>
                </h3>

                <div class="chart-container">
                    <canvas id="canvas1"></canvas>
                </div>
            </div>
            <!-- </div> -->
            <!-- </div>    -->
        </div>

        <div id="Product" [hidden]="hideProductList" class="tabs" >
            <div style="position: fixed; width: 100%; left:0; margin-top: -27px;">
                <div style="background-color: white;margin:0 25px; padding: 15px 0;">
                    <div class="tableHeads">
                        <div style="width: 29%;text-align: center;">Product Name</div>
                        <div style="width: 29%;text-align: center;">Category</div>
                        <div style="width: 29%;text-align: center;">Seller</div>
                        <div style="width: 13%;text-align: center;">Status</div>
                    </div>
                    <div class="tsearch" style=" margin:-5px,0;padding:0 20px; padding-top: 5px; display: flex; text-align: center;">
                        <div style="width: 29%"><input class="pdsearch" type="text" [(ngModel)]="searchProdName"
                            (keypress)="clearSearchProd('name')" placeholder="Search Name"></div>
                        <div style="width: 29%"><input class="pdsearch" type="text" [(ngModel)]="searchProdCategory"
                            (keypress)="clearSearchProd('category')" placeholder="Search Category"></div>
                        <div style="width: 29%"><input class="pdsearch" type="text" [(ngModel)]="searchProdSeller"
                            (keypress)="clearSearchProd('seller')" placeholder="Search Seller"></div>
                        <div style="width: 13%;">
                            <select size="1" class="pdsearch" name="status" style="height:26px;" (change)="searchStatus($event)">
                                <option value=''>All</option>
                                <option value='approved'>Approved</option>
                                <option value='denied'>Denied</option>
                                <option value='pending'>Pending</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>            
            <div style="height:90px;"></div>
            <table style="width:100%; overflow-y: auto;" cellspacing="10">
                <!-- <tr style="box-shadow: 0px 0px 3px 2px rgb(180,180,180);">
                    <th style="width: 29%">Product Name</th>
                    <th style="width: 29%">Category</th>
                    <th style="width: 29%">Seller</th>
                    <th style="width: 13%">Status</th>
                </tr>
                <div style="height:5px"></div>
                <tr class="tsearch" style="border: 1px solid rgb(131, 131, 131);">
                    <td style="width: 29%"><input class="pdsearch" type="text" [(ngModel)]="searchProdName"
                            (keypress)="clearSearchProd('name')" placeholder="Search Name"></td>
                    <td style="width: 29%"><input class="pdsearch" type="text" [(ngModel)]="searchProdCategory"
                            (keypress)="clearSearchProd('category')" placeholder="Search Category"></td>
                    <td style="width: 29%"><input class="pdsearch" type="text" [(ngModel)]="searchProdSeller"
                            (keypress)="clearSearchProd('seller')" placeholder="Search Seller"></td>
                    <td style="width: 13%;">
                        <select size="1" class="pdsearch" name="status" (change)="searchStatus($event)">
                            <option value=''>All</option>
                            <option value='approved'>Approved</option>
                            <option value='denied'>Denied</option>
                            <option value='pending'>Pending</option>
                        </select>
                    </td>
                </tr> -->
                <tr *ngFor="let product of products | searchfilter : [searchProdName,searchProdCategory,searchProdSeller,searchProdStatus] | 
                 paginate: {id: 'listing_pagination', itemsPerPage:10, currentPage:page, totalItems: totalRecords }"
                    [ngClass]="{
                     'red' : product.productStatus=='Denied' || product.productStatus=='denied',
                     'green' : product.productStatus=='Approved' || product.productStatus=='approved',
                     'blue' : product.productStatus=='Pending' || product.productStatus=='pending',
                     'black' : product.productStatus=='Deleted' || product.productStatus=='deleted'
                }">

                    <td style="width: 29%;">{{product.productName}}</td>
                    <td style="width: 29%;">{{product.categoryName}}</td>
                    <td style="width: 29%;">{{product.createdBy}}</td>
                    <td style="padding:0; width:13%;">
                        <div style="height:100%;" [ngClass]="{
                            'red2' : product.productStatus=='Denied' || product.productStatus=='denied' ,
                            'green2' : product.productStatus=='Approved' || product.productStatus=='approved',
                            'blue2' : product.productStatus=='Pending' || product.productStatus=='pending',
                            'black2' : product.productStatus=='Deleted' || product.productStatus=='deleted'}">
                            <div
                                *ngIf="product.productStatus=='Pending' || product.productStatus=='pending' ; else notPending">
                                <!-- <button class="approvebtn" (click)="approveProduct(product)">Approve</button> -->
                                <i class="fa fa-check-circle approveIcn" title="Approve" (click)="approveProduct(product)"></i>
                                <!-- <button class="denybtn" (click)="denyProduct(product)">Deny</button> -->
                                <i class="fa fa-times-circle denyIcn" title="Deny" (click)="denyProduct(product)"></i>
                            </div>
                            <ng-template #notPending>
                                <div *ngIf="product.productStatus=='Approved' || product.productStatus=='approved'">
                                    <!-- <button class="approvedbtn" disabled>Approved</button> -->
                                    <i class="fa fa-check deletedIcn" title="Approved"></i>
                                </div>
                                <div *ngIf="product.productStatus=='Denied' || product.productStatus=='denied'">
                                    <!-- <button class="deniedbtn" disabled>Denied</button> -->
                                    <i class="fa fa-times deletedIcn" title="Denied"></i>
                                    
                                </div>
                                <div *ngIf="product.productStatus=='Deleted' || product.productStatus=='deleted'">
                                    <!-- <button class="deletedbtn" disabled>Deleted</button> -->
                                    <i class="fa fa-ban deletedIcn" title="Deleted" ></i>
                                </div>
                            </ng-template>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div [hidden]="hideProductList" style="text-align: center; padding-top: 1%; height:40px;">
            <pagination-controls id="listing_pagination" maxsize="5" directionLinks="true" (pageChange)="page = $event"
                previousLabel="" nextLabel=""></pagination-controls>
            <br>
        </div>

        <div id="Order" [hidden]="hideOrderList" class="tabs">
            <div style="position: fixed; width: 100%; left:0; margin-top: -27px;">
                <div style="background-color: white;margin:0 25px; padding: 15px 0;">
                    <div class="tableHeads">
                        <div style="width: 20%;text-align: center;">Order Id</div>
                        <div style="width: 20%;text-align: center;">UserName</div>
                        <div style="width: 20%;text-align: center;">Product Id</div>
                        <div style="width: 20%;text-align: center;">Quantity</div>
                        <div style="width: 20%;text-align: center;">Total Price</div>
                    </div>
                </div>
                <!-- <div>
                    
                </div> -->
            </div>            
            <table style="width:100%; overflow-y: auto;" cellspacing="5">
                <!-- <tr style="box-shadow: 0px 0px 3px 2px rgb(180,180,180);">
                    <th style="width: 20%">Order Id</th>
                    <th style="width: 20%">UserName</th>
                    <th style="width: 20%">Product Id</th>
                    <th style="width: 20%">Quantity</th>
                    <th style="width: 20%">Total Price</th>

                </tr> -->
                <div style="height:35px"></div>
                <!-- <div style="height:5px"></div> -->
                <tr class='tbody'
                    *ngFor="let order of orders | paginate: {id: 'listing_pagination', itemsPerPage:10, currentPage:page, totalItems: totalRecords };let i=index"
                    [ngClass]="{
                'even': i%2==0, 'odd': i%2==1
            }">
                    <td style="width: 20%">{{order.orderId}}</td>
                    <td style="width: 20%">{{order.username}}</td>
                    <td style="width: 20%">{{order.productId}}</td>
                    <td style="width: 20%">{{order.quantity}}</td>
                    <td style="width: 20%">{{order.totalAmount}}</td>
                </tr>
            </table>
        </div>
        <div [hidden]="hideOrderList" style="text-align: center; padding-top: 1%; height:40px;">
            <pagination-controls id="listing_pagination" maxsize="5" directionLinks="true" (pageChange)="page = $event"
                previousLabel="" nextLabel=""></pagination-controls>
            <br>
        </div>

        <div id="category" [hidden]="hideCategory" class="tabs" style="display:flex; background-color: rgb(231, 231, 231); margin: -25px">
            <div
                style="width:48%; height: fit-content; display: inline; box-shadow: 0px 0px 3px 2px rgb(189, 189, 189); padding: 5px; margin: 1%; background-color: white;">
                <table style="width:90%; overflow-y: auto; margin:auto;">
                    <tr style="box-shadow: 0px 0px 3px 2px rgb(180,180,180);">
                        <th style="width: 50%">Category Id</th>
                        <th style="width: 50%">Category Name</th>
                    </tr>

                    <div style="height:2px"></div>
                    <tr class="newCat">
                        <td>
                            <i class="fa fa-plus-circle addIcn" title="Add New Category" (click)="addNewCategory()"></i>
                            <span class="addLabels">Add</span>
                        </td>
                        <td><input type="text" placeholder="New Category" class="addInputs" [(ngModel)]="newCategory"></td>
                    </tr>
                    <tr *ngFor="let cat of allCategories | paginate: {id: 'listing_pagination', itemsPerPage:10, currentPage:page, totalItems: totalRecords };  let i=index"
                        [ngClass]="{
                    'even': i%2==0, 'odd': i%2==1
                }">
                        <td>{{cat.categoryId}}</td>
                        <td>{{cat.categoryName}}</td>
                    </tr>
                </table>
            </div>
            <!-- <div
                style="width:48%; display: inline; border: 1px solid gray; border-radius: 5px; padding: 5px;margin: 1%">
                <div style="width: fit-content; margin:auto; ">
                    <h6 style="margin:18px"><u><b>Add New Category</b></u></h6>
                    <input type="text" name="newCat" place="Category Name" [(ngModel)]="newCategory">
                    <br>
                    <button class="newCatBtn" (click)="addNewCategory()">Add</button>
                </div>
            </div> -->
            <div
                style="width:48%; height: fit-content; display: inline;box-shadow: 0px 0px 3px 2px rgb(189, 189, 189); padding: 5px; margin: 1%; background-color: white">
                <table style="width:90%; overflow-y: auto; margin:auto;">
                    <tr style="box-shadow: 0px 0px 3px 2px rgb(180,180,180);">
                        <th style="width: 50%">Brand Id</th>
                        <th style="width: 50%">Brand Name</th>
                    </tr>

                    <div style="height:2px"></div>
                    <tr class="newCat">
                        <td>
                            <i class="fa fa-plus-circle addIcn" title="Add New Brand" (click)="addNewBrand()"></i>
                            <span class="addLabels">Add</span>
                        </td>
                        <td><input type="text" placeholder="New Brand" class="addInputs" [(ngModel)]="newBrand"></td>
                    </tr>
                    <tr *ngFor="let brand of allBrands | paginate: {id: 'listing_pagination', itemsPerPage:10, currentPage:page, totalItems: totalRecords };  let i=index"
                        [ngClass]="{
                    'even': i%2==0, 'odd': i%2==1
                }">
                        <td>{{brand.brandId}}</td>
                        <td>{{brand.brandName}}</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
    <div class="loader" [hidden]="hideLoader">
    </div>

    <app-msg-dialogue [msg]="msg2" (result)="msgResult($event)"></app-msg-dialogue>

    
  <app-footer></app-footer>
</div>