<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">  
  <script src="https://kit.fontawesome.com/yourcode.js"></script>
  


</head>

<body>
  <div class="container-fluid img-bg " style="background-color:black; opacity:1; ">
    <ul>
        <li><h2 style="font-family: Alata;">Megamart</h2></li>       
      <li style="float: right; padding: 14px 16px;"><button class="btn btn-info btn-primary" [routerLink]="['/register']">Register</button></li>
      <li class="glyphicon square-more" >
      </li>
      <!-- <li><a href="#register" button class="btn btn-info" style="float: right;"></button>Register</a></li> -->
    </ul>
    <br><br>
    <br><br>
    <div class="row">

      <div class="col-sm-6" >
        <br><br>
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-8 loginbox" style="background: rgba(40, 41, 43, 0.5);">
              
         <br>
               <h3 style="text-align:center;color:white">Login</h3>             <!-- <h6>Welcome to E-Commerce Application!</h6> -->
          <!-- <div class="tab">
          <div class=row></div>
          <button class="col-sm-4 tablinks">User</button>
          <button class="col-sm-4 tablinks">Admin</button>
          <button class="col-sm-4 tablinks">Vendor</button>
        </div> -->
        <br>
          <form #loginform="ngForm" (ngSubmit)="loginUser()">
            <!-- {{loginform.form.valid}} -->
            <small style="color: rgb(255, 255, 255); background-color: red; padding:5px; border-radius: 3px;margin-bottom: 5px;" [hidden]="warningHide">{{msg}}</small>
            <div class="form-group">
              <!-- <label for="email">Username</label> -->
              <input type="email" class="form-control" id="email" placeholder="Username" name="email"
                [(ngModel)]="user.email" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #email="ngModel"
                [class.is.invalid]="email.invalid && email.touched">
              <!-- <small class="text-danger" [class.d.none]="email.valid || email.untouched">Email Id is mandatory field</small> -->
              <div *ngIf="email.errors && email.invalid && email.touched">
                <small class="text-danger" *ngIf="email.errors.required">Username is mandatory field</small>
                <small class="text-danger" *ngIf="email.errors.pattern">Enter username in valid format</small>
              </div>
            </div>

            <div class="form-group">
              <!-- <label for="pwd">Password:</label> -->
              <input type="password" class="form-control" id="pwd" placeholder="Password" name="pwd"
                [(ngModel)]="user.password" required #password="ngModel"
                [class.is.invalid]="password.invalid && password.touched">
              <!-- <small class="text-danger"  [class.d.none]="password.invalid || password.untouched">Password is mandatory field</small> -->

              <div *ngIf="password.errors && password.invalid && password.touched">
                <small class="text-danger" *ngIf="password.errors.required">Enter your password</small>
                <!-- <small class="text-danger" *ngIf="email.errors.pattern">Enter EmailId in valid format</small>  -->
              </div>

            </div>
            <div>
              <!-- <label>Forgot Password</label> -->
              <p [routerLink]="['/forgotpwd']" style="text-align:right;color: white;font-style: italic; text-decoration: underline;" >Forgot Password</p>
            </div>
            <!-- <div class="checkbox">
            <label><input type="checkbox" name="remember"> Remember me</label>
          </div> -->
          <div class="text-center">
                      <button [disabled]="loginform.form.invalid" type="submit" class="btn btn-info btn-primary" style="border-radius: 20px;width:100px;">Sign In</button>         
          </div>    
            <!-- <button [disabled]="loginform.form.invalid" onclick="loginUser()" type="submit" class="btn btn-info text-center">Sign In</button> -->
          </form>
          <!-- <small class="float-right" (click)="gotoregisteration">New User?Register here</small> -->
          <small class="float-right" [routerLink]="['/register']" style="color: white;">New User?Register here</small>
        </div><!-- Inner Second col closes here -->
            <div class="col-sm-2"></div><!-- Inner Third col closes here -->
          </div><!-- inner row closes here -->
        </div><!-- first column closes here -->

        <div class="col-sm-6"></div><!-- Second col closes here -->


      </div><!-- outer row closes here -->
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="footer" style="text-decoration-color: white">
        <div class="navbar" >
          <a href="#c" style="color:white" >2020 Megamart. All rights Reserved.</a>
          <a href="#info" style="color:white">Contact Us: Info@megamart.com</a>
          <a href="#social" style="color:white">Social</a>
        </div>
        </div>
    </div> <!-- container closes here -->
</body>

</html>