<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type="text/css"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css"
    integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css"
    integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>
  <app-navbar></app-navbar>
  <br><br>
  <div class="all1">


    <!-- <br><br><br><br>
    <div style="width: 30px;"></div> -->
    <div class="main3" style="width: 80%; background-color: white;">
      <h4 style="color: rgb(24, 24, 24); padding-left: 17px; border-bottom: 1px solid rgb(231,231,231); padding-bottom: 10px;">My Cart ({{count}})</h4>
      <div class="row" *ngFor="let prod of products; let i=index" style="padding-left: 20px; border-bottom: 1px solid rgb(231,231,231);">
        <div class="column left">
          <img src={{prod.image[0].imageURL}} alt="Avatar" (click)="goToProduct(prod)"
            style="width:100%; height: 85%; cursor: pointer;">
        </div>
        <div class="column right" style="padding-left: 80px;">
          <h5 class="h6" style="margin-top: 1px; color: rgb(24, 24, 24); cursor: pointer; width: 60%;" (click)="goToProduct(prod)">
            <b>{{prod.productName}}</b></h5>
          <h5 class="h6" style="margin-top: -1px; width: 60%; color: rgb(24, 24, 24);">{{prod.categoryName}}</h5>
          <div
            style="padding-left: 0%; padding-top: -5%; padding-bottom: 0%; padding-right: 0%; display: inline-flex; ">
            <h5 style="margin-top: -5px; width: 75%; color: rgb(24, 24, 24); padding-right: 10px; font-size: 18px;">Quantity: </h5>
            <button class="fa fa-minus"
              style="color: rgb(24, 24, 24); border: none; background-color: white; font-size: 10px; outline: none; margin-top: -6.5%;"
              (click)="changeQty(cartItems[i], i, -1)"></button>
            <h5 style="color: rgb(24, 24, 24); margin-top: -5%; font-weight: normal;">{{cartItems[i].quantity}}</h5>
            <button class="fa fa-plus"
              style="color: rgb(24, 24, 24); border: none; background-color: white; font-size: 10px; outline: none; margin-top: -8.2%;"
              (click)="changeQty(cartItems[i], i, 1)"></button>
          </div>
          <h5 style="margin-top: -2px; margin-bottom: 10px; width: 75%; color: rgb(24, 24, 24); font-size: 18px;">Seller:
            {{prod.createdBy}}</h5>
          <h5 class="h6" style="margin-top: -3px; width: 33%; color: rgb(24, 24, 24);">Rs. {{prod.productPrice}}/-</h5>
          <div class="div3" style="margin-left: -15px; margin-top: -1%; margin-bottom: 0%;">
            <button class="bsave" style="width:160px; height: 18%;" (click)="saveForLater(prod,i)">Save for
              later</button>
            <button class="fa fa-trash trash" style="font-size: 27px; margin-top: -17px;"
              (click)="removeFromCart(prod,i)"></button>
          </div>
        </div>
      </div>
      <div class="row" *ngFor="let naProd of notAvailableProducts; let i1=index" style="padding-left: 20px;">
        <div class="img__wrapper">
          <div class="column left">
            <img src={{naProd.image[0].imageURL}} alt="Avatar" style="width:100%; height: 80%; opacity: 0.7;">
            <a class="sold_out" *ngIf="naProd.productStatus=='Deleted'">Not Available</a>
            <a class="sold_out" *ngIf="naProd.productStatus!='Deleted'">Out of Stock</a>
          </div>
          <div class="column right" style="padding-left: 100px;opacity: 0.7;">
            <!-- <h4> This Product is not Available, Please Delete the Product</h4> -->
            <h5 class="h6" style="margin-top: 1px; color: rgb(24, 24, 24); width: 60%;"><b>{{naProd.productName}}</b></h5>
            <h5 class="h6" style="margin-top: -4px; width: 60%; color: rgb(24, 24, 24);">{{naProd.categoryName}}</h5>
            <h5 style="margin-top: -5px; width: 75%; color: rgb(24, 24, 24);">Seller: {{naProd.createdBy}}</h5>
            <h5 class="h6" style="margin-top: -3px; width: 33%; color: rgb(24, 24, 24);">Rs. {{naProd.productPrice}}/-</h5>
            <button class="fa fa-trash trash" style="font-size: 27px; padding-left:0;margin-left:0"
              (click)="removeFromNACart(naProd,i1)"></button>
          </div>
        </div>
      </div>
    </div>

    <div class="main3" style="width: 40%; background-color: white; padding-bottom: 20px; height: fit-content;">
      <h4 style="color: rgb(24, 24, 24); text-align: center; border-bottom: 1px solid rgb(231,231,231); padding-bottom: 10px;">Price Details</h4>
      <br>
      <div class="div3" style="margin:10px;">
        <h5 style="color: rgb(24, 24, 24);">Price ({{count}}):</h5>
        <h5 style="padding-left: 105px; color: rgb(24, 24, 24);">Rs. {{Price}}/-</h5>
      </div>
      <div class="div3" style="margin:10px;">
              <h5 style="color: rgb(24, 24, 24);">Other Charges:</h5>
              <h5 style="padding-left: 59px; color: rgb(24, 24, 24);">{{otherCharges}}</h5>
            </div>
      <br>
      <div class="div3" style="margin:10px; border-top: 1px dashed rgb(231,231,231);">
        <h5 style="color: rgb(24, 24, 24);">Total Amount:</h5>
        <h5 style="padding-left: 64px; color: rgb(24, 24, 24);">Rs. {{Price+otherCharges}}/-</h5>
      </div>
      <br><br>
      <div style="text-align: center;">
        <button class="bsave" *ngIf="count>0" (click)="placeOrder()" style="background-color: rgb(15, 167, 15); width: 38%; font-weight: 500;">Place Order</button>
      </div>
    </div>
  </div>

  <app-msg-dialogue [msg]="msg" (result)="confirmRemove($event)"></app-msg-dialogue>

  <app-footer></app-footer>

</body>

</html>