.icn {
  height: 25px;
  width: 25px;
  display: block;
}

* {
box-sizing: border-box;
}

body {
font-family: Arial, Helvetica, sans-serif;
background-color: rgb(231, 231, 231);
}
.bsave{
background-color: #fb641b;
text-align: center;
color: white;
border: none;
padding: 10px 20px;  
margin-top: -7px;
width: 26%;
font-size: 17px;
}
.bsave:focus{
outline: #00a4d3;
}
.h6{
color: rgb(36, 36, 36);
padding-left: 2px;
border-style: solid; 
border-width: 2px; 
border-color: rgb(231, 231, 231);
font-size: 18px;
}
.main3 {
  /* display: inline-block;     */
  padding: 1% 0;
  margin: 2%;
  border-width: 1px;
  background-color: white;
  box-shadow: 0px 0px 5px 1px rgb(201, 201, 201);
}
.all1{
  margin: 10px auto;
  width:95%;
  max-width: 1400px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  /* justify-content: space-between; */
  padding: 40px 0px;
  background-color: rgb(231, 231, 231);
}  
/* Create two unequal columns that floats next to each other */
.column {
float: left;
padding: 10px;
/*height: 300px;  Should be removed. Only for demonstration */
}

.img__wrapper{
/* width: 500px; */
/* height: 300px; */
height:100%;
width:100%;
position:relative;
overflow:hidden;
}


.sold_out {
top: 2em;
left: -5em;
color: #fff;
display: block;
position:absolute;
text-align: center;
text-decoration: none;
letter-spacing: .06em;
background-color: #A00;
padding: 0.5em 5em 0.4em 5em;
text-shadow: 0 0 0.75em #444;
box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
font: bold 16px/1.2em Arial, Sans-Serif;
-webkit-text-shadow: 0 0 0.75em #444;
-webkit-box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
-webkit-transform: rotate(-45deg) scale(0.75,1);
z-index:10;
}
/* .sold_out:before {
content: '';
top: 0;
left: 0;
right: 0;
bottom: 0;
position: absolute;
margin: -0.3em -5em;
transform: scale(0.7);
-webkit-transform: scale(0.7);
border: 2px rgba(255,255,255,0.7) dashed;
} */

.left {
width: 30%;
}

.right {
width: 70%;
}
/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}
/* .row:hover {
box-shadow: 1px 1px 3px 3px rgb(240, 235, 235);
} */
.row:hover::after {
opacity: 1;
}
.trash{
  font-size: 30px; color: #00a4d3; padding-left: 50px; border: none; background-color: white; width: 5px;
  padding-top: 10px;
}
.trash:focus{
  outline: none;
}
.div3{
  display:flex; 
  justify-content: left; 
  padding-top: 15px; 
  padding-bottom: 14px;
  padding-left: 15px;
}
.div2{
  display: inline-flex; 
}