<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">  <script
    src="https://kit.fontawesome.com/yourcode.js">
    </script>

</head>

<body>
  <div class="container-fluid img-bg  " style="background-color:black; opacity:1; ">
    <ul>
        <li>
        <h2 style="font-family: Alata;">Megamart</h2>
      </li>

      <!-- <li style="float: right; padding: 14px 16px;"><button class="btn btn-info btn-primary" [routerLink]="['/register']">Register</button></li> -->
      <!-- <li><a href="#register" button class="btn btn-info" style="float: right;"></button>Register</a></li> -->
    </ul>
    <br><br>
    <br><br>
    <div class="row">

      <div class="col-sm-6">
        <!-- <br><br> -->
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-8 loginbox" style="background: rgba(40, 41, 43, 0.5);">
            <br>
            <h3 style="color:white">Forgot Password</h3>
            <!-- <h6>Welcome to E-Commerce Application!</h6> -->
            <!-- <div class="tab">
          <div class=row></div>
          <button class="col-sm-4 tablinks">User</button>
          <button class="col-sm-4 tablinks">Admin</button>
          <button class="col-sm-4 tablinks">Vendor</button>
        </div> -->

            <!-- <form #OTPform="ngForm" (ngSubmit)="sendOTP()"> -->
            <form #OTPform="ngForm" >


              <small class="text-danger">{{msg}}</small>
              <div class="form-group">
                <!-- <label for="email">Username</label> -->
                <input type="email" class="form-control" id="email" placeholder="Enter Username" name="email"
                  [(ngModel)]="user.email" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #email="ngModel"
                  [class.is.invalid]="email.invalid && email.touched">
                <!-- <small class="text-danger" [class.d.none]="email.valid || email.untouched">Email Id is mandatory field</small> -->
                <div *ngIf="email.errors && email.invalid && email.touched">
                  <small class="text-danger" *ngIf="email.errors.required">Username is mandatory field</small>
                  <small class="text-danger" *ngIf="email.errors.pattern">Enter username in valid format</small>
                </div>
              </div>

              <!-- <input name="options" [(ngModel)]="options" type="radio" [value]="false" [checked]="!options" /> Supply
              <input name="options" [(ngModel)]="options" type="radio" [value]="true" [checked]="options" /> Demand
              <h2 *ngIf="options">Demand</h2>
              <h2 *ngIf="!options">Supply</h2> -->
              <!-- <input type="radio" id="com" name="communication" value="full" (click)= "function(1)"> -->
              <div class="form-group ">
                <label class="radio-inline" style="color:white">
                  <input name="optionForgetpwd" [(ngModel)]="optionForgetpwd" type="radio" [value]="false"
                    [checked]="!optionForgetpwd" style="text-decoration-color: white;" /> Send OTP

                </label>
                <label class="radio-inline" style="color:white">
                  <input name="optionForgetpwd" [(ngModel)]="optionForgetpwd" type="radio" [value]="true"
                    [checked]="optionForgetpwd" /> Select
                  security question.
                </label>
              </div>

              <div *ngIf="!optionForgetpwd">
                <!-- <form #setpwdwithOTPform="ngForm" (ngSubmit)="onSubmit(buttonType)"> -->

                <div class="text-center">
                  <button  (click)="onSubmit('Send OTP')"  class="btn btn-info">Send OTP</button>
                </div>
                <div class="form-group">
                  <label for="enterOTP"></label>
                  <input type="text" class="form-control" id="enterOTP" placeholder="Please enter 4 digit OTP"  [(ngModel)]="user.otp"
                    name="enterOTP" required pattern="[0-9]{4}" minlength="4" maxlength="4">
                </div>
                <div class="form-group required">
                  <!-- <label class="control-label" for="pwd">New Password</label> -->
                  <input type="password" class="form-control" id="password" placeholder="Enter new password"
                    name="password" minlength="8" maxlength="16"
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                    [(ngModel)]="user.password" required #password="ngModel"
                    [class.is.invalid]="password.invalid && password.touched">
                  <div *ngIf="password.errors && password.invalid && password.touched">

                    <small class="text-danger" *ngIf="password.errors.required">Enter New password</small>
                    <small class="text-danger" *ngIf="password.errors.pattern">Password is not in valid format</small>
                  </div>
                </div>
                <div class="text-center">
                  <button   [disabled]="OTPform.form.invalid" (click)="onSubmit('Set Password')" 
                    class="btn btn-info">Set Password</button>
                  <!-- <button type="submit" (click)="onSubmit('Submit')">Submit</button> -->

                </div>
                <!-- </form> -->
              </div>

              <div *ngIf="optionForgetpwd">
                <form #secQuesform="ngForm" (ngSubmit)="resetPwdwithsecques()">

                  <div class="form-group required">
                    <!-- <label class="control-label">Security Question</label>  -->
                    <select type="text" class="form-control" name="security_question" placeholder="Select Question"
                      (change)="selectChangeHandler($event)" [(ngModel)]="user.securityQuestion">
                      <option value="My Birth City" selected>My Birth City</option>
                      <option>My Favourite Player</option>
                      ?
                    </select>
                  </div>
                  <div class="form-group required">
                    <!-- <label for="answer" class="control-label"><b>Answer</b></label> -->
                    <input type="text" class="form-control validate" placeholder="Answer here " name="answer"
                      [(ngModel)]="user.securityAnswer" required #answer="ngModel"
                      [class.is.invalid]="answer.invalid && answer.touched">

                  </div>
                  <div class="form-group required">
                    <!-- <label class="control-label" for="pwd">New Password</label> -->
                    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password"
                      pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                      [(ngModel)]="user.password"  minlength="8"  maxlength="16" required #password="ngModel"
                      [class.is.invalid]="password.invalid && password.touched">
                    <div *ngIf="password.errors && password.invalid && password.touched">

                      <small class="text-danger" *ngIf="password.errors.required">Enter New password</small>
                      <small class="text-danger" *ngIf="password.errors.pattern">Password is not in valid format</small>
                    </div>
                  </div>

                  <!-- <div class="form-group required">
                  <label class="control-label" for="cpassword">Confirm Password</label>
                  <input type="password" class="form-control" id="cpassword" placeholder="Re-enter the password"
                    name="cpassword" #cpassword="ngModel" (ngModel)="user.password"
                    [class.is.invalid]="cpassword.invalid && cpassword.touched">
                  <small class="text-danger"
                    [class.d-none]="(cpassword.value == n_password.value) || cpassword.untouched">Password and Confirm
                    Password must be same</small>
                </div> -->
                  <div class="text-center">
                    <button [disabled]="secQuesform.form.invalid" onclick="resetPwdwithsecques()" type="submit"
                      class="btn btn-info">Submit</button>
                  </div>
                </form>
              </div>

              <br>
            </form>
          </div><!-- Inner Second col closes here -->
          <div class="col-sm-2"></div><!-- Inner Third col closes here -->
        </div><!-- inner row closes here -->
      </div><!-- first column closes here -->
      <div class="col-sm-6"></div><!-- Second col closes here -->
    </div><!-- outer row closes here -->
    <!-- <br>
    <br>
    <br>
    <br>
    <br>
    <br> -->
    <div class="footer" style="text-decoration-color: white">
      <div class="navbar">
        <a href="#c" style="color:white">2020 Megamart. All rights Reserved.</a>
        <a href="#info" style="color:white">Contact Us: Info@megamart.com</a>
        <a href="#social" style="color:white">Social</a>
      </div>
    </div>
  </div> <!-- container closes here -->
</body>

</html>