<div class="main" id="main" [hidden]="hideAlert">
    <div  class="sub" id="sub">
        <i class="fa fa-check-circle ic" aria-hidden="true"></i>
        <h5 id="singlemsg">{{msg}}</h5>
    </div>
</div>
<div class="main" id="main1" [hidden]="hide1box">
    <div  class="sub2" id="sub21">
        <h5><b>{{msg}}</b></h5>
        <div class="sub3">
            <button (click)="emitResult(1)" class="btn3">{{buttonName}}</button>
        </div>
    </div>
</div>
<div class="main" id="main2" [hidden]="hide2box">
    <div  class="sub2" id="sub22">
        <h5><b>{{msg}}</b></h5>
        <div class="sub3">
            <button (click)="emitResult(1)" class="btn1">{{button1Name}}</button>
            <button (click)="emitResult(2)" class="btn2">{{button2Name}}</button>
        </div>
    </div>
</div>
