.main{
    z-index: 99;
    position: fixed;
    top: 0%;
    background-color: rgba(80, 80, 80, 0.4);
    height:100%;
    padding: auto;
    width:100%;
    display:flex;
}
.sub{
    z-index:100;
    background-color:rgb(41, 41, 41);
    text-align: center;
    width:fit-content;
    margin:auto;
    padding: 20px;
    border-radius: 2px;
    display: flex;
}

.sub2{
    z-index:100;
    background-color:rgb(255, 255, 255);
    box-shadow:0px 0px 5px 3px gray;
    text-align: center;
    min-width: 350px;
    width:30%;
    margin:auto;
    padding: 10px;
    border-radius: 2px;
}

.sub3{
    bottom: 0;
    /* height: 0px; */
    margin: auto;
    margin-top: 20px;
    width:95%;
    padding:5px;
    /* border: 1px solid red; */
    text-align: center;
    display: flex;
}

.btn1{
    margin: auto;
    width: 45%;
    height:50px;
    color:white;
    background-color: #2874f0;
    border:none;
    outline: none;
    font-size: 20px;
    font-weight: 600;
    margin-right: 5%;
    /* border-radius: 5px; */
}

.btn2{
    margin: auto;
    width:45%;
    height:50px;
    color:white;
    background-color: gray;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 600;
    margin-left: 5%;
    /* border-radius: 5px; */
}

.btn3{
    margin: auto;
    width: 45%;
    height:50px;
    color:white;
    background-color: #2874f0;
    border:none;
    outline: none;
    font-size: 20px;
    font-weight: 600;
    margin:auto;
    /* border-radius: 5px; */
}

h5{
    padding:10px;
}
#singlemsg{
    font-weight: 600;
    color: white;
}
.ic{
    color: green;
    font-size: 20px;
    padding-top: 12px;
}

@keyframes cssAnimation {
    0%{
        opacity: 1;
        background-color: rgba(255, 255, 255, 0.40);
    }
    100% {
        opacity: 0;
        overflow:hidden;
        display:none;
        background-color: rgba(255, 255, 255, 0.10);
    }
}
