<!-- <app-navbar></app-navbar> -->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type="text/css"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>
  <app-navbar></app-navbar>
  <br><br><br>
  <!-- <h3 style="padding-left: 25px; color: gray; ">Login</h3> -->
    <div class="mainDiv">
      <div style="width:90%;; margin:5px 0px;">
        
        <div class="main2Div" id="loginDiv" style="padding-bottom: 5px;">
          <div class="headingDiv">
            <h6 class="num">1</h6>
            <h6 class="headText">LOGIN</h6>
            <i class="fa fa-check" style="color:#2874f0; margin-top:1px;"></i>
          </div>
          <div class="restDiv" style="display: flex;">
            <h6 style="font-weight: 500; margin: 0; margin-right: 10px;">{{user.firstName}} {{user.lastName}}, </h6>
            <h6 style="font-weight: 400; margin: 0;"> {{user.email}}</h6>
          </div>
        </div>

        <div class="main2Div" id="addressDiv">
          <div [ngClass]="{'headingDiv': hideAddrDiv, 'headingDivSelected': !hideAddrDiv}">
            <h6 [ngClass]="{'num': hideAddrDiv, 'numSelected': !hideAddrDiv}">2</h6>
            <h6 [ngClass]="{'headText': hideAddrDiv, 'headTextSelected': !hideAddrDiv}">DELIVERY ADDRESS</h6>
            <i class="fa fa-check" *ngIf="addressDone" style="color:#2874f0; margin-top:1px;"></i>
          </div>
          <div style="padding-left: 35px; padding-top:5px" *ngIf="addressDone">
            <h6 style="margin: 0; color:rgb(68, 68, 68); font-size: 14px;">
              {{deliverAddress.firstName}} {{deliverAddress.lastName}}, {{deliverAddress.address}}, {{deliverAddress.city}}, {{deliverAddress.state}}, {{deliverAddress.zipCode}}
            </h6>
          </div>
          <div class="restDiv" style="margin-left: -20px; margin-right: -20px; margin-bottom: 0px; padding-bottom: 0;" [hidden]="hideAddrDiv" >
            <!-- {{showAddress.length}} -->
            <div *ngIf="allAddress.length==0" style="display: flex;">

              <h6  style="margin:20px;">No Address Available, Please add an Address in Your Profile First.</h6>
              <h6  style="margin:20px; margin-left: 10px; color:#2874f0; cursor: pointer;" (click)="addAddressInUser()">Add</h6>
            </div>
            <div *ngFor="let address1 of showAddress" class="addressContainer">
              <div style="padding:0 25px">
                <input type="radio" name="addrRadio" style="margin-top: 10px" value={{address1}} [checked]="address1.addressId==deliverAddress.addressId" (change)="deliverAddress=address1">
              </div>
              <div style="margin-bottom: 15px;">
                <div style="display: flex;">
                  <p style="font-weight: 600; margin: 5px 0;">{{address1.firstName}} {{address1.lastName}}</p>
                  <p style="font-weight: 600; margin: 5px 20px;">{{address1.contactNumber}}</p>
                </div>
                <div>
                  <p style="margin:0;padding:0;">
                    {{address1.address}},
                    {{address1.city}}, 
                    {{address1.state}},
                    {{address1.country}},
                    Pin: {{address1.zipCode}}
                  </p>
                </div>
                <div *ngIf="deliverAddress.addressId==address1.addressId" style="margin-top: 15px;">
                  <button class="deliverbtn" (click)="deliverHere()">DELIVER HERE</button>
                </div>
              </div>

            </div>
            <div *ngIf="showAddress.length<allAddress.length" style="display:flex; margin:20px 60px; padding-bottom: 0px; margin-bottom: 0;">
              <i class="fa fa-angle-down" style="color:#2874f0;cursor: pointer; margin-right: 5px; font-size: 20px;" (click)="extendAddress()"></i>
              <h6 style="color:#2874f0;cursor: pointer;" (click)="extendAddress()">Show all Addresses</h6>
            </div>
          </div>
        </div>
        
        
        <div class="main2Div" id="orderDiv">
          <div [ngClass]="{'headingDiv': hideOrderDiv, 'headingDivSelected': !hideOrderDiv}">
            <h6 [ngClass]="{'num': hideOrderDiv, 'numSelected': !hideOrderDiv}">3</h6>
            <h6 [ngClass]="{'headText': hideOrderDiv, 'headTextSelected': !hideOrderDiv}">ORDER SUMMARY</h6>
            <i class="fa fa-check" *ngIf="orderDone" style="color:#2874f0; margin-top:1px;"></i>
          </div>
          <div style="padding-left: 35px; padding-top:5px" *ngIf="orderDone">
            <h6 style="margin: 0; color:rgb(68, 68, 68); font-size: 14px;">{{totalItems}} Items</h6>
          </div>
          <div class="restDiv" style="margin-left: -20px; margin-right: -20px; margin-bottom: 0px; padding-bottom: 0;" [hidden]="hideOrderDiv">

            <div *ngFor="let prod of allProducts;let i=index" class="prodContainer">
              <div style="margin-bottom: 10px; display: flex; width:100%;">
                <div style="display: flex; margin-left: 15px;">
                    <img src="../../assets/no-image.jpg" *ngIf="prod.image.length==0 || prod.image==null">
                    <img src={{prod.image[0].imageURL}} *ngIf="prod.image.length!=0 && prod.image!=null">
                </div>
                <div style="margin-top: 5px; width: 50%; padding-left:15px">
                  <p style="margin:0;padding:0;font-weight: 600; font-size: 20px;">
                    {{prod.productName}}
                  </p>
                  <p style="margin:0;padding:0;font-weight: 600; font-size: 15px; color:gray; margin-top: 3px;">
                    {{prod.brandName}}
                  </p>
                  <p style="margin:0;padding:0; font-size: 15px; color:gray; margin-top: 8px;">
                    Seller: {{prod.createdBy}}
                  </p>
                </div>
                <div  style="margin-top: 5px; padding-left:15px">
                  <p style="margin:0;padding:0; margin-top: 10px; font-weight: 600;">
                    Quantity: {{allOrders[i].quantity}}
                  </p>
                  <p style="margin:0;padding:0; margin-top: 10px; font-weight: 600; font-size: 20px; margin-left: 5px;">
                    &#8377; {{allOrders[i].totalAmount}}/-
                  </p>
                </div>
              </div>
            </div>
            <div style="margin-top: 15px; display: flex; width:100%;">
              <p style="text-align: center; margin: auto 0; width:75%;">Order Confirmation email will be sent to  <b>{{user.email}}</b></p>
              <div style="text-align: right;width:25%; margin-right: 30px;">
              <button class="deliverbtn" (click)="continueOrder()">Continue</button>
              </div>
            </div>
          </div>
        </div>
        
        <div class="main2Div" id="paymentDiv">
          <div [ngClass]="{'headingDiv': hidePaymentDiv, 'headingDivSelected': !hidePaymentDiv}">
            <h6 [ngClass]="{'num': hidePaymentDiv, 'numSelected': !hidePaymentDiv}">4</h6>
            <h6 [ngClass]="{'headText': hidePaymentDiv, 'headTextSelected': !hidePaymentDiv}">PAYMENT OPTION</h6>
            <!-- <i class="fa fa-check" style="color:#2874f0; margin-top:1px;"></i> -->
          </div>
          <div class="restDiv"  style="margin-left: -20px; margin-right: -20px; margin-bottom: 0px; padding-bottom: 0;" [hidden]="hidePaymentDiv">
            <div class="paymentContainer">
              <input type="radio" name="paymentOption"  value="CreditCard" class="payOption" (change)="paymentMethod='CreditCard'">
              <h6>Credit Card</h6>
            </div>
            <div class="paymentContainer">
              <input type="radio" name="paymentOption"  value="DebitCard" class="payOption" (change)="paymentMethod='DebitCard'">
              <h6>Debit/ATM Card</h6>
            </div>
            <div class="paymentContainer">
              <input type="radio" name="paymentOption"  value="UPI" class="payOption" (change)="paymentMethod='UPI'">
              <h6>UPI </h6>
            </div>
            <div class="paymentContainer">
              <input type="radio" name="paymentOption"  value="NetBanking" class="payOption" (change)="paymentMethod='NetBanking'">
              <h6>Net Banking</h6>
            </div>
            <div class="paymentContainer">
              <input type="radio" name="paymentOption" checked value="COD" class="payOption" (change)="paymentMethod='COD'" >
              <h6>Cash on Delivery</h6>
            </div>
            <div style="text-align: center;width:100%; padding-right: 30px; margin-top: 15px;">
              <button class="deliverbtn" (click)="placeOrderNew()">CHECKOUT</button>
              </div>
          </div>
        </div>
      
      </div>
      <div style="width:500px; margin:10px; margin-top: 15px; margin-right: 15px; background-color: white; box-shadow:  0px 0px 5px 1px rgb(201, 201, 201); height:fit-content;">
        <div style="width:100%; padding: 20px ; border-bottom: 1px solid rgb(231, 231, 231);">
          <h5 style="color:gray; ">PRICE DETAILS</h5>
        </div>
        <div style="display:flex; width:100%; padding: 20px 0; padding-bottom: 10px;">
          <div style="width:50%; text-align: left;">
            <h5 style="margin-left: 25px; font-weight: 400; font-size: 17px;">Price ({{totalItems}})</h5>
          </div>
          <div style="width:50%;  text-align: right;">
            <h5 style="margin-right: 25px;  font-weight: 400; font-size: 17px;"> &#8377; {{totalAmount}}/-</h5>
          </div>
        </div>
        <div style="display:flex; width:100%; padding: 10px 0;">
          <div style="width:50%; text-align: left;">
            <h5 style="margin-left: 25px;  font-weight: 400; font-size: 17px;">Delivery Charges</h5>
          </div>
          <div style="width:50%;  text-align: right;">
            <h5 style="margin-right: 25px;  font-weight: 400; font-size: 17px; color: green"> FREE</h5>
          </div>
        </div>
        <div style="display:flex; width:100%; padding: 20px 0; border-top: 1px dashed rgb(231,231,231);">
          <div style="width:50%; text-align: left;">
            <h5 style="margin-left: 25px;  font-weight: 600; font-size: 20px;">Amount Payable</h5>
          </div>
          <div style="width:50%;  text-align: right;">
            <h5 style="margin-right: 25px;  font-weight: 600;  font-size: 20px;"> &#8377; {{totalAmount}}/-</h5>
          </div>
        </div>
      </div>
    </div>
  
    <!-- <div class="mainouter" hidden>
      <br><br>
      <section>
        <nav>
          <ul>
            <div class="main">
              <h6 id="clickme" style="color: rgb(82, 80, 80);"><b>Login<i class="fa fa-check"
                    style="font-size:24px"></i></b></h6>
             <p style="color: rgb(226, 221, 221);text-align: left;">{{user.firstName}}</p>
            </div>
            <br>
            <div class="main">
              <h6 id="clickme1" (click)="toggleDisplayDiv('address')" style="color: rgb(82, 80, 80);cursor: pointer;"><b>Address</b>
              </h6>

              <div class="maininner">
                <h6 id="clickme1" style="color: rgb(82, 80, 80);cursor: pointer;"><i class="fa fa-plus-circle"></i> New Address</h6>

              </div>
            </div>
            <br>
            <div class="main">
              <h6 id="clickme2" (click)="toggleDisplayDiv('order')" style="color: rgb(82, 80, 80);cursor: pointer;"><b>Order Summary</b>
              </h6>
            </div>

          </ul>
        </nav>
        
        <article>
          <form #Placeorderform="ngForm" (ngSubmit)="placeOrder(Placeorderform)">
          <div [hidden]="isShowDiv" class="main3">
            <p style="color: gray; text-align: left;"><b>Delivery Address</b></p>
            <p style="color: rgb(194, 189, 189);text-align: justify;">(Please check if the address is suitable for
              collecting your delivery)</p>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group required">
                  <input type="text" class="form-control input-sm " id="fname" placeholder="First Name" name="fname"
                    [(ngModel)]="user.address.firstName" maxlength="20"
                    onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))'
                    required #fname="ngModel" [class.is.invalid]="fname.invalid && fname.touched">
                  <div *ngIf="fname.errors && fname.invalid && fname.touched">
                    <small class="text-danger" [class.d.none]="fname.valid || fname.untouched">First Name is mandatory
                      field</small>
                    <small class="text-danger" *ngIf="fname.errors.pattern">Enter First Name in valid format</small>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <input type="name" class="form-control" id="mname" placeholder="Middle name" name="mname"
                    [(ngModel)]="user.middleName" maxlength="20"
                    onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))'
                    #mname="ngModel" [class.is.invalid]="mname.invalid">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group required">
                  <input type="name" class="form-control " id="lname" placeholder="Last name" name="lname"
                    [(ngModel)]="user.address.lastName" maxlength="20"
                    onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))'
                    required #lname="ngModel" [class.is.invalid]="lname.invalid && lname.touched">

                  <div *ngIf="lname.errors && lname.invalid && lname.touched">
                    <small class="text-danger" [class.d.none]="lname.valid || lname.untouched">Last Name is mandatory
                      field</small>
                  </div>

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <input type="text" class="form-control " id="address" placeholder="Enter your Address" name="address"
                  [(ngModel)]="user.address.address" maxlength="150" required #address="ngModel"
                  [class.is.invalid]="address.invalid && address.touched">

                <div *ngIf="address.errors && address.invalid && address.touched">
                  <small class="text-danger" [class.d.none]="address.valid || address.untouched">Please enter the
                    address</small>

                </div>

              </div>
              <div class="col-sm-4">
                <input type="text" class="form-control " id="city" placeholder="City" name="city"
                  [(ngModel)]="user.address.city" maxlength="60" required #city="ngModel"
                  [class.is.invalid]="city.invalid && city.touched">

                <div *ngIf="city.errors && city.invalid && city.touched">
                  <small class="text-danger" [class.d.none]="city.valid || city.untouched">Please enter your
                    City</small>

                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-4">
                <input type="text" class="form-control " id="state" [(ngModel)]="user.address.state" placeholder="State"
                  name="State">
              </div>
              <div class="col-sm-2">
                <input class="form-control" readonly value="India">
              </div>
              <div class="col-sm-3">
                <input type="text" class="form-control " required pattern="[0-9]{6}" maxlength="6" id="zip"
                  placeholder="Zip Code" name="zip" [(ngModel)]="user.address.zipCode" required #zip="ngModel"
                  [class.is.invalid]="zip.invalid && zip.touched">

                <div *ngIf="zip.errors && zip.invalid && zip.touched">
                  <small class="text-danger" [class.d.none]="zip.valid || zip.untouched">Please enter Zip code</small>

                </div>
               
              </div>
            </div>

            <br>
            <div class="form-row">
              <div class="col-sm-5">
                <div class="form-group required">
                  <div class="form-row">
                    <div class="col-sm-3">
                      <input class="form-control" readonly value="+91"
                        style="margin:0em;margin-left: 10px;width: 60px;">
                    </div>
                    <div class="col-sm-9">
                      <input type="text" class="form-control validate" placeholder="Contact Number "
                        name="primary_contact" required pattern="[7-9]{1}[0-9]{9}"
                        [(ngModel)]="user.address.contactNumber"
                        [class.is.invalid]="primary_contact.invalid && primary_contact.touched"
                        #primary_contact="ngModel" maxlength="10">
                      <div *ngIf="primary_contact.errors && primary_contact.invalid && primary_contact.touched">
                         <small class="text-danger" *ngIf="primary_contact.errors.required">Enter Contact number</small>
                        <small class="text-danger" *ngIf="primary_contact.errors.pattern">Contact no. should be of 10
                          digits starting with 7/8/9</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-5">
                <div class="form-group required">
                   <input type="email" class="form-control glyphicon glyphicon-envelope" id="email"
                    placeholder="Enter email" name="email" [(ngModel)]="user.email" maxlength="50" required
                    pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #email="ngModel"
                    [class.is.invalid]="email.invalid && email.touched">
                  <div *ngIf="email.errors && email.invalid && email.touched">
                    <small class="text-danger" *ngIf="email.errors.required">Email Address is mandatory field</small>
                    <small class="text-danger" *ngIf="email.errors.pattern">Enter EmailId in valid format</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
          <div [hidden]="!isShowDiv" class="main3">
            <p style="color: gray;text-align: left;"><b>Order Summary</b></p>
            <div class="orderDet" *ngFor="let prods of allProducts; let i=index">
              <div class="row">
                <div class="col-sm-6">
                  <div class="main2">
                    <p style="color:rgb(151, 155, 155)"><b>Product Details</b></p>
                    <p class="order">Product name: {{allProducts[i].productName}}</p>
                    <p class="order">Product Category:{{allProducts[i].categoryName}}</p>
                    <p class="order">Quantity: {{allOrders[i].quantity}}</p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="main2">
                    <p style="color:rgb(151, 155, 155)"><b>Price Details</b></p>
                    <p class="order">Price: {{allProducts[i].productPrice}}</p>
                    <p class="order"></p>
                    <p class="order">Delivery Charges: 0</p>
                    <p class="order">Total amount payable: {{allProducts[i].productPrice*allOrders[i].quantity}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>

        <div class="text-center">
            <button type="submit" [disabled]="Placeorderform.form.invalid"class="btn btn-info btn-primary"
            style="border-radius: 20px;width:300px; margin-top: 25px;margin-left: 200px;">Checkout for Payment</button>
                  
        </div> 

      </section>
    </div> -->

    <br><br>
  
  <app-msg-dialogue [msg]="msg2" (result)="msgBoxReply()"></app-msg-dialogue>

  <app-footer></app-footer>
</body>