
.icn {
    height: 25px;
    width: 25px;
    display: block;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(231,231,231);
  /* display:flex; */
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card { 
  padding: 0px;
  text-align: center;
  background-color: white;
  width:70%;
  height:75%;
  border: white;
}
.bsave{
  background-color:#00a4d3;
  text-align: left;
  color: white;
  border: none;
  padding-bottom: 4px;
  padding-top: 4px;
  padding-left: 20px;
  padding-right: 20px;   
  margin-top: -7px;
  border-radius: 10px;
  width: 60%;
}
.bsave:focus{
outline: #00a4d3;
}
.bsave1{
  background-color: white;
  color: blue;
  border: none;
  width: 10%;
  height: 10%;
}
/*h6{
  border-style: solid; 
  border-width: thin; 
  padding-left: 5px; 
  color:gray;
  text-align: left;
}*/
h6{
  padding-left: 2px;
  text-align: left;
}
/*SEARCH FORM*/
.search-form {
  border-radius: 30px 0px 0px 30px;
  /*border-radius:Top-left, Top-right, Bottom-right, Bottom-left;*/
}
/*to cange only one form and not all give unique class name like  class="search-form" */
.search-btn {
  border-radius: 0px 30px 30px 0px;
  cursor:pointer;
  color: black;
  background-color: white;
  border-color: gray;
}
.box{
	width: 500px;
	height: 10px;
	background-color: white;
	border-radius: 30px;
	display: flex;
	align-items: center;
  padding: 20px;
  border: 1px gray solid;
}

.box > i {
	font-size: 20px;
  color: #777;
}
.box > input{
	flex: 1;
	height: 20px;
	border: none;
	outline: none;
	font-size: 18px;
	padding-left: 10px;
}
#listing_pagination /deep/ .ngx-pagination .current {
  background:  00a4d;
  /*border-radius: 4px;
  padding-left: 9px;
  padding-right: 9px;
  border: 1px solid gray;*/
}
/* newly added */
/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 30%;
  height: 460px;/* only for demonstration, should be removed */
  background: rgb(231, 231, 231);
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
  color :black;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: rgb(231, 231, 231);
   height: 460px; 

  /* height: 200px; only for demonstration, should be removed */
}

.mainouter{
  display: inline-block;
  border-radius: 5px;
  /* padding: 1%; */
  margin: 3% auto;
  width:95%; 
  max-width: 1400px;
  height: 550px; 
  background-color:rgb(231, 231, 231); 
  text-align: center;
    
}
.maininner{
  display: inline-block;
  border-radius: 5px;
  padding: 1%;
  margin: 2%;
  border-width: 1px;
  border-color: #c5c3c3a2;
  border-style: solid;
  width:90%; 
   height: 35px;
  background-color:white; 
  text-align: left; 
  margin-left: 10px;
    
}

.main{
  display: inline-block;
  border-radius: 5px;
  padding: 1%;
  margin: 2%;
  border-width: 1px;
  border-color: #c5c3c3a2;
  border-style: solid;
  width:90%; 
   height: 80px;
  background-color:white; 
  text-align: left; 
  margin-left: 10px;
    
}
.main3 {
  display: inline-block;
  border-radius: 5px;
  padding: 1%;
  margin: 2%;
  border-width: 1px;
  border-color: #918e8ea2;
  border-style: solid;
  width:90%; 
   /* height: 320px; */
  background-color:white;   
  margin-top: 20px; 
}

.main2{
  display: inline-block;
  border-radius: 5px;
  padding: 1%;
  margin: 2%;
  border-width: 1px;
  border-color: #c5c3c3a2;
  border-style: solid;
  width:90%; 
   height: 150px;
  background-color:white;   
  text-align:left; 
}
.order{
  color: #777;
  margin-top: -10px;
  
}
/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}



.mainDiv{
  display:flex;
  /* border: 1px solid red; */
  max-width: 1250px;
  margin: 0 auto;
  /* padding: 5px; */
  /* padding: 0 auto; */
}
.main2Div{
  /* border:1px solid blue; */
  box-shadow:  0px 0px 5px 1px rgb(201, 201, 201);
  margin: 10px auto;
  width:97%;
  background-color: white;
  padding: 15px 20px;
  /* margin-bottom: 15px; */
}
.headingDiv{
  display: flex;
  padding: 15px 20px;
  margin: -15px -20px;
}
.headingDivSelected{
  display: flex;
  padding: 15px 20px;
  margin: -15px -20px;
  background-color: #2874f0;
  color:white;
}
.num{
  color:#2874f0; 
  background-color: rgb(231,231,231); 
  height:20px; 
  width:20px; 
  font-size: 15px; 
  text-align: center;
  margin: auto 0;
  margin-right: 15px;
}
.numSelected{
  color:#2874f0; 
  background-color: white; 
  height:20px; 
  width:20px; 
  font-size: 15px; 
  text-align: center;
  margin: auto 0;
  margin-right: 15px;
}
.headText{
  color:gray;
  margin:auto 0;
  margin-right: 15px;
}
.headTextSelected{
  color:white;
  margin:auto 0;
  margin-right: 15px;
}
.restDiv{
  margin-left: 35px;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-top: 10px;
}
.addressContainer,.prodContainer{
  padding: 5px 0px;
  border-bottom: 1px solid rgb(231, 231, 231);
  display: flex;
}
.deliverbtn{
  background-color: #fb641b;
  color: white;
  height: 45px;
  width:180px;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 14px;
}

img{
  height: 100px;
  width: 100px;
}

.paymentContainer{
  border-bottom: 1px solid rgb(231, 231, 231);
  display: flex;
  padding : 15px;
  padding-left: 25px;
}

.payOption{
  margin-top: 3px;
  margin-right: 10px;

}