.placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 0; /* Firefox */
}

body {
margin: 0px 0px 0px 0px;
min-width: 900px;
/* display:flex;*/
align-content: center; 
padding: 0px;
background-color: rgb(231,231,231);
}
.icn {
height: 30px;
width: 30px;
display: block;
/* Other styles here */
}

.thumbnail{
  
  height:60px;
  width:60px;
  border-radius: 5px;
  margin: 0px 4px;
  border: 1px solid black;

}
.navbar {
position: fixed; 
bottom: 0; 
left: 0;
width: 100%;
background-color: transparent;
/* background-color:rgb(139, 135, 135); */
width: 100%;
text-emphasis-color: black;
}
.main3 {
  display: inline-block;
  /* border-radius: 5px; */
  padding: 1%;
  margin: 2%;
  border-width: 1px;
  border-color: #918e8ea2;
  border-style: solid;
  width:88%; 
  /* height: 88%; */
  background-color:white;    
}
.bsave{
  background-color:#2874f0;
  text-align: center;
  color: white;
  border: none;
  padding:14px;
  display: inline;
}
.bsave:focus{
outline: none;
}
#labelfor.pointer{
cursor: pointer;
}
#labelfor:hover{
cursor: pointer;
}

#listing2:hover{
cursor: pointer;
color:white;
/* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

.updateDivMain{
  /* border-radius: 5px; */
  padding: 40px 1%;
  margin: 2%;
  background-color:white;  
}
.updateDiv{
 
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.updateSubDiv{
  width:49.3%;
  /* border-radius: 5px; */
  border-width: 1px;
  border-color: #918e8ea2;
  border-style: solid;
  background-color:white;  
  display: inline-block;
}
.updatelabels{
  margin:0.4%;
  margin-left: 3%;
  width:40%;
  padding:auto;
  font-size: 18px;
  font-weight: 600;
}
.updateFields{
  padding: 10px;
  
  font-size: 18px;
  width:45%;
  /* border-radius: 5px; */
}

.updateProdBtn{
  background-color:#2874f0;
  text-align: center;
  color: white;
  border: none;
  padding:15px 30px;
  /* border-radius: 4px; */
  margin: auto;
  margin-top:10px;
}
.delButton{
background-color: grey;
/* border-radius: 5px; */
color:white;
border:none;
outline: none;
padding:5px;
}
.updateButton{
  background-color:#fb641b;
  /* border-radius: 5px; */
  color:white;
  border:none;
  outline: none;
  
  padding:5px;
}
.deleted{
  /* background-color: rgb(216, 216, 216); */
  font-style: italic;
}
.updateImgBtn{
  margin: auto;
  min-width:40px;
  background-color: #2874f0;
  /* border-radius: 5px; */
  color:white;
  border:none;
  outline: none;
  text-align: center; 
  margin-top: 10px;
}
.imgOld{
  height:60px;
  width:60px;
  border-radius: 5px;
  margin: 0px 4px;
}
.imgOldSpan{
  text-align: center;
  border-radius: 5px;
  border-width: 1px;
  border-color: #918e8ea2;
  border-style: solid;
  background-color:white;
  padding-top: 19px;
  padding-bottom: 24px;
  padding-right: 5px;
  margin-right:10px;
}
.imgOldContainer{
  /* display: flex; */
  height:140px;
  text-align: center;
  overflow-y: auto;
  margin: 0% 2%;
  padding: 5px;
  /* border-radius: 5px;
  border-width: 1px;
  border-color: #918e8ea2;
  border-style: solid;
  background-color:white;   */
}
input{
  /* border-radius: 4px; */
  border-width:1px;
  margin-right: 11px;
}
.all1{
  min-height: 120%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-left: 0px;
  padding-right: 0px;
  height:100%;
}   
.required{
color:red;
}     
.searchbar{
  background-color:#2874f0; 
  border-color: white;
  border:none; 
  color:white;
  margin: 0;
  /* border-radius: 4px; */
}
.div3{
  display:flex; 
  /* justify-content: left;  */
  padding-left: 20px; 
  padding-top: 15px; 
  padding-bottom: 14px;
  width:100%;
}

.allLabels{
  width:40%;
  color:rgb(49, 49, 49);
  font-weight: 600;
  font-size: 18px;
  padding-top: 10px;
}

.allInputFields{
  width:40%;
  padding: 10px 0px;
  border: 1px solid gray;
  margin-right: 10px;
  font-size: 18px;
}
.btt{
  display:flex; 
  justify-content: left; 
  padding-left: 20px; 
  padding-top: 15px; 
  padding-bottom: 25px;
}
input ng-dirty,ng-invalid{
border-color: red;
}
div.validation-error{
width: 10%;
margin-top: .25rem;
font-size: 80%;
color: red;
}

input[type=file]{
color: blue;
}
.loader {
border: 16px solid #f3f3f3; /* Light grey */
border-top: 16px solid #3498db; /* Blue */
border-radius: 50%;
width: 100px;
height: 100px;
animation: spin 2s linear infinite;
position:fixed;
top: 45%;
left: 47%;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}