<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

</head>

<body>

  <app-navbar></app-navbar>
  <br><br><br>


  <div style="padding: 0 40px">
  
  <div style="margin: 20px auto; max-width: 1400px; background-color:white; box-shadow: 0px 0px 3px 1px rgb(219, 219, 219);">
    <div [hidden]="hideAddProd">
      <h3 style="padding-left: 25px; color: gray; padding-top:20px; ">Add New Listing</h3>
      <div class="all1">
        <div class="main3" id="single_listing">
          <div class="btt">
            <!--<input type="button" value="Add Single Listing" class="bsave" id="blist" onClick="toggleDiv('ll');">-->
            <button (click)="toggleDisplay()" class="bsave">Add Single Listing</button>
          </div>
        </div>
        <div class="main3" id="search">
          <p style="padding-left: 20px; color: gray;">Is product already present in Megamart.?</p>
          <div style="display:flex; justify-content: left; padding-left: 20px;  padding-bottom: 7px;">
            <!-- <input type="text" name="Search" #Search="ngModel" [(ngModel)]="service.formData.Search" required style="margin: 0; border-right: 0px;  border: 0.1px solid rgb(185, 178, 178); " placeholder="Search by Name, Brand.." ><button class="searchbar"><i class="fa fa-search" ></i>Search</button> -->
            <input type="text" #searchId name="Search" [(ngModel)]="searchId1"
              style="margin: 0; border-right: 0px;  border: 0.1px solid rgb(185, 178, 178); "
              placeholder="Search by Name">
            <button class="searchbar" (click)="searchProduct(searchId.value)"><i
                class="fa fa-search"></i>Search</button>
          </div>
        </div>
      </div>
      <form #form="ngForm" #mainForm>
        <div [hidden]="isShow" id="ll" class="all1">

          <div class="main3" id="input_fields">
            <div class="div3">
              <label class="allLabels" >Product Name</label>
              <input class="allInputFields" type="text" style="border:0.5px solid gray;" name="ProductName" #ProductName="ngModel"
                [(ngModel)]="service.formData.productName" required>
              <small class="validation-error" style="color: red;"
                *ngIf="ProductName.invalid && ProductName.touched">*Required</small>
            </div>
            <div class="div3">
              <label class="allLabels">Category</label>
              <!-- <input type="text" style="border:0.5px solid gray;" name="Category" #Category="ngModel" [(ngModel)]="service.formData.category"> -->
              <select class="allInputFields" name="Category" required
                #Category="ngModel" [(ngModel)]="service.formData.category">
                <option *ngFor="let catg of allCategories" value={{catg.categoryId}} >{{catg.categoryName}} </option>
                <!-- <option value=1>Electronics</option> -->
              </select>
              <small class="validation-error" style="color: red;"
                *ngIf="Category.invalid && Category.touched">*Required</small>
            </div>
            <div class="div3">
              <label class="allLabels">Brand</label>
              <!-- <input type="text" style="border:0.5px solid gray;" name="Category" #Category="ngModel" [(ngModel)]="service.formData.category"> -->
              <select class="allInputFields" name="Brand" required
                #Brand="ngModel" [(ngModel)]="service.formData.brand">
                <option *ngFor="let brand of allBrands" value={{brand.brandId}}>{{brand.brandName}}</option>
                <!-- <option value=1>Electronics</option> -->
              </select>
              <small class="validation-error" style="color: red;"
                *ngIf="Brand.invalid && Brand.touched">*Required</small>
            </div>
            <div class="div3">
              <label class="allLabels">Product Price</label>
              <input class="allInputFields" type="number"  name="Price" #Price="ngModel"
                [(ngModel)]="service.formData.price" required>
              <!-- <small class="validation-error" style="color: red;" *ngIf="Price.invalid && Price.touched && Price.value>0">This field is
                required</small> -->
                <small class="validation-error" style="color: red;" *ngIf="Price.value<=0 && Price.touched">Must be >0</small>
            </div>
            <div class="div3">
              <label class="allLabels">Product Quantity</label>
              <input type="number" class="allInputFields" name="Quantity" #Quantity="ngModel"
                [(ngModel)]="service.formData.productQuantity" required>
              <small class="validation-error" style="color: red;" *ngIf="Quantity.value<=0">Must be >0</small>
            </div>
          </div>

          <div class="main3" id="description">
            <div class="div3">
              <label class="allLabels">Color</label>
              <!-- <input type="text" style="border:0.5px solid gray;" name="Category" #Category="ngModel" [(ngModel)]="service.formData.category"> -->
              <select name="Color" class="allInputFields" required
                #Color="ngModel" [(ngModel)]="service.formData.color">
                <option *ngFor="let color of allColors" value={{color}}>{{color}}</option>
                <!-- <option value=1>Electronics</option> -->
              </select>
              <small class="validation-error" style="color: red;"
                *ngIf="Color.invalid && Color.touched">*Required</small>
            </div>
            <div
              style="display:flex; justify-content: left; padding-left: 20px; padding-top: 10px; padding-bottom: 10px;">
              <label class="allLabels">Product Description</label>
              <textarea type="text" class="allInputFields" name="Description" #Description="ngModel" cols="50"
                rows="5" [(ngModel)]="service.formData.description" style="width:50%;" maxlength="255"></textarea>
            </div>
            <div class="btt">
              <div style="padding-right: 2px; width: 40%; margin-right: 2px; padding-top: 4.5%; padding-bottom: 2.8%;">
                <input type="file" id="ff" name="files" style="display: none;" multiple
                  (change)="selectFile($event,'result')" />
                <label for="ff" id="labelfor" class="bsave" style="padding: auto;" (click)="noImgWarning()">Upload
                  Images
                </label>
              </div>
              <!-- <output id="img" [src]="url" *ngIf="url" class="img-square" style="width: 70px; height: 45x; padding-left: 25px;"> -->

              <div id="result"
                style="height:50%;  width:50%; overflow-x: auto; display:block; margin-right: 10%; max-height: 140px;">
              </div>
              <br>
              <!-- <div [innerHtml]='msg' *ngIf="msg" style="color: red; padding-left: 5%;"></div> -->
            </div>
            <div [innerHtml]='msg' *ngIf="msg" style="color: red; padding-left: 5%;">
            </div>
          </div>

        </div>
      </form>
      <div [hidden]="isSearch" id="ll1" class="all1">
        <div class="main3" id="list" style="width: 100%;">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4 style="padding-left: 2.0%; color: gray;">My Products</h4><br>
              <div class="panel-body" style="padding-left: 0.7%;">
                <table class="table table-striped">
                  <thead>
                    <tr style="color: gray;">
                      <th>ProductName</th>
                      <th>Category</th>
                      <th>Price</th>
                      <th>Description</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let product1 of allSearcheddata">
                      <!-- <tr> -->
                      <td>{{product1.productName}}</td>
                      <td>{{product1.category.categoryName}}</td>
                      <td>{{product1.productPrice}}</td>
                      <td>{{product1.productDesc}}</td>
                    </tr>

                  </tbody>
                </table>
                <h3 [hidden]="noProd" style="color:gray; text-align: center;">No such Product</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div [hidden]="showCreatedBy" id="ll2" class="all1">
      <div class="main3" id="list_createdBy" style="width: 100%;">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4 style="padding-left: 2.0%; color: gray;">Products</h4><br>
            <div class="panel-body" style="padding-left: 0.7%;">
              <table class="table table-striped">
                <thead>
                  <tr style="color: gray;">
                    <th>ProductName</th>
                    <th>Category</th>
                    <th>Brand</th>
                    <th>Color</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Delete</th>
                    <th>Update</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product1 of allCreatedBy" [ngClass]="{'deleted': product1.productStatus=='Deleted'}">
                    <!-- <tr> -->
                    <td>{{product1.productName}}</td>
                    <td>{{product1.category.categoryName}}</td>
                    <td>{{product1.brandName}}</td>
                    <td>{{product1.color}}</td>
                    <td>{{product1.productPrice}}</td>
                    <td>{{product1.productQuantity}}</td>
                    <td>{{product1.productDesc}}</td>
                    <td>{{product1.productStatus}}</td>
                    <td><button class="delButton" *ngIf="product1.productStatus!='Deleted'"
                        (click)="deleteProd(product1)">Delete</button></td>
                    <td><button class="updateButton" *ngIf="product1.productStatus!='Deleted'"
                        (click)="updateProduct(product1)">Update</button></td>
                  </tr>
                </tbody>
              </table>
              <h3 [hidden]="noProdCreatedBy" style="color:gray; text-align: center;">No Product</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="btt" [hidden]="btnshow" style="justify-content: center;">
      <input type="submit" value="ADD" style="width: 13%; height: 5%;" class="bsave" (click)="addProd()"><br><br>
    </div>
    <div [hidden]="hideUpdateBox" class="updateDivMain">
      <h4 style=" color: gray;">Update Product</h4><br>
      <div class="updateDiv">
        <div class="updateSubDiv">
          <div class="div3">
            <label class="updatelabels" for="updateName">Product Name:</label>
            <input type="text" required name="updateName" class="updateFields" id="updateName"
              [(ngModel)]="updatedProduct.productName"><br>
          </div>
          <div class="div3">
            <label class="updatelabels" for="updateCategory">Category</label>
            <select name="Category" class="updateFields" name="updateCategory" id="updateCategory" required
              [(ngModel)]="updatedProduct.categoryId" (change)="updateCategory()">

              <option *ngFor="let catg of allCategories" value={{catg.categoryId}}
                [selected]="updatedProduct.categoryId==catg.categoryId">{{catg.categoryName}}</option>
            </select><br>
          </div>
          <div class="div3">
            <label class="updatelabels" for="updateCategory">Brand</label>
            <select name="Brand" class="updateFields" name="updateBrand" id="updateBrand" required
              [(ngModel)]="updatedProduct.brandId">

              <option *ngFor="let brand of allBrands" value={{brand.brandId}}
                [selected]="updatedProduct.brandId==brand.brandId">{{brand.brandName}}</option>
            </select><br>
          </div>
          <div class="div3">
            <label class="updatelabels" for="updateColor">Color</label>
            <select name="Color" class="updateFields" name="updateColor" id="updateColor" required
              [(ngModel)]="updatedProduct.color">

              <option *ngFor="let color of allColors" value={{color}}
                [selected]="updatedProduct.color==color">{{color}}</option>
            </select><br>
          </div>
          <div class="div3">
            <label class="updatelabels" for="updatePrice">Product Price:</label>
            <input type="number" required name="updatePrice" class="updateFields" id="updatePrice"
              [(ngModel)]="updatedProduct.productPrice"><br>
          </div>
          <div class="div3">
            <label class="updatelabels" for="updateQuantity">Increase Quantity:</label>
            <input type="number" required name="updateQuantity" class="updateFields" id="updateQuantity"
              [(ngModel)]="updatedProduct.productQuantity"><br>
          </div>
          
        </div>
        <div class="updateSubDiv">
          <div class="div3">
            <label class="updatelabels" style="width: 25%" for="updateDesc">Description</label>
            <textarea type="text" required name="updateDesc" class="updateFields" style="width: 60%" id="updateDesc"  rows="3"
              [(ngModel)]="updatedProduct.productDesc"></textarea>
          </div>
          <div style=" width: 98%; display: flex;">
            <label class="updatelabels" for="updateImage" style="text-align: center;width:90%">Images</label>
          </div>
          <div class="imgOldContainer">
            <span class="imgOldSpan" *ngFor="let img of updatedProduct.image, let i=index">
              <img src={{awsUrl+img.imageURL}} (click)="goToLink(awsUrl+img.imageURL)" class="imgOld">
              <i class="fa fa-window-close" aria-hidden="true" (click)="deleteImg(img.imageId,i)"></i>
            </span>
            <h6 style="color:gray; margin-top: 20px; margin-left:-7px;" *ngIf="updatedProduct.image.length==0">This
              Product does not have any Image</h6>
          </div>
          <div style="width: 94%; display: flex;">
            <label class="updateImgBtn" style="padding: 3px 5px;" for="files1">New Images</label>
            <input type="file" id="files1" name="files1" style="display: none;" multiple
              (change)="selectFile($event,'resultNew')" />
          </div>
          <div>

            <div class="imgOldContainer">
              <div id="resultNew">
              </div>
              <!-- <div style="padding-right: 2px; width: 60%; margin-right: 2px; padding-top: 4.5%; padding-bottom: 2.8%;">
                <input type="file" id="ff" name="files" style="display: none;" multiple (change)="selectFile($event)" />
                <label for="ff" id="labelfor" style="padding-bottom: 5%;" (click)="noImgWarning()">Upload
                  Images
                </label>
              </div>
              <div id="result"
              style="height:50%;  width:90%; overflow-x: auto; display:block; margin-right: 10%; max-height: 75px;">
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <div style="display:flex; width:350px; margin: 0px auto; margin-top: 35px;">
        <button (click)="sendUpdateProduct()" class="updateProdBtn">Update</button>
        <button (click)="cancelUpdateProduct()" class="updateProdBtn" style="background-color:gray">Cancel</button>
      </div>
    </div>
  </div>
  <div class="loader" [hidden]="loader1">
  </div>
<br><br>
</div>
  <app-msg-dialogue [msg]="msg2" (result)="msgResult($event)"></app-msg-dialogue>



  <!-- </div>  container closes here -->
</body>
<app-footer></app-footer>