.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#918e8ea2;
    /*opacity: 0.2;*/
    color: black;
    /*text-align: center;*/
  }
  .navbar {
    position: fixed; 
    bottom: 0; 
    left: 0;
    width: 100%;
    background-color: transparent;
    /* background-color:rgb(139, 135, 135); */
    width: 100%;
    text-emphasis-color: black;
  }
  .header {
	overflow: hidden;
	background-color: #00a4d3;
	margin: 0;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 60px;
	font-family: Alata;
}
.header a{
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	text-decoration: none;
}
.header li{
	margin: 20px;
	float: right;
	display: inline;
	line-height: 0em;
}
.icn {
    height: 25px;
    width: 25px;
    display: block;
}

/* * {
  box-sizing: border-box;
} */

body {
  font-family: Arial, Helvetica, sans-serif;
  min-width: 1000px;
}

.icnImg{
  /* border: 1px solid gray; */
  box-shadow: 0px 0px 2px 0px gray;
  width:50px;
  height:50px;
  padding: 3px;
  border-radius: 2px;
  margin: 1px 5px;
  cursor: pointer;
}

.icnImgSelected{
  width:52px;
  height:52px;
  padding: 3px;
  border-radius: 2px;
  margin: 0 5px;
  cursor: pointer;
  /* background-color: rgb(96, 223, 255); */
  
  box-shadow: 0px 0px 2px 1px #2874f0;
}

.badge {
  position: absolute;
  top: 10px;
  padding: 3px 5px;
  border-radius: 50%;
  background: red;
  color: white;
  outline: white;
  border: white;
}

.main2{
    padding: 1%;
    margin: 2%;
    margin-left:5%;
    /* display: inline-block; */
    /* display: flex; */
    /* flex-direction: column; */
    width:40%;
    /* height: 88%; */
    /* height:100%; */
    /* border: 1px solid black; */
    box-shadow: 0px 0px 3px 1px rgb(179, 179, 179);
    background-color: white;
    height: fit-content;
}

#main1{
  display: flex;
  
  /* border: 1px solid blue; */
  /* align-items: stretch; */
  /* min-width: 1200px; */
}

.mainImg{
  transition: transform .2s;
}
.mainImg:hover{
  transform: scale(1.8);
  margin-left: 120px;
}

#cartBtn{
  /* float: left; */
  margin: 3% 2%;
  margin-left: 0;
  width:48%;
  min-width: 100px;
  background-color:#ff9f00;
  color: azure;
  border-width: 0;
  padding: 14px 0;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  outline: none;
}

#cartBtnDisabled{
  /* float: left; */
  margin: 3% 2%;
  margin-left: 0;
  width:48%;
  min-width: 100px;
  background-color:rgb(134, 134, 134);
  color: rgb(253, 253, 253);
  border-width: 0;
  padding: 14px 0;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  cursor: not-allowed;
  outline: none;
}

#buyNowBtn{
  /* float: right; */
  margin: 3% 2%;
  margin-right: 0;
  width:48%;
  min-width: 100px;
  background-color: #fb641b;
  color: azure;
  border-width: 0;
  padding: 14px 0;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  outline: none;
}
#rateBtn{
  float: right;
  margin: 5%;
  margin-left: 8%;
  padding:4px;
  width:30%;
  padding-bottom: 7px;
  padding-top: 7px;
  min-width: 100px;
  background-color: #00a4d3;
  color: azure;
  border-radius: 8px;
  border-width: 0;
  font-size: 75%;
}

.rate{
  display: inline-block;
}

h6{
  padding-left: 2px;
  text-align: left;
}
.star4{
  color:white;
  font-size: 12px;
}
#ratingNum2{
  background-color: green;
  color:white; 
  padding: 2px 5px; 
  margin-top: 0px; 
  margin-right: 10px;
  border-radius: 3px; 
  min-width: 30px; 
  text-align: center; 
  font-size: 13px;
  font-weight: 600;
  width:fit-content;
}


.box{
	width: 50%;
	height: 10px;
	background-color: white;
	border-radius: 30px;
	display: flex;
	align-items: center;
  padding: 20px;
  border: 1px gray solid;
  margin: auto;
}

.box > i {
	font-size: 20px;
  color: #777;
}
.box > input{
	flex: 1;
	height: 20px;
	border: none;
	outline: none;
	font-size: 18px;
	padding-left: 10px;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  position:fixed;
  top: 45%;
  left: 47%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}