<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body style="background-color: rgb(231,231,231);" >
    <app-navbar></app-navbar>
    <br><br><br>
    <div>
        <div >
            <!-- <div class="box">
                <i class="fa fa-search" aria-hidden="true" (click)="searchProd()"> </i>
                <input type="text" placeholder="Search" style="color: gray;" #searchId name="Search" [(ngModel)]="searchVal">
            </div> -->
        </div>
        <!-- <br> -->
        <div [hidden]="hideProd" id="main1">
            <div class="main2" style="width:400px; ">
                <div id="dispImg" style="height:350px;width:100%; box-shadow: 0px 0px 2px 0px gray;">
                    <img src={{showImg}} style="width:100%;height:100%;" class="mainImg">
                </div >
                <div style="display:flex; justify-content:center; height:20%; margin-top: 2%;">
                    <i class="fa fa-backward" aria-hidden="true" (click)="prevImg()" style="color:gray; margin: 18px 4px;" ></i>
                    <span *ngFor="let ii of imgNo" >
                        
                        <!-- <i class="fa fa-circle" aria-hidden="true" (click)="changeImg(ii)" style="color:darkgray; margin-left: 5px; margin-right: 5px;"></i> -->
                        <img src={{imgUrl[ii]}} (click)="changeImg(ii)" class="icnImg" [class.icnImgSelected]="ii==currentImg">
                    </span>
                    <i class="fa fa-forward" aria-hidden="true" (click)="nextImg()" style="color:gray; margin: 18px 4px;"></i>
                </div>
                <div id="buttons2" style="height:15%; display:flex;"  >
                    <button (click)="addToCart()" [disabled]="prodNotAvailable" *ngIf="!prodNotAvailable" id="cartBtn">ADD TO CART</button>
                    <button (click)="addToCart()" [disabled]="prodNotAvailable" *ngIf="prodNotAvailable" id="cartBtnDisabled">ADD TO CART</button>
                    <button (click)="addToMyWishlist()" id="buyNowBtn">ADD TO WISHLIST</button>
                </div>
            </div>
            <div class="main2" style="width:53%">
                <div style="width:90%; height:85%">
                    <div>
                        <h6 style="font-size: 14px; color: gray;">Home>{{product2.categoryName}}>{{product2.productName}}</h6>
                    </div>
                    <div *ngIf="prodNotAvailable" style="margin: 2% 0">
                        <h6 style="color:rgb(138, 1, 1); font-size:x-large;"><b>Out of Stock</b></h6>
                    </div>
                    <div style="margin: 3% 0">
                        <h6 class="h6" style="font-size:x-large;"><b>{{product2.productName}}</b></h6>
                    </div>
                    <div style="margin: 3% 0">
                        <h6 class="h6" style="font-size: 20px;"><b>Price: </b>&#8377;{{product2.productPrice}}/- </h6>
                    </div>
                    <div style="margin: 3% 0">
                        <h6 class="h6"><b>Discount:</b> No Discount available right now</h6>
                    </div>
                    <div style="margin: 3% 0">
                        <h6 class="h6"><b>Category: </b> {{product2.categoryName}}</h6>
                    </div>
                    <div style="margin: 3% 0">
                        <h6 class="h6"><b>Brand: </b> {{product2.brandName}}</h6>
                    </div>
                    <div style="margin: 3% 0">
                        <h6 class="h6"><b>Color: </b> {{product2.color}}</h6>
                    </div>
                    <div style="margin: 3% 0;margin-bottom: 0;">
                        <h6 class="h6"><b>Product Description: </b></h6>
                    </div>
                    <div style="width:300px; border:1px solid gray;border-radius: 3px; height:100px">
                        <h6 class="h6">{{product2.productDesc}}</h6>
                    </div>
                </div>
                <div style="display:flex; margin-top: 4%;">
                    <div class="rate" style="width:50%">
                        <h6 class="h6" style="font-size: 20px;" ><b>Rating and Reviews:</b></h6>
                        <!-- sdjkhfgdsabhjfbv -->
                        <app-avg-rating [prodId]="product2.productId" [showOnlyNum]="false"></app-avg-rating>
                        <!-- abcdefg -->
                    </div>
                    <div style="margin-top: 10px; padding-top: 35px; width: 45%; text-align: right;">
                        <label for="reviewSort" style="color:rgb(61, 61, 61); font-weight: 500; font-size: 14px; padding-right: 5px;">Sort Reviews By </label>
                        <select id="reviewSort" name="reviewSort" [(ngModel)]="reviewSort" (change)="sortFunction()">
                            <option name="RLH" style="color:rgb(61, 61, 61); font-size: 13px;" value="LowToHigh">Lowest First</option>
                            <option name="RHL" style="color:rgb(61, 61, 61); font-size: 13px;" value="HighToLow">Highest First</option>
                            <option name="RN" style="color:rgb(61, 61, 61); font-size: 13px;" value="Newest">Newest First</option>
                        </select>
                    </div>
                    <!-- <div class="rate">
                        <button id="rateBtn" (click)="rateThisProduct()">Rate Product</button>
                        <app-rate-prroduct [hidden]="hideRatingDiv" [prodId]="product2.productId" (rateEvent)="submitRating($event)" ></app-rate-prroduct>
                    </div> -->
                </div>
                <div id="reviewsContainer">
                    <div style="padding: 15px 10px; background-color: rgb(252, 252, 252); border:1px solid rgb(231, 231, 231)" *ngFor="let review of showingReviews" >
                        <div style="display:flex">
                            <h5 *ngIf="review.rating>=4" style="margin-left:10px;" id="ratingNum2">{{review.rating}}  <i class="fa fa-star star4"></i>
                            </h5>
                            <h5 *ngIf="review.rating==3" style="margin-left:10px; background-color: #fb641b;" id="ratingNum2">{{review.rating}}  <i class="fa fa-star star4"></i>
                            </h5>
                            <h5 *ngIf="review.rating<=2" style="margin-left:10px; background-color: #ff6161;" id="ratingNum2">{{review.rating}}  <i class="fa fa-star star4"></i>
                            </h5>
                            <h6 style="margin-top: 0;"><b>{{review.heading}}</b></h6>
                        </div>
                        <h6 style="margin-left:10px; margin-top: 0;">{{review.comment}}</h6>
                        <div style="display: flex;">
                            <h6 style="color:gray;margin-top: 0;margin-left:10px; font-size: 14px; font-weight: 600;">{{review.username}} </h6>
                            <h6 style="color:gray;margin-top: 0;margin-left:20px; font-size: 14px; font-weight: 600;">{{review.date.substring(0,10)}}</h6>
                        </div>
                        
                    </div>
                    <div>
                        <h6 style="color: #2874f0; font-size: 15px; font-weight: 700; cursor: pointer;" (click)="showMoreReview()" *ngIf="showMore">Show More Reviews</h6>
                    </div>
                </div>
                <br>
            </div>
            
        </div> 
        <br><br>
        <div class="loader" [hidden]="loader1">
        </div>    
    </div>

    <app-msg-dialogue [msg]="msg"></app-msg-dialogue>

    <app-footer></app-footer>

</body>

</html>