.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#918e8ea2;
    /*opacity: 0.2;*/
    color: black;
    /*text-align: center;*/
  }
  .navbar {
    position: fixed; 
    bottom: 0; 
    left: 0;
    width: 100%;
    background-color: transparent;
    /* background-color:rgb(139, 135, 135); */
    width: 100%;
    text-emphasis-color: black;
  }
  .header {
	overflow: hidden;
  background-color: #047BD5;
	margin: 0;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 40px;
	font-family: Alata;
}
.header a{
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	text-decoration: none;
}
.header li{
	margin: 20px;
	float: right;
	display: inline;
	line-height: 0em;
}
.icn {
    height: 20px;
    width: 20px;
    display: block;
}

/* * {
  box-sizing: border-box;
} */

body {
  font-family: Arial, Helvetica, sans-serif;
  min-width: 1000px;
}


.badge {
  position: absolute;
  top: 10px;
  padding: 3px 5px;
  border-radius: 50%;
  background: red;
  color: white;
  outline: white;
  border: white;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #047BD5; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  position:fixed;
  top: 45%;
  left: 47%;
}

.heading{
    /* width:100%;  */
    height: 65px;
    background-color: rgb(77, 77, 77); 
    color:white;
    margin: 0 10%;
    padding: 7px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 5px gray;
}

.orderContainer{
    margin: 0px;
    padding: 7px 0;
    /* border-radius: 5px; */
    /* border-bottom: 1px solid gray; */
    text-align: center;   
    width: 100%;
}

.orders1:hover{
  /* box-shadow: 1px 1px 3px 3px rgb(226, 213, 213); */
  /* transform: scale(1.1); */
  /* box-shadow: 1px 1px 3px 3px rgb(224, 221, 221); */
}

.orders1{
    display:flex;
    width: 100%;
    min-width: 500px;
    border-bottom: 1px solid rgb(230, 230, 230);
    /* border-radius: 5px; */
    margin: 0px auto;
    padding: 10px;
    padding-left:25px;
    background-color: white;
    /* height: 20%; */
}

.star4{
    color:white;
    font-size: 12px;
}
#ratingNum2{
    background-color: green;
    color:white; 
    padding: 2px 5px; 
    margin-top: 0px; 
    margin-right: 10px;
    border-radius: 3px; 
    min-width: 30px; 
    text-align: center; 
    font-size: 13px;
    font-weight: 600;
    width:fit-content;
    padding-bottom: 4px;
}

.menuHead{
  font-size:26px; 
  color:rgb(51, 51, 51); 
  font-weight: 500;
  margin: 0; 
  padding:10px 30px;
  padding-bottom: 25px;
}

.left {
  width: 50%;
}
.middle{
  width: 15%;
}
.right{
  width: 35%;
  margin-top: 0.4%;
}
.checked{
  color: #047BD5;
  margin-top: 5.5%;
  margin-left: 3%;
  font-weight: 900;
}
.orderDet{
    margin-left: 17px;
    padding-left: 17px;
    margin-top: -9px;
    text-align: left;
    padding-top: 4px;
    /* padding-bottom: 10px; */
    width: 100%;
    /* display: flex; */
}

.imgs{
    height: 80px;
    width: 80px;
    /* border: 1px solid black;
    border-radius: 3px; */
}
.trash{
  font-size: 24px; color: #047BD5; border: none; background-color: white; width: 5px; margin-top: -5%;
}
.trash:focus{
  outline: none;
}

.main{
    width: 100%;
    height: 100%;
    /* display: flex; */
    /* position: relative; */
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}