<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css"
        integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css"
        integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous">


</head>

<div style="background-color:white; width:100%; ">
    <div class="main">
        <!-- <div class="heading">
            <h3 style="text-align: center;"><b> My Orders </b></h3>
        </div> -->
        <p class="menuHead" style="border-bottom: 1px solid rgb(230, 230, 230);">My Reviews and Ratings
        </p>
        <div class="orderContainer">
            <div *ngFor="let review of allReviews | paginate: {id: 'listing_pagination', itemsPerPage:5, currentPage:page, totalItems: allReviews.length }; let i=index"
                class="orders1">
                <div>
                    <img src={{products[i].image[0].imageURL}} class="imgs">
                </div>
                <div class="orderDet">
                    <!-- <h5 style="color:gray;font-size: 12px;">Order ID: {{order.orderId}}</h5> -->
                    <div class="row1" style="margin-top: 1%; display: flex;">
                        <h5 style="font-size: 15px; color: rgb(130, 130, 130); font-weight: 400;">{{products[i].productName}}
                        </h5>
                    </div>
                    <div id="reviewsContainer">
                        <div style="display:flex">
                            <h5 *ngIf="review.rating>=4" style="margin-left:10px;" id="ratingNum2">{{review.rating}}  <i class="fa fa-star star4"></i>
                            </h5>
                            <h5 *ngIf="review.rating==3" style="margin-left:10px; background-color: #fb641b;" id="ratingNum2">{{review.rating}}  <i class="fa fa-star star4"></i>
                            </h5>
                            <h5 *ngIf="review.rating<=2" style="margin-left:10px; background-color: #ff6161;" id="ratingNum2">{{review.rating}}  <i class="fa fa-star star4"></i>
                            </h5>
                            <h6 style="margin-top: 0;"><b>{{review.heading}}</b></h6>
                        </div>
                        <h6 style="margin-left:10px; margin-top: 0;">{{review.comment}}</h6>
                        <div style="display: flex; margin-top: 10px;">
                            <h6 style="color:gray;margin-top: 0;margin-left:10px; font-size: 14px; font-weight: 600;">{{review.username}} </h6>
                            <h6 style="color:gray;margin-top: 0;margin-left:20px; font-size: 14px; font-weight: 600;">{{review.date.substring(0,10)}}</h6>
                        </div>
                    </div>
                    <div style="display: flex; color: #2874f0; margin-left: 10px; margin-top: 5px;">
                        <div style="width:100px">
                            <h6 style="cursor: pointer;" (click)="rateProduct(products[i].productId, products[i].productName)">Edit</h6>
                        </div>
                        <div style="width:20%">
                            <h6 style="cursor: pointer;" (click)="deleteReview(review)">Delete</h6>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
            <pagination-controls  id="listing_pagination" maxsize="5" directionLinks="true" (pageChange)="page = $event"
                previousLabel="" nextLabel=""></pagination-controls>
            <br>
        </div>
    </div>
    <div>
        <div class="loader" [hidden]="loader1">
        </div>
    </div>

    <app-msg-dialogue [msg]="msg"></app-msg-dialogue>


</div>