

.icn {
  height: 20px;
  width: 20px;
  display: block;
}

/* * {
box-sizing: border-box;
} */

body {
font-family: Arial, Helvetica, sans-serif;
min-width: 1000px;
}


.badge {
position: absolute;
top: 10px;
padding: 3px 5px;
border-radius: 50%;
background: red;
color: white;
outline: white;
border: white;
}

.loader {
border: 16px solid #f3f3f3; /* Light grey */
border-top: 16px solid #047BD5; /* Blue */
border-radius: 50%;
width: 100px;
height: 100px;
animation: spin 2s linear infinite;
position:fixed;
top: 45%;
left: 47%;
}

.heading{
  /* width:100%;  */
  height: 65px;
  background-color: rgb(77, 77, 77); 
  color:white;
  margin: 0 10%;
  padding: 7px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 5px gray;
}

.orderContainer{
  margin: 0px;
  padding: 7px;
  /* border-radius: 5px; */
  text-align: center;   
  width: 100%;
}

.orders1:hover{
/* box-shadow: 1px 1px 3px 3px rgb(226, 213, 213); */
/* transform: scale(1.1); */
box-shadow: 1px 1px 3px 3px rgb(224, 221, 221);
}

.orders1{
  display:flex;
  width: 85%;
  /* border: 1px solid gray; */
  /* border-radius: 5px; */
  margin: 20px auto;
  padding: 10px;
  background-color: white;
  height: 20%;
}
.left {
width: 50%;
}
.middle{
width: 15%;
}
.right{
width: 25%;
}
.checked{
color: #047BD5;
/* margin-top: 5.5%; */
margin-left: 3%;
font-weight: 900;
}
.orderDet{
  margin-left: 17px;
  padding-left: 17px;
  margin-top: 5px;
  text-align: left;
  padding-top: 4px;
  padding-bottom: 10px;
  width: 100%;
}

.imgs{
  height: 80px;
  width: 80px;
  /* border: 1px solid black;
  border-radius: 3px; */
}
.showDet:hover{
  cursor: pointer;
}

.main{
  width: 100%;
  height: 100%;
  /* display: flex; */
  /* position: relative; */
}
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}