
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body style="background-color: #f0f0f0; ">
    <app-navbar></app-navbar>
    <br><br><br>
    <div class="main">
        <!-- <div class="heading">
            <h3 style="text-align: center;"><b> My Orders </b></h3>
        </div> -->
        <h5 style="padding-left: 8%; color: gray; margin-bottom: -1%; font-weight: 500;">Home > My Account > My Orders</h5>
        <div class="orderContainer" [hidden]="hideOrders">
            <div *ngFor="let order of orders | paginate: {id: 'listing_pagination', itemsPerPage:5, currentPage:page, totalItems: orders.length }; let i=index" class="orders1">
                <div>
                    <img src={{products[i].image[0].imageURL}} class="imgs">
                </div>
                <div class="orderDet">
                    <!-- <h5 style="color:gray;font-size: 12px;">Order ID: {{order.orderId}}</h5> -->
                    <div style="display: flex; margin-left: -1.5%; width:100%; " >
                    <!-- <div class="column left"> -->
                    <h5 style="font-size: 20px; color: #152336; font-weight: 500; width: 30%;">{{products[i].productName}}</h5>
                    
                    <!-- </div> -->
                    <!-- <div> -->
                        <h5 style="font-size: 15px; color: #152336; font-weight: 500; width: 25%; margin-top: 6px;">Order ID: {{order.orderId}}</h5>
                    <!-- </div> -->
                    <!-- <div class="column middle"> -->
                    <h5 style="font-size:20px; color: #152336; font-weight: 500; width: 15%;">&#8377;{{order.totalAmount}}</h5>
                    <!-- </div> -->
                    <!-- <div class="column right"> -->
                    <a (click)="rateProduct(products[i].productId, products[i].productName)" style="width:30%;"><span  class="fa fa-star checked"> RATE & REVIEW PRODUCT</span></a>
                    <!-- </div> -->
                    </div>
                    <div style="display: flex; margin-left: -1.5%; width:100%; margin-top: 4px;">
                        <h5 style="font-size: 15px; margin-bottom: -5px; color: gray;font-weight: 500; width:30%;">Seller : {{products[i].createdBy}}</h5>
                        <h5 style="font-size: 15px; margin-bottom: -5px; color: gray;font-weight: 500; width:25%;">Quantity : {{order.quantity}}</h5>
                        <h5 style="font-size: 15px; margin-bottom: -5px; color: gray;font-weight: 500; width:25%;">Date : {{order.date.substring(0,10)}}</h5>
                        <!-- <h5 style="font-size: 15px; margin-bottom: -5px;">Quantity : {{order.quantity}}</h5> -->
                        <h5 class="showDet" style="font-size:15px; margin-bottom: -5px;color: gray; font-weight: 450; width:20%;">Show Details 
                            <i class="fa fa-angle-down" (click)="showAddr(i)" *ngIf="hideOrderDet[i]"></i>
                            <i class="fa fa-angle-up" (click)="hideAllAddrs()" *ngIf="!hideOrderDet[i]"></i>
                        </h5>
                    </div>
                    <div [hidden]="hideOrderDet[i]">
                        <h5 style="font-size: 17px; margin-top: 25px; color: #152336; font-weight: 500; margin-left: -1.5%;">Delivered To,</h5>
                        <div style="margin-left: 0;">
                            <h5 style="font-size: 16px; margin-bottom: 0; color: #152336; font-weight: 500;">{{allAddresses[i].firstName}} {{allAddresses[i].lastName}}</h5>
                            <h5 style="font-size: 15px; margin-bottom: 0; color: gray; font-weight: 500;">Address: {{allAddresses[i].address}}, {{allAddresses[i].city}}</h5>
                            <h5 style="font-size: 15px; margin-bottom: 0; color: gray; font-weight: 500;">Pin:  {{allAddresses[i].zipCode}}</h5>
                            <h5 style="font-size: 15px; margin-bottom: 0; color: gray;; font-weight: 500;">Country: {{allAddresses[i].country}}</h5>
                            <h5 style="font-size: 15px; margin-bottom: 0; color: gray; font-weight: 500;">State: {{allAddresses[i].state}}</h5>                 
                        </div>
                    </div>

                </div>
            </div>
            <br><br>
            <pagination-controls id="listing_pagination" maxsize="5" directionLinks="true" (pageChange)="page = $event" previousLabel=""
            nextLabel=""></pagination-controls>
            <br>
        </div>
    </div>
    <div>
        <div class="loader" [hidden]="loader1">
        </div>    
    </div>

    <app-msg-dialogue [msg]="msg"></app-msg-dialogue>
    <app-rate-prroduct [prodId]="rateProdId" [prodName]="rateProdName" [rating]="rateProdRating" [comment]="rateProdReview"
       [heading]="rateProdHeading" *ngIf="showRatingDiv" (rateEvent)="ratingComplete($event)">
    </app-rate-prroduct>

    <app-footer></app-footer>

</body>