<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

<span class="rateDiv">
  <div style="display: inline;">
    <h5 *ngIf="rating>=4 || rating==0" class="ratingNum">{{rating}}  <i class="fa fa-star star4"></i>
    </h5>
    <h5 *ngIf="rating>2 && rating<4" style="background-color: #fb641b;" class="ratingNum">{{rating}}  <i class="fa fa-star star4"></i>
    </h5>
    <h5 *ngIf="rating<=2 && rating!=0" style="background-color: #ff6161;" class="ratingNum">{{rating}}  <i class="fa fa-star star4"></i>
    </h5>
  </div>
  <div *ngIf="showOnlyNum">
    <h5 class="dets">({{count}})</h5>
  </div>
  <div *ngIf="!showOnlyNum">
    <h5 *ngIf="count==0" class="dets">{{count}} Rating</h5>
    <h5 *ngIf="count==1" class="dets">{{count}} Rating</h5>
    <h5 *ngIf="count>1" class="dets">{{count}} Ratings</h5>
  </div>

  <!-- <div style="display: inline; margin-top: 3px;">
    <div> -->
      <!-- <i [ngClass]="{
          'fa fa-star star1': rating>=1,
          'fa fa-star-half star3': rating>0 && rating<1,
          'fa fa-star star2': rating<=0
          }">
        </i>
        <i [ngClass]="{
          'fa fa-star star1': rating>=2,
          'fa fa-star-half star3': rating>1 && rating<2,
          'fa fa-star star2': rating<=1
          }">
        </i>
        <i [ngClass]="{
          'fa fa-star star1': rating>=3,
          'fa fa-star-half star3': rating>2 && rating<3,
          'fa fa-star star2': rating<=2
          }">
        </i>
        <i [ngClass]="{
          'fa fa-star star1': rating>=4,
          'fa fa-star-half star3': rating>3 && rating<4,
          'fa fa-star star2': rating<=3
          }">
        </i>
        <i [ngClass]="{
          'fa fa-star star1': rating>=5,
          'fa fa-star-half star3': rating>4 && rating<5,
          'fa fa-star star2': rating<=4
          }">
        </i> -->
      <!-- <i class="fa fa-star star1" *ngIf="rating>=1"></i>
      <i class="fa fa-star star1" *ngIf="rating>=2"></i>
      <i class="fa fa-star star1" *ngIf="rating>=3"></i>
      <i class="fa fa-star star1" *ngIf="rating>=4"></i>
      <i class="fa fa-star star1" *ngIf="rating>=5"></i>


      <i class="fa fa-star-half star3" *ngIf="rating>0 && rating<1"></i>
      <i class="fa fa-star-half star3" *ngIf="rating>1 && rating<2"></i>
      <i class="fa fa-star-half star3" *ngIf="rating>2 && rating<3"></i>
      <i class="fa fa-star-half star3" *ngIf="rating>3 && rating<4"></i>
      <i class="fa fa-star-half star3" *ngIf="rating>4 && rating<5"></i>

      <i class="fa fa-star star2" *ngIf="rating<=0"></i>
      <i class="fa fa-star star2" *ngIf="rating<=1"></i>
      <i class="fa fa-star star2" *ngIf="rating<=2"></i>
      <i class="fa fa-star star2" *ngIf="rating<=3"></i>
      <i class="fa fa-star star2" *ngIf="rating<=4"></i> -->
    <!-- </div>



  </div> -->


  <!-- <input type="number" name="rating" [(ngModel)]="rating"> -->
</span>