.star1{
    font-size: 20px;
    color:gold;
}
.star2{
    font-size: 20px;
    color:rgb(201, 201, 201);
}
.rateDiv{
    padding-left: 2px;
    /* padding-top: 10px; */
    /* margin: auto; */
    height:fit-content;
    width: fit-content;
    display: flex;
}
.star3{
    font-size: 20px;
    color:gold;
    margin-right: 8px;
}
.star4{
    color:white;
    font-size: 15px;
}
.ratingNum{
    background-color: green;
    color:white; 
    padding: 2px 5px; 
    margin-top: 0px; 
    margin-right: 10px;
    border-radius: 3px; 
    min-width: 30px; 
    text-align: center; 
    font-size: 15px;
    font-weight: 600;
}
.reviewsDiv{
    margin-bottom: 200px;
    padding-bottom: 200px;
    background-color: red;
}
.dets{
    color:gray;
    font-size: 17px;
    font-weight: 600;
    margin-top: 0;
}
