<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://www.google.com/reCAPTCHA/api.js" async defer></script>
  <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">  <script
    src="https://kit.fontawesome.com/yourcode.js">
    </script>
</head>

<body>
  <div class="container-fluid img-bg " style="background-color:black; opacity:1; ">
    <ul>
      <div class="row">
        <div class="col-sm-4">
          <li>
            <h2 style="font-family: Alata;">Megamart</h2>
          </li>
        </div>
        <div class="col-sm-4">
          <li></li>
        </div>
        <div class="col-sm-4">
          <li style="float: right; padding: 14px 16px;"><button class="btn btn-info btn-primary"
              [routerLink]="['/login']">Login</button></li>
        </div>
      </div>
    </ul>
    <br><br>
    <br><br>
    <form #Registerform="ngForm" (ngSubmit)="registerUser(Registerform)">
      <div class="row">
        <!--Main outer row Starts here-->
        <!-- {{loginform.form.valid}} -->
        <!-- <small [class.text-danger]="msg.status==500">{{msg.message}}</small> -->
        <!--First Box Starts here-->
        <div class="col-md-6" style="background: rgba(77, 77, 78, 0.5);flex: 1;margin: 1em; padding:1em,1em,0em,1em;
        border-style: hidden;">
          <!-- style="background: rgba(245, 246, 248, 0.5);" -->
          <h4 style="color:white">Create Account!</h4>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group required">
                <label class="control-label" for="fname" style="color:white">First Name</label>
                <input type="text" class="form-control input-sm " id="fname" placeholder="First Name" name="fname"
                  [(ngModel)]="user.firstName" maxlength="20"
                  onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))'
                  required #fname="ngModel" [class.is.invalid]="fname.invalid && fname.touched">
                <div *ngIf="fname.errors && fname.invalid && fname.touched">
                  <small class="text-danger" [class.d.none]="fname.valid || fname.untouched">First Name is mandatory
                    field</small>
                  <!-- <small class="text-danger" *ngIf="fname.errors.required">First Name is mandatory field</small> -->
                  <small class="text-danger" *ngIf="fname.errors.pattern">Enter First Name in valid format</small>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="mname" style="color:white">Middle Name</label>
                <input type="name" class="form-control" id="mname" placeholder="Middle name" name="mname"
                  [(ngModel)]="user.middleName" maxlength="20"
                  onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))'
                  #mname="ngModel" [class.is.invalid]="mname.invalid">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group required">
                <label class="control-label" for="lname" style="color:white">Last Name</label>
                <input type="name" class="form-control " id="lname" placeholder="Last name" name="lname"
                  [(ngModel)]="user.lastName" maxlength="20"
                  onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))'
                  required #lname="ngModel" [class.is.invalid]="lname.invalid && lname.touched">

                <div *ngIf="lname.errors && lname.invalid && lname.touched">
                  <small class="text-danger" [class.d.none]="lname.valid || lname.untouched">Last Name is mandatory
                    field</small>
                  <!-- <small class="text-danger" *ngIf="fname.errors.required">First Name is mandatory field</small> -->
                  <!-- <small class="text-danger" *ngIf="fname.errors.pattern">Enter First Name in valid format</small> -->
                </div>

              </div>
            </div>
          </div>
          <!-- ///////////////////// -->

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group required">
                <label class="control-label" for="email" style="color:white">Email Address</label>
                <!-- <span class="glyphicon glyphicon-envelope"></span> -->
                <input type="email" class="form-control glyphicon glyphicon-envelope" id="email"
                  placeholder="Enter email" name="email" [(ngModel)]="user.email" maxlength="50" required
                  pattern="^[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #email="ngModel"
                  [class.is.invalid]="email.invalid && email.touched">
                <!-- <small class="text-danger" [class.d.none]="email.valid || email.untouched">Email Id is mandatory field</small> -->
                <div *ngIf="email.errors && email.invalid && email.touched">
                  <small class="text-danger" *ngIf="email.errors.required">Email Address is mandatory field</small>
                  <small class="text-danger" *ngIf="email.errors.pattern">Enter EmailId in valid format</small>
                </div>
              </div>
            </div>
            <div class="col-sm-6"></div>
          </div>
          <!-- ////////////////////////////// -->
          <!-- div row for contact and password starts here -->
          <div class="form-row">
            <div class="col-sm-6">
              <div class="form-group required">
                <label class="control-label" for="primary_contact" style="color:white">Contact No</label>
                <div class="form-row">
                  <div class="col-sm-4">
                    <input class="form-control" readonly value="+91" style="margin:0em;">
                  </div>
                  <div class="col-sm-8">
                    <!-- ^[7-9\-\+]{10}$  [7-9]{1}-[0-9]{8}-->
                    <input type="text" class="form-control validate" placeholder="Primary contact "
                      name="primary_contact" required pattern="[7-9]{1}[0-9]{9}" [(ngModel)]="user.primaryContact"
                      [class.is.invalid]="primary_contact.invalid && primary_contact.touched" #primary_contact="ngModel"
                      maxlength="10">
                    <div *ngIf="primary_contact.errors && primary_contact.invalid && primary_contact.touched">
                      <!-- <small class="text-danger" [class.d.none]="password.valid || password.untouched">Password is mandatory
                                   field</small> -->
                      <small class="text-danger" *ngIf="primary_contact.errors.required">Enter Contact number</small>
                      <small class="text-danger" *ngIf="primary_contact.errors.pattern">Contact no. should be of 10 digits starting with 7/8/9</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="alternateContact" style="color:white">Alternate Contact No</label>
                <div class="form-row">
                  <div class="col-sm-4">
                    <input class="form-control" readonly value="+91" style="margin:0em;">
                  </div>
                  <div class="col-sm-8">
                    <input type="tel" class="form-control validate" maxlength="10" placeholder="Secondary contact"
                      required pattern="[7-9]{1}[0-9]{9}" [class.is.invalid]="primary_contact.invalid"
                      [(ngModel)]="user.alternateContact" #alternateContact="ngModel" name="alternateContact">
                    <div *ngIf="alternateContact.errors && alternateContact.invalid && primary_contact.touched">
                      <small class="text-danger" *ngIf="alternateContact.errors.pattern">Contact no.should be of 10 digits starting with 7/8/9 
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-sm-6">
              <!-- div for password starts here -->
              <div class="form-group required">
                <label class="control-label" for="pwd" style="color:white">Password</label>
                <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password"
                  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                  [(ngModel)]="user.password"  minlength="8"  maxlength="16" required #password="ngModel"
                  [class.is.invalid]="password.invalid && password.touched">
                <div *ngIf="password.errors && password.invalid && password.touched">
                  <!-- <small class="text-danger" [class.d.none]="password.valid || password.untouched">Password is mandatory
                               field</small> -->
                  <small class="text-danger" *ngIf="password.errors.required">Enter password</small>
                  <small class="text-danger" *ngIf="password.errors.pattern">Password should be alphanumeric containing
                    atleast 1 UpperCase, 1 lowercase,1 digit and 1 symbol. </small>
                </div>
              </div><!-- div for password ends here -->
            </div>
            <div class="col-sm-6">
              <div class="form-group required">
                <label class="control-label" for="cpassword" style="color:white">Confirm Password</label>
                <input type="password" class="form-control" id="cpassword" placeholder="Re-enter the password"
                  name="cpassword" #cpassword="ngModel" (ngModel)="user.password"
                  [class.is.invalid]="cpassword.invalid && cpassword.touched">
                <small class="text-danger"
                  [class.d-none]="(cpassword.value == password.value) || cpassword.untouched">Password and Confirm
                  Password
                  must be same</small>
                <!-- <div *ngIf="cpassword.errors && cpassword.invalid && cpassword.touched">
                           
                             <small class="text-danger" *ngIf="password.errors.required">Enter your password</small>
                             <small class="text-danger" *ngIf="email.errors.pattern">Enter EmailId in valid format</small> 
                           </div> -->

              </div>
            </div>
          </div>
          <!-- div row for contact and password ends here -->

        </div><!-- First box ends here -->
        <div class="col-md-6" style="background: rgba(77, 77, 78, 0.5); flex: 1;margin: 1em;padding:1em,1em,0em,1em;
      border-style: hidden;">
          <!-- Second box starts here -->
          <br>
          <!-- <input class="form-check-input" type="radio" value="dog" 
[(ngModel)]="dog.value" name="gob" value="i" [checked]="true" 
(change)="onItemChange($event.target.value)"/> -->
          <div class="form-group ">
            <label for="gender" class="radio-inline req" style="color:white">Gender
              <label class="radio-inline" style="margin-right: 5px">
                <input type="radio" value="Male" name="gender" ngModel="gender" [(ngModel)]="user.gender">Male
              </label>
              <label class="radio-inline" style="margin-right: 5px">
                <input type="radio" value="Female" name="gender" ngModel="gender" [(ngModel)]="user.gender">Female
              </label>
              <label class="radio-inline">
                <input type="radio" value="Other" name="gender" ngModel="gender" [(ngModel)]="user.gender">Other
              </label>
            </label>
          </div>
          <div class="form-group">
            <label for="role" class="radio-inline req" style="margin-right: 50px; padding-right:20px;color: white;"
              required>Role
              <label class="radio-inline" style="margin-right: 5px;color: white;">
                <input type="radio" value="1" name="roleId" ngModel="user.roleId" [(ngModel)]="user.roleId">User
              </label>
              <label class="radio-inline">
                <input type="radio" value="2" name="roleId" ngModel="user.roleId" [(ngModel)]="user.roleId">Vender
              </label>
            </label>
            <!-- <input class="radio-inline" class="form-control" type="radio" name="optradio" required="required"
  class="form-control validate" value="User" /> User
<input class="radio-inline" type="radio" class="form-control" name="optradio" required="required"
  class="form-control validate" value="User" /> Vendor <br> -->
          </div>

          <!-- row and col for security q and a -->
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group required">
                <label class="control-label" style="color:white">Security Question</label>
                <select type="text" class="form-control" name="security_question" (change)="selectChangeHandler($event)"
                [(ngModel)]="user.securityQuestion">
                  <option>My Birth City</option>
                  <option>My Favourite Player</option>
                </select>
              </div>

            </div>
            <div class="col-sm-6">
              <div class="form-group required">
                <label for="answer" class="control-label" style="color:white">Answer</label>
                <input type="text" class="form-control validate" placeholder="Answer here " name="answer"
                  [(ngModel)]="user.securityAnswer" required #answer="ngModel"
                  [class.is.invalid]="answer.invalid && answer.touched">
                <div class="g-reCAPTCHA" data-sitekey="your_site_key"></div>
                <div *ngIf="answer.errors && answer.invalid && answer.touched">
                  <small class="text-danger" *ngIf="answer.errors.required">Enter your Answer</small>
                </div>
              </div>
            </div>
          </div>
           <ngx-recaptcha2 [size]="size" #captchaElem [siteKey]="siteKey">
                      </ngx-recaptcha2>
              <div class="checkbox">
                <label  style="color:white"><input type="checkbox" [(ngModel)]="user.iAgree" required name="iAgree" #iAgree="ngModel" [class.is.invalid]="iAgree.invalid && iAgree.touched">
                I Agree the terms & conditions.
                </label></div>
        </div>
      </div> <!-- Main outer row closes here -->
      <div class="row">
        <div class="col-md-6">
          <button style="float: right;" [disabled]="Registerform.form.invalid" class="btn btn-danger">Cancel</button>
        </div>
        <div class="col-md-6">
          <button style="float: left;" [disabled]="Registerform.form.invalid"
            type="submit" class="btn btn-info">Register</button>
        </div>
      </div>
      <br>
      <div class="footer">
        <div class="navbar">
          <a href="#c" style="color:white">2020 Megamart. All rights Reserved.</a>
          <a href="#info" style="color:white">Contact Us: Info@megamart.com</a>
          <a href="#social" style="color:white">Social</a>
        </div>
      </div>
    </form>
  </div><!-- container closes here -->
  <app-msg-dialogue [msg]="msg2" (result)="msgResult()"></app-msg-dialogue>
</body>

</html>