
/* .container {
    padding: 16px;
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
     display: inline-block;
    border: none;
    background:(235, 230, 230);
    }
     */
      /* 
.container {
padding: 16px;
width: 500%;
padding: 15px;
margin: 5px 0 22px 0;
display: inline-block;
border: greenyellow;
background:whitesmoke;

  } */
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 25px;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color:inherit;
    float: left;
    border:black;
    border-width: 8px;
    border-radius: 4px;
    outline: black;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.8s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color:navy;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  
  /* .form-group{
    padding: 16px;
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
     display: inline-block;
    border: black;
    border-radius: 4px;;
    background:rgb(128, 128, 128);
  }  
      */
      .bg {
  /* The image used */
  background-image:url("images/shopping.jpg");
  /* C:/Users/1819455/Documents/TCS Internal/E-commerce Application/E-commerce Angular */
  /* Full height */
  height: 100%; 
  width:100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  /* background-color: rgba(255,255,255,0.6); */
  background-size: cover;
  /* background-blend-mode: darken; */
  /* opacity:1.5; */

}
.img-bg{
  background-image:url("images/shopping.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
    
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #111;
  opacity: 0.5;
  text-align: center;
}
ul {
  /* list-style-type: none; 
  margin: 0;
  padding: 0; */
  position: fixed;
  width: 100%;
  left:0;
  overflow: hidden;
  background: rgba(0, 3, 8, 0.5); 
}
li {
  float: left;
}

li {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
/* li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} */
.form-group.required .control-label:after { 
  content:" *";
  color:red;
}
.req:before {
  content:" *";
  color: red;
}
.alertLogCss{
  background-color: white;
  color: red;
  font-size: 10px;
}
